<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="paymentTableRef">

                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{offlineTransactionTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{offlineTransactionTableBean.toDateFilter}" />		
                        <p:commandButton value="Get Offline Transactions" onstart="showProgress()" oncomplete="hideProgress()" update=":paymentTableRef" action="#{offlineTransactionTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="transactionTable" lazy="true" var="transaction" 
                             value="${offlineTransactionTableBean.lazyDataModel}" paginator="true" sortField="dateCreated" sortOrder="ascending" 
                             rows="${offlineTransactionTableBean.rowcount}"  selectionMode="single" selection="#{transactionBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        <div align="center">
                            Offline Transactions
                        </div>
                        <div align="left">

                            <p:commandButton value="Open Offline Transactions" onclick="PF('processoffline').show();" rendered="${not empty offlineTransactionTableBean.allList}" 
                                             styleClass="GreenButton Fleft"/> 
                            <p:outputLabel style="color: #F23030 !important" value="NGN ${offlineTransactionTableBean.totalAmountF}" rendered="${not empty offlineTransactionTableBean.allList}"/>
                        </div> 
                    </f:facet>
                    <p:column headerText="Creation Date" style="width: 125px"><h:outputText value="#{transaction.dateCreatedStr}" /></p:column>
                    <p:column headerText="Payment Reference" ><h:outputText value="#{transaction.payment.paymentReference}" /></p:column>
                    <p:column headerText="Transaction Reference" rendered="false" style="width: 140px"><h:outputText value="#{transaction.transactionReference}" /></p:column>
                    <p:column headerText="Narration" ><h:outputText value="#{transaction.narration}" /></p:column>
                    <p:column headerText="Beneficiary" style="width: 250px"><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                    <p:column headerText="Amount (NGN)" style="width: 85px"><h:outputText value="#{transaction.amountf}" /></p:column>

                    <p:column headerText="Status" style="width: 140px"><h:outputText value="#{transaction.status}" /></p:column>
                </p:dataTable>

            </h:form>
            
                <h:form>

                <p:confirmDialog widgetVar="processoffline"  message="you are about to open offline settlement transactions for processing, Are you sure you want to continue?" width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('processoffline').hide();" update=":paymentTableRef" />
                    <p:commandButton value="Go Ahead" onstart="showProgress()" oncomplete="hideProgress();PF('processoffline').hide();" update=":paymentTableRef,:growl" action="${offlineTransactionTableBean.openTransactions}" />
                </p:confirmDialog>
            </h:form>
        </div></div>
</ui:composition>