<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="incomeTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10"> 
                        <p:outputLabel for="gbankfilter" rendered="#{userBean.etzUser}" value="Bank Filter:" />
                        <p:selectOneMenu id="gbankfilter" filter="true" filterMatchMode="startsWith"  rendered="#{userBean.etzUser}"  style="width:200px" value="#{incomeTableBean.bankFilter}"  converter="bankConverter" >
                            <p:ajax event="change" update=":growl,gcorporatefilter" listener="#{incomeTableBean.handleBankChange}" /> 
                            <f:selectItem itemLabel="--Banks--" itemValue="" />  
                            <f:selectItems value="#{incomeTableBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="gcorporatefilter" value="Corporate:" />
                        <p:selectOneMenu id="gcorporatefilter" filter="true" filterMatchMode="startsWith"   style="width:200px" value="#{incomeTableBean.corporateFilter}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Corporates--" itemValue="" />  
                            <f:selectItems value="#{incomeTableBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="statusfilter" rendered="#{userBean.bankUser}"  value="Income Owner Filter:" />
                        <p:selectOneMenu id="statusfilter" rendered="#{userBean.bankUser}"  style="width:200px"  value="#{incomeTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Owner--" itemValue="" />  
                            <f:selectItem itemLabel="Bank" itemValue="BS" />  
                            <f:selectItem itemLabel="Third Party 1" itemValue="TPS" />  
                            <f:selectItem itemLabel="Third Party 2" itemValue="TPS2" />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{incomeTableBean.fromDateFilter}" required="true" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{incomeTableBean.toDateFilter}" required="true" />	
                        <p:outputLabel/>
                        <p:commandButton value="Get Report" onstart="showProgress()" oncomplete="hideProgress()" update=":incomeTableRef" action="#{incomeTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="transactionTable" lazy="true" var="settlement" class="Container100_"
                             value="${incomeTableBean.lazyDataModel}" paginator="true" sortField="dateCreated" sortOrder="ascending" 
                             rows="${incomeTableBean.rowcount}"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> 
                        <div align="center">
                            Income
                        </div>
                        <div align="left">
                            <p:commandLink  ajax="false" update=":incomeTableRef" rendered="${not empty incomeTableBean.allList}"  action="#{reportBean.generateTransIncomeReport('pdfTransRep')}"  title="PDF Download">
                                <h:graphicImage name="images/pdf.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                            <p:commandLink  ajax="false" rendered="${not empty incomeTableBean.allList}"  action="#{reportBean.generateTransIncomeReport('excelTransRep')}" update=":incomeTableRef"  title="Excel Download with Graphics">
                                <h:graphicImage name="images/excel.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                            <p:commandLink  ajax="false" update=":incomeTableRef" rendered="${not empty incomeTableBean.allList}"  action="#{reportBean.generateTransIncomeReport('excelTransRep2')}"  title="Plain Excel Download">
                                <h:graphicImage name="images/excel.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </div>  
                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{incomeTableBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="Initiating Corporate" style="width: 150px"><h:outputText value="#{settlement.corporate.corporateName}" /></p:column>
                    <p:column headerText="Initiating Bank" style="width: 150px"><h:outputText value="#{settlement.corporate.bank.bankName}" /></p:column>
                    <p:column headerText="Income Owner" rendered="#{userBean.bankUser}" style="width: 80px" ><h:outputText value="#{settlement.owner}" /></p:column> 
                    <p:column headerText="Income BatchId" style="width: 150px"><h:outputText value="#{settlement.sbatchId}" /></p:column>
                    <p:column headerText="Payment Reference" ><h:outputText value="08#{settlement.batchId}" /></p:column>
                    <p:column headerText="Narration" style="width: 300px"><h:outputText value="#{settlement.narration}" /></p:column>
                    <p:column headerText="Amount(NGN)"><h:outputText value="#{settlement.amountf}" /></p:column>
                </p:dataTable>

            </h:form>
        </div></div>
</ui:composition>