<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="settlementTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10"> 
           <p:outputLabel for="bankfilter" rendered="#{empty userBean.supportBank}" value="Bank" />
                        <p:selectOneMenu id="bankfilter" filter="true" filterMatchMode="startsWith"  rendered="#{empty userBean.supportBank}" style="width:200px" value="#{settlementTableBean2.srcBankFilter}"  converter="bankConverter" > 
                            <p:ajax event="change" update="gcorporatefilter" onstart="showProgress()" oncomplete="hideProgress()" listener="#{settlementTableBean2.handleBankChange}" />
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{settlementTableBean2.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="gcorporatefilter" value="Corporate:" />
                        <p:selectOneMenu id="gcorporatefilter" filter="true" filterMatchMode="startsWith"   style="width:240px" value="#{settlementTableBean2.srcCorporateFilter}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{settlementTableBean2.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{settlementTableBean2.fromDateFilter}" required="true" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{settlementTableBean2.toDateFilter}" required="true" />	
                        <p:commandButton value="Get Report" onstart="showProgress()" oncomplete="hideProgress()" update=":settlementTableRef" action="#{settlementTableBean2.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="dummyTable" lazy="true" var="settlement"
                             value="${settlementTableBean2.lazyDataModel}"
                             rows="${settlementTableBean2.rowcount}"    paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> 
                        <div align="center">
                            Reversals
                        </div>
                        <div align="left">
                            <p:commandLink  ajax="false" update=":settlementTableRef" rendered="${not empty settlementTableBean2.allList}"  action="#{reportBean.generateSettlementReversalReport(settlementTableBean2.allList,'excelTransRep2')}"  title="Plain Excel Download">
                                <h:graphicImage name="images/excel.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </div>  
                    </f:facet>
                    <p:column headerText="Payment Id"><h:outputText value="08#{settlement.batchId}" /></p:column>
                    <p:column headerText="Reversal Bulk Id" rendered="${userBean.etzUser or userBean.bankUser}"><h:outputText value="#{settlement.uniqueTransId}" /></p:column>
                    <p:column headerText="Company Name"><h:outputText value="#{settlement.corporate.corporateName}" /></p:column>
                    <p:column headerText="Amount" ><h:outputText value="#{settlement.amountf}" /></p:column>
                    <p:column headerText="Reversal Date" ><h:outputText value="#{settlement.dateCreatedStr}" /></p:column>
                    <p:column headerText="Transaction Count" ><p:commandLink style="color:blue !important"  ajax="true" action="#{settlementTableBean2.pullReversedTransactions(settlement.sbatchId)}" update=":settlementTableRef:ftransactionTable"  value="#{settlement.transCount}"  title="reversed transaction" onstart="showProgress()" oncomplete="PF('revtransactions').show();hideProgress()"/></p:column>
                </p:dataTable>



                <p:dialog widgetVar="revtransactions" modal="true" width="70%"  resizable="false" closable="true"  >
                    <p:ajax event="close"   listener="#{settlementTableBean2.onDialogClose}" />
                    <p:dataTable id="ftransactionTable" rowKey="transactionId"  var="transaction" 
                                 value="${settlementTableBean2.transactions}" paginator="true" 
                                 rows="7"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="5,10,15">

                        <f:facet name="header">  <div align="center">
                               Reversed Transactions
                            </div>

                        </f:facet>
                        <p:column headerText="Transaction Reference" filterBy="#{transaction.transactionReference}" filterMatchMode="contains">    <h:outputText value="#{transaction.transactionReference}" /></p:column>
                        <p:column headerText="Beneficiary" filterBy="#{transaction.beneficiary.account.accountIdentity}" filterMatchMode="contains" style="width: 400px" ><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                        <p:column headerText="Narration" filterBy="#{transaction.narration}" filterMatchMode="contains">
                            <h:outputText value="#{transaction.narration}" />
                        </p:column>
                        <p:column headerText="Amount" filterBy="#{transaction.amount}" filterMatchMode="exact">
                            <h:outputText value="#{transaction.amount}" />
                        </p:column>
                    </p:dataTable>

                </p:dialog>

            </h:form>
        </div></div>
</ui:composition>