<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="reversedTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10"> 
                        <p:outputLabel for="paymentRef" value="Payment Reference:" />
                        <p:inputText id="paymentRef" title="Payment Reference" value="${transactionReversalTableBean.paymentRefFilter}" placeholder="Payment Reference"/>
                        <p:outputLabel for="transRef" value="Transaction Reference:" />
                        <p:inputText id="transRef" title="Transaction Reference" value="${transactionReversalTableBean.transactionRefFilter}" placeholder="Transaction Reference"/>
                        <p:outputLabel for="narration" value="Narration:" />
                        <p:inputText id="narration" title="Narration" value="${transactionReversalTableBean.narration}" placeholder="Narration"/>
                        <p:outputLabel for="accountNo" value="Account Number" />
                        <p:inputText id="accountNo" title="account Number" value="${transactionReversalTableBean.accountNumber}" placeholder="Amount Number"/>
                        <p:outputLabel for="accountName" value="Account Number:" />
                        <p:inputText id="accountName" title="Account Name" value="${transactionReversalTableBean.accountName}" placeholder="Amount Name"/>
                        <p:outputLabel for="amount" value="Amount:" />
                        <p:inputText id="amount" title="Amount" value="${transactionReversalTableBean.amount}" placeholder="Amount"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{transactionReversalTableBean.fromDateFilter}" required="true" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{transactionReversalTableBean.toDateFilter}" required="true" />	
                        <p:outputLabel/>
                        <p:commandButton value="Get Report" onstart="showProgress()" oncomplete="hideProgress()" update=":reversedTableRef" action="#{transactionReversalTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="transactionTable" lazy="true" var="transaction" class="Container100_"
                             value="${transactionReversalTableBean.lazyDataModel}" paginator="true" sortField="transactionReference" sortOrder="descending" 
                             rows="${transactionReversalTableBean.rowcount}"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> 
                        <div align="center">
                           Reversed Transactions
                        </div>
                        <div align="left">
                            <p:commandLink  ajax="false" update=":reversedTableRef" rendered="${not empty transactionReversalTableBean.allList}"  action="#{reportBean.generateTransRevReport('pdfTransRep')}"  title="PDF Download">
                                <h:graphicImage name="images/pdf.png"  width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                               <p:commandLink  ajax="false" update=":reversedTableRef" rendered="${not empty transactionReversalTableBean.allList}"  action="#{reportBean.generateTransRevReport('excelTransRep')}"  title="Excel Download with Graphics">
                                <h:graphicImage name="images/excel.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                                    <p:commandLink  ajax="false" update=":reversedTableRef" rendered="${not empty transactionReversalTableBean.allList}"  action="#{reportBean.generateTransRevReport('excelTransRep2')}"  title="Plain Excel Download">
                                <h:graphicImage name="images/excel.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </div>  
                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{transactionReversalTableBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="Initiating Corporate" rendered="false" style="width: 80px" ><h:outputText value="#{transaction.corporate.corporateName}" /></p:column>
                    <p:column headerText="Initiating Bank" rendered="false" style="width: 80px" ><h:outputText value="#{transaction.corporate.bank.bankName}" /></p:column>
                    <p:column headerText="Payment Reference" style="width: 80px" ><h:outputText value="08#{transaction.payment.paymentReference}" /></p:column>
                    <p:column headerText="Transaction Reference" style="width: 140px"><h:outputText value="08#{transaction.transactionReference}" /></p:column>
                    <p:column headerText="Beneficiary Bank" style="width: 80px"><h:outputText value="#{transaction.beneficiary.account.bankName}" /></p:column>
                    <p:column headerText="Beneficiary Name" style="width: 80px"><h:outputText value="#{transaction.beneficiary.beneficiaryName}" /></p:column>
                    <p:column headerText="Beneficiary Account" style="width: 80px"><h:outputText value="#{transaction.beneficiary.account.accountNumber}" /></p:column>
                    <p:column headerText="Narration" style="width: 180px"><h:outputText value="#{transaction.narration}" /></p:column>
                    <p:column headerText="Amount(NGN)" style="width: 85px"><h:outputText value="#{transaction.amountf}" /></p:column>
                    <p:column headerText="Authorized Date" style="width: 80px" ><h:outputText value="#{transaction.payment.authorizedDateStr}" /></p:column>
                    <p:column headerText="Reversed Date" style="width: 80px" ><h:outputText value="#{transaction.dateReversedStr}" /></p:column>
                    <p:column headerText="Authorized By" style="width: 80px" ><h:outputText value="#{transaction.payment.authorizedBy}" /></p:column>
                    <p:column headerText="Failed Response" style="width: 85px"><h:outputText value="#{not empty transaction.responseCode and transaction.responseCode ne '0' and transaction.responseCode ne '00' and transaction.responseCode ne '000'?'':transaction.responseCode}" /></p:column>
                </p:dataTable>

            </h:form>
        </div></div>
</ui:composition>