<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="settlementTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10"> 
                        <p:outputLabel for="bankfilter" rendered="#{empty userBean.supportBank}" value="Bank" />
                        <p:selectOneMenu id="bankfilter" filter="true" filterMatchMode="startsWith"  rendered="#{empty userBean.supportBank}" style="width:200px" value="#{settlementTableBean.srcBankFilter}"  converter="bankConverter" > 
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{settlementTableBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="statusfilter"  value="Settlement Report type:" />
                        <p:selectOneMenu id="statusfilter" style="width:200px" required="true"  value="#{settlementTableBean.settlementTypeFilter}" >
                            <f:selectItem itemLabel="--Select Owner--" itemValue="" />  
                            <f:selectItem itemLabel="Incoming Summary" itemValue="IS" />  
                            <f:selectItem itemLabel="Outgoing Summary" itemValue="OS" />  
                            <f:selectItem itemLabel="Same Bank Summary" itemValue="SBS" />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{settlementTableBean.fromDateFilter}" required="true" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{settlementTableBean.toDateFilter}" required="true" />	
                        <p:commandButton value="Get Report" onstart="showProgress()" oncomplete="hideProgress()" update=":settlementTableRef" action="#{settlementTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="dummyTable" lazy="true" style="display:false" var="trans"
                             value="${settlementTableBean.lazyDataModel}"
                             rows="${settlementTableBean.rowcount}" emptyMessage="" >
                </p:dataTable>
                <p:dataTable id="transactionTable" var="settlementDto" class="Container100_"
                             value="${settlementBean.settlementDtos}" paginator="true" sortField="companyName" sortOrder="ascending" 
                             rows="20"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> 
                        <div align="center">
                            Settlement
                        </div>
                        <div align="left">
                            <p:commandLink  ajax="false" update=":settlementTableRef" rendered="${not empty settlementTableBean.allList}"  action="#{reportBean.generateSettlementReport('excelTransRep2')}"  title="Plain Excel Download">
                                <h:graphicImage name="images/excel.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </div>  
                    </f:facet>
                    <p:column headerText="Payment Id"><h:outputText value="#{settlementDto.paymentId}" /></p:column>
                    <p:column headerText="Company Name"><h:outputText value="#{settlementDto.companyName}" /></p:column>
                    <p:column headerText="Bank"><h:outputText value="#{settlementDto.bank}" /></p:column> 
                    <p:column headerText="Host Error Code"><h:outputText value="#{settlementDto.hostErrorCode}" /></p:column>
                    <p:column headerText="Reference" ><h:outputText value="#{settlementDto.reference}" /></p:column>
                    <p:column headerText="Issuer Code"><h:outputText value="#{settlementDto.issuerCode}" /></p:column>
                    <p:column headerText="Account Number"><h:outputText value="#{settlementDto.accountNumber}" /></p:column>
                    <p:column headerText="Trans Amount(NGN)"><h:outputText value="#{settlementDto.transAmount}" /></p:column>
                    <p:column headerText="Beneficiary Name"><h:outputText value="#{settlementDto.beneficiaryName}" /></p:column>
                    <p:column headerText="Narration"><h:outputText value="#{settlementDto.narration}" /></p:column>
                    <p:column headerText="Payment Date"><h:outputText value="#{settlementDto.created}" /></p:column>
                </p:dataTable>

            </h:form>
        </div></div>
</ui:composition>