<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="paymentTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10"> 
                        <p:outputLabel for="bankfilter" rendered="#{empty userBean.supportBank}" value="Initiating Bank" />
                        <p:selectOneMenu id="bankfilter" filter="true" filterMatchMode="startsWith"  rendered="#{empty userBean.supportBank}" style="width:200px" value="#{transactionReportTableBean.srcBankFilter}"  converter="bankConverter" >
                            <p:ajax event="change" update="corporatefilter"/> 
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{transactionReportTableBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="corporatefilter" rendered="#{empty userBean.supportCorporate}" value="Initiating Corporate:" />
                        <p:selectOneMenu id="corporatefilter" filter="true" filterMatchMode="startsWith"   rendered="#{empty userBean.supportCorporate}"  style="width:200px" value="#{transactionReportTableBean.corporateFilter}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Select Corporates--" itemValue="" />   
                            <f:selectItems value="#{transactionReportTableBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="paymentRef" value="Payment Reference:" />
                        <p:inputText id="paymentRef" title="Payment Reference" value="${transactionReportTableBean.paymentRefFilter}" placeholder="Payment Reference"/>
                        <p:outputLabel for="transRef" value="Transaction Reference:" />
                        <p:inputText id="transRef" title="Transaction Reference" value="${transactionReportTableBean.transactionRefFilter}" placeholder="Transaction Reference"/>
                        <p:outputLabel for="narration" value="Narration:" />
                        <p:inputText id="narration" title="Narration" value="${transactionReportTableBean.narration}" placeholder="Narration"/>
                        <p:outputLabel for="accountNo" value="Account Number" />
                        <p:inputText id="accountNo" title="account Number" value="${transactionReportTableBean.accountNumber}" placeholder="Amount Number"/>
                        <p:outputLabel for="accountName" value="Account Number:" />
                        <p:inputText id="accountName" title="Account Name" value="${transactionReportTableBean.accountName}" placeholder="Amount Name"/>
                        <p:outputLabel for="amount" value="Amount:" />
                        <p:inputText id="amount" title="Amount" value="${transactionReportTableBean.amount}" placeholder="Amount"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{transactionReportTableBean.fromDateFilter}" required="true" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{transactionReportTableBean.toDateFilter}" required="true" />	
                        <p:outputLabel for="statusfilter"   value="Filter Transactions:" />
                        <p:selectOneMenu id="statusfilter" style="width:200px"  value="#{transactionReportTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{transactionReportTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:commandButton value="Get Report" onstart="showProgress()" oncomplete="hideProgress()" update=":paymentTableRef" action="#{transactionReportTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="transactionTable" lazy="true" var="transaction" class="Container100_"
                             value="${transactionReportTableBean.lazyDataModel}" paginator="true" sortField="transactionId" sortOrder="descending" 
                             rows="${transactionReportTableBean.rowcount}"  selectionMode="single" selection="#{transactionBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> 
                        <div align="center">
                            Transactions
                        </div>
                        <div align="left">
                            <p:commandLink  ajax="false" update=":paymentTableRef:transactionTable" rendered="${not empty transactionReportTableBean.allList}"  action="#{reportBean.generateTransReport('pdfTransRep')}"  title="PDF Download">
                                <h:graphicImage name="images/pdf.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                            <p:commandLink  ajax="false" update=":paymentTableRef:transactionTable" rendered="${not empty transactionReportTableBean.allList}"  action="#{reportBean.generateTransReport('excelTransRep')}"  title="Excel Download with Graphics">
                                <h:graphicImage name="images/excel.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                            <p:commandLink  ajax="false" update=":paymentTableRef:transactionTable" rendered="${not empty transactionReportTableBean.allList}"  action="#{reportBean.generateTransReport('excelTransRep2')}"  title="Plain Excel Download">
                                <h:graphicImage name="images/excel.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </div>  
                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{transactionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="false" rendered="#{transaction.trsnsactionStatus eq '4'}" action="#{reportBean.generateTransReceipt(transaction)}" title="Transaction Receipt">
                            <h:graphicImage name="images/pdf.png" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Initiating Corporate" style="width: 80px" ><h:outputText value="#{transaction.corporate.corporateName}" /></p:column>
                    <p:column headerText="Initiating Bank" style="width: 80px" ><h:outputText value="#{transaction.corporate.bank.bankName}" /></p:column>
                    <p:column headerText="Payment Reference" style="width: 80px" ><h:outputText value="08#{transaction.payment.paymentReference}" /></p:column>
                    <p:column headerText="Transaction Reference" style="width: 140px"><h:outputText value="08#{transaction.transactionReference}" /></p:column>
                    <p:column headerText="Beneficiary Bank" style="width: 80px"><h:outputText value="#{transaction.beneficiary.account.bankName}" /></p:column>
                    <p:column headerText="Beneficiary Name" style="width: 80px"><h:outputText value="#{transaction.beneficiary.beneficiaryName}" /></p:column>
                    <p:column headerText="Beneficiary Account" style="width: 80px"><h:outputText value="#{transaction.beneficiary.account.accountNumber}" /></p:column>
                     <p:column headerText="Holding Account" rendered="#{userBean.bankUser or userBean.etzUser}"  style="width: 80px"><h:outputText value="#{transaction.payment.holdingAccount.cardNumber}" /></p:column>
                     <p:column headerText="Initiating Card Number" style="width: 80px"><h:outputText value="#{transaction.payment.card.cardNumber}" /></p:column>
                    <p:column headerText="Narration" style="width: 180px"><h:outputText value="#{transaction.narration}" /></p:column>
                    <p:column headerText="Amount(NGN)" style="width: 85px"><h:outputText value="#{transaction.amountf}" /></p:column>
                    <p:column headerText="Commission(NGN)" rendered="#{userBean.etzUser}" style="width: 85px"><h:outputText value="#{transaction.etzFeeAmount}" /></p:column>
                    <p:column headerText="Bank Commission(NGN)" rendered="#{userBean.bankUser or userBean.etzUser}" style="width: 85px"><h:outputText value="#{transaction.bankFeeAmount}" /></p:column>
                    <p:column headerText="ThirdParty Commission(NGN)" rendered="#{userBean.bankUser or userBean.etzUser}" style="width: 85px"><h:outputText value="#{transaction.thirdpartyFeeAmount}" /></p:column>
                    <p:column headerText="ThirdParty2 Commission(NGN)" rendered="#{userBean.bankUser or userBean.etzUser}" style="width: 85px"><h:outputText value="#{transaction.thirdpartyFeeAmount2}" /></p:column>
                    <p:column headerText="S BatchID" style="width: 150px" rendered="#{userBean.etzUser}"><h:outputText value="#{transaction.sbatchId}" /></p:column>
                    <p:column headerText="Authorized Date" style="width: 100px" ><h:outputText value="#{transaction.payment.authorizedDateStr}" /></p:column>
                    <p:column headerText="Authorized By" style="width:100px" ><h:outputText value="#{transaction.payment.authorizedBy}" /></p:column>
                    <p:column headerText="Failed Response" rendered="#{transactionBean.etzUser}" style="width: 85px"><h:outputText value="#{not empty transaction.responseCode and transaction.responseCode ne '0' and transaction.responseCode ne '00' and transaction.responseCode ne '000'?'':transaction.responseCode}" /></p:column>
                    <p:column headerText="Status" style="width: 70px"><h:outputText value="#{transaction.status}" /></p:column>
                </p:dataTable>

            </h:form>
        </div></div>
</ui:composition>