<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
                  <h:form id="paymentTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                         <p:outputLabel for="corporatefilter" rendered="#{empty userBean.supportCorporate}" value="Initiating Corporate:" />
                        <p:selectOneMenu id="corporatefilter" filter="true" filterMatchMode="startsWith"   rendered="#{empty userBean.supportCorporate}"  style="width:200px" value="#{transactionSummaryTableBean.corporateFilter}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Select Corporates--" itemValue="" />   
                            <f:selectItems value="#{transactionSummaryTableBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="paymentRef" value="Payment Reference:" />
                        <p:inputText id="paymentRef" title="Payment Reference" value="${transactionSummaryTableBean.paymentRefFilter}" placeholder="Payment Reference"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{transactionSummaryTableBean.fromDateFilter}" required="true" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{transactionSummaryTableBean.toDateFilter}" required="true" />					
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":paymentTableRef" action="#{transactionSummaryTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="paymentTable" lazy="true" var="payment" 
                             value="${transactionSummaryTableBean.lazyDataModel}" paginator="true" sortField="id" sortOrder="descending" 
                             rows="${transactionSummaryTableBean.rowcount}"  
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> <div align="center">
                            Transactions Summary
                        </div>
                        <div align="left">
                            <p:commandLink  ajax="false"  rendered="${not empty transactionSummaryTableBean.allList}"  action="#{reportBean.generateTransSummaryReport('pdfTransRep')}"  title="PDF Download">
                                <h:graphicImage name="images/pdf.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                               <p:commandLink  ajax="false" rendered="${not empty transactionSummaryTableBean.allList}" update=":stransactionTable,:ftransactionTable"  action="#{reportBean.generateTransSummaryReport('excelTransRep')}"  title="Excel Download with Graphics">
                                <h:graphicImage name="images/excel.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                                    <p:commandLink  ajax="false" rendered="${not empty transactionSummaryTableBean.allList}" update=":ftransactionTable,:ftransactionTable" action="#{reportBean.generateTransSummaryReport('excelTransRep2')}"  title="Plain Excel Download">
                                <h:graphicImage name="images/excel.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </div>  
                    </f:facet>
                    <p:column headerText="Corporate" rendered="#{userBean.bankUser}" style="width: 120px"><h:outputText value="#{payment.corporate.corporateName}" /></p:column>
                    <p:column headerText="Payment Reference"  style="width: 120px"><h:outputText value="#{payment.paymentReference}" /></p:column>
                    <p:column headerText="Payment Description"  style="width: 120px"><h:outputText value="#{payment.paymentDescription}" /></p:column>
                    <p:column headerText="Total Count" ><h:outputText value="#{payment.totalCount}" /></p:column>
                    <p:column headerText="Total Value(NGN)" ><h:outputText value="#{payment.totalAmountf}" /></p:column>
                    <p:column headerText="Successful Count" ><p:commandLink style="color:blue !important"  ajax="true" action="#{reportBean.pullSuccesfulTransactions(payment)}" update=":stransactionTable" value="#{payment.paid}"  title="to successful transactions (#{payment.paid})" onstart="showProgress()" oncomplete="hideProgress()"/></p:column>
                    <p:column headerText="Successful Value(NGN)" ><h:outputText value="#{payment.amountPaidf}" /></p:column>
                    <p:column headerText="Pending/Failed Count" ><p:commandLink style="color:blue !important"  ajax="true" action="#{reportBean.pullFailedTransactions(payment)}" update=":ftransactionTable"  value="#{payment.pendingPayment}"  title="to pending/failed transactions (#{payment.pendingPayment})" onstart="showProgress()" oncomplete="hideProgress()"/></p:column>
                    <p:column headerText="Pending/Failed Value(NGN)" ><h:outputText value="#{payment.amountPendingPaymentf}" /></p:column>
                </p:dataTable>

            </h:form>
        </div></div>
    
    <p:dialog widgetVar="successfultransactions" width="70%" modal="true" resizable="false" closable="true"  >
    <p:ajax event="close"   listener="#{reportBean.onDialogClose}" />
            <p:dataTable id="stransactionTable" rowKey="transactionId"  var="transaction" 
                         value="${reportBean.sftransactions}" paginator="true" 
                         rows="7"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">  <div align="center">
                        Successful Transactions
                    </div>

                </f:facet>
                <p:column headerText="Transaction Reference" filterBy="#{transaction.transactionReference}" filterMatchMode="contains">    <h:outputText value="#{transaction.transactionReference}" /></p:column>
                <p:column headerText="Beneficiary" filterBy="#{transaction.beneficiary.account.accountIdentity}" filterMatchMode="contains" style="width: 400px" ><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                <p:column headerText="Narration" filterBy="#{transaction.narration}" filterMatchMode="contains">
                    <h:outputText value="#{transaction.narration}" />
                </p:column>
                <p:column headerText="Amount" filterBy="#{transaction.amount}" filterMatchMode="exact">
                    <h:outputText value="#{transaction.amount}" />
                </p:column>
            </p:dataTable>
   
    </p:dialog>
    
    
        <p:dialog widgetVar="failedtransactions" modal="true" width="70%"  resizable="false" closable="true"  >
    <p:ajax event="close"   listener="#{reportBean.onDialogClose}" />
            <p:dataTable id="ftransactionTable" rowKey="transactionId"  var="transaction" 
                         value="${reportBean.sftransactions}" paginator="true" 
                         rows="7"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">  <div align="center">
                        Failed/Pending Transactions
                    </div>

                </f:facet>
                <p:column headerText="Transaction Reference" filterBy="#{transaction.transactionReference}" filterMatchMode="contains">    <h:outputText value="#{transaction.transactionReference}" /></p:column>
                <p:column headerText="Beneficiary" filterBy="#{transaction.beneficiary.account.accountIdentity}" filterMatchMode="contains" style="width: 400px" ><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                <p:column headerText="Narration" filterBy="#{transaction.narration}" filterMatchMode="contains">
                    <h:outputText value="#{transaction.narration}" />
                </p:column>
                <p:column headerText="Amount" filterBy="#{transaction.amount}" filterMatchMode="exact">
                    <h:outputText value="#{transaction.amount}" />
                </p:column>
            </p:dataTable>
   
    </p:dialog>
</ui:composition>