<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:form id="appgroupform">
        <div class="Container50 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Group User" rendered="${approvalGroupBean.showUsers}" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name1, value" >
                        <p:outputLabel id="memberlabel" title="select a user to add to the group" for="member"  value="Member:"  />
                        <p:selectOneMenu id="member" required="true"  value="#{approvalGroupBean.user}" converter="userConverter">
                            <f:selectItem itemLabel="--Select User--" itemValue="" />  
                            <f:selectItems value="#{approvalGroupBean.users}" var="user" itemLabel="#{user.firstName} #{user.lastName}(#{user.username})" itemValue="#{user}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="memberlabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:commandButton value="Add User" style="display:#{approvalGroupBean.showUsers?'block':'none'}" rendered="${userBean.loggedInUser.role.id ne '0003'}" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:approvalusertablef:approvalgroupusertable,:appgroupform" action="#{approvalGroupBean.addUser}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:fieldset>
            </div>
        </div>

    </h:form>
    <h:form id="approvalusertablef" >
        <div class="Container50 Responsive">
  
            <div class="ContainerIndent">
                <p:dataTable id="approvalgroupusertable" var="groupuser" rowKey="#{groupuser.id}"
                             value="${approvalGroupBean.selectedItem.users}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{approvalGroupBean.user}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${approvalGroupBean.showUsers}" >
                    <f:facet name="header">Group Users (${approvalGroupBean.selectedItem.groupAlias}) </f:facet>
                    <p:column headerText="" style="width: 20px">
                        <p:commandLink styleClass="ui-icon ui-icon-minusthick" ajax="true" update=":growl,:approvalusertablef:approvalgroupusertable" action="#{approvalGroupBean.removeUser(groupuser)}" onstart="showProgress()" oncomplete="hideProgress()" title="remove a member"/>
                    </p:column>
                    <p:column headerText="UserName" ><h:outputText value="#{groupuser.username}" /></p:column> 
                    <p:column headerText="First Name" ><h:outputText value="#{groupuser.firstName}" /></p:column>
                    <p:column headerText="Last Name" ><h:outputText value="#{groupuser.lastName}" /></p:column>
                </p:dataTable>
                <div class="EmptyBox10"></div>
                <p:commandButton value="Save All Changes" rendered="${userBean.loggedInUser.role.id ne '0003'}" style="display:#{approvalGroupBean.showUsers?'block':'none'}"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:approvalusertablef,:apgroupFormRef" action="#{approvalGroupBean.save}" styleClass="GreenButton Fleft" />

            </div>
            <div class="ContainerIndent">
            </div>	

        </div>
    </h:form>



</ui:composition>