<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="apgroupFormRef">
                <p:dataTable id="apgroupTable" lazy="true" var="apgroup" 
                             value="${approvalGroupTableBean.lazyDataModel}" paginator="true" 
                             rows="#{approvalGroupTableBean.rowcount}" selectionMode="single" selection="#{approvalGroupBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">Approval Group </f:facet>
                    <p:ajax event="rowSelect" listener="#{approvalGroupBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":approvalusertablef,:appgroupform,:apgroupFormRef,:growl" />
                    <p:column headerText="Group Alias" ><h:outputText value="#{apgroup.groupAlias}" /></p:column>
                      <p:column headerText="Status" ><h:outputText value="#{apgroup.status}" /></p:column>
                </p:dataTable> 

                <div class="Container50">
                     <h:panelGrid id="bankcorp" columns="2" cellpadding="5">
                    <p:outputLabel for="groupalias"  value="Group Alias:" />
                    <p:inputText id="groupalias" styleClass="Wid90" value="${approvalGroupBean.selectedItem.groupAlias}" required="true" placeholder="Alias for the Group"/>
                          <p:commandButton value="New Approval Group" rendered="${not approvalGroupBean.showUsers}" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:apgroupFormRef:apgroupTable" action="#{approvalGroupBean.newGroup}" styleClass="GreenButton Fleft" />
					 </h:panelGrid>
               

                </div>
            </h:form>
        </div>
    </div>
</ui:composition>