<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="workersFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="workerfilter" class="Container100" columns="4" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="fname"   value="First Name Filter:" />
                        <p:inputText id="fname" styleClass="Wid90" value="${workersTableBean.firstNameFilter}" placeholder="First Name Filter"/> 
                        <p:outputLabel for="lname"   value="Last Name Filter:" />
                        <p:inputText id="lname" styleClass="Wid90" value="${workersTableBean.lastNameFilter}" placeholder="Last Name Filter"/> 
                        <p:outputLabel for="wcategoryfilter"  rendered="#{workersTableBean.completePayroll}"   value="Workers Category Filter:" />
                        <p:selectOneMenu id="wcategoryfilter" style="width:230px" rendered="#{workersTableBean.completePayroll}"  converter="workersCategoryConverter" filter="true" filterMatchMode="startsWith"  value="#{workersTableBean.workersCategoryFilter}" >
                            <p:ajax event="change" update="wcategorygroupfilter,wcategorygroupstepfilter"  listener="#{workersTableBean.handleCategoryChange}" />
                            <f:selectItem itemLabel="--Select Category--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.workersCategorys}" var="wcategory" itemLabel="#{wcategory.id}" itemValue="#{wcategory}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="wcategorygroupfilter" rendered="#{workersTableBean.completePayroll}"    value="Workers Category Group Filter:" />
                        <p:selectOneMenu id="wcategorygroupfilter" rendered="#{workersTableBean.completePayroll}"  style="width:230px" converter="workersCategoryGroupConverter" filter="true" filterMatchMode="startsWith"  value="#{workersTableBean.workersCategoryGroupFilter}" >
                            <p:ajax event="change" update="wcategorygroupstepfilter"  listener="#{workersTableBean.handleCategoryGroupChange}" />
                            <f:selectItem itemLabel="--Select Category Group--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.workersCategoryGroups}" var="wcategoryG" itemLabel="#{wcategoryG.workersCategory.groupNaming} #{wcategoryG.groupLevel}" itemValue="#{wcategoryG}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="wcategorygroupstepfilter" rendered="#{workersTableBean.completePayroll}"   value="Workers Category Group Steps Filter:" />
                        <p:selectOneMenu id="wcategorygroupstepfilter" style="width:230px" rendered="#{workersTableBean.completePayroll}"   converter="workersCategoryGroupStepConverter" filter="true" filterMatchMode="startsWith"  value="#{workersTableBean.workersCategoryGroupStepFilter}" >
                            <f:selectItem itemLabel="--Select--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.workersCategoryGroupSteps}" var="wcategoryGS" itemLabel="#{wcategoryGS.workersCategoryGroup.workersCategory.groupNaming} #{wcategoryGS.workersCategoryGroup.groupLevel}  #{wcategoryGS.workersCategoryGroup.workersCategory.groupStepNaming} #{wcategoryGS.groupStepLevel}" itemValue="#{wcategoryGS}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="pfafilter"   value="PFA Filter:" />
                        <p:selectOneMenu id="pfafilter" style="width:230px" converter="pfaConverter" filter="true" filterMatchMode="startsWith"  value="#{workersTableBean.pfaFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.pfas}" var="pfa" itemLabel="#{pfa.authName}" itemValue="#{pfa}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="taxfilter"   value="Tax Office Filter:" />
                        <p:selectOneMenu id="taxfilter" style="width:230px" converter="taxConverter" filter="true" filterMatchMode="startsWith"  value="#{workersTableBean.taxFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.taxs}" var="tax" itemLabel="#{tax.authName}" itemValue="#{tax}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{workersTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 

                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":workersFormRef" action="#{workersTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="workersFormTable" lazy="true" var="worker" 
                             value="${workersTableBean.lazyDataModel}" paginator="true" sortField="staffId" sortOrder="descending" 
                             rows="${workersTableBean.rowcount}"  selectionMode="single" selection="#{workersBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Workers </f:facet>
                    <p:ajax event="rowSelect" listener="#{workersBean.onRowSelect}" update=":workerForm,:workersFormRef:cmenu" onstart="showProgress()" oncomplete="hideProgress()" />

                    <p:column headerText="Staff Id" ><h:outputText value="#{worker.staffId}" /></p:column>
                    <p:column headerText="First Name" ><h:outputText value="#{worker.firstName}" /></p:column>
                    <p:column headerText="Last Name" ><h:outputText value="#{worker.lastName}" /></p:column>
                    <p:column headerText="Worker's Category" ><h:outputText value="#{worker.workersCategory.id}" /></p:column>
                    <p:column headerText="Salary Position" rendered="#{workersTableBean.completePayroll}"  ><h:outputText value="#{worker.workersCategory.groupNaming} #{worker.workersCategoryGroupStep.workersCategoryGroup.groupLevel}  #{worker.workersCategory.groupStepNaming} #{worker.workersCategoryGroupStep.groupStepLevel}" /></p:column>
                    <p:column headerText="Date Created" ><h:outputText value="#{worker.dateCreatedStr}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{worker.status}" /></p:column>
                    <p:column headerText="State" ><h:outputText value="#{empty worker.wstate?'Active':worker.wstate eq 'SW'?'Suspended':worker.wstate eq 'TW'?'Terminated':worker.wstate eq 'RW'?'Reinstated':''}" /></p:column>
                </p:dataTable>

                <p:contextMenu id="cmenu" widgetVar="workerAction" for="workersFormTable">
                    <p:menuitem value="One-Time Deductions" icon="ui-icon-pencil">
                        <h:graphicImage name="images/minus.jpg" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" value="One-Time Deductions"  style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerDeductionAction('OD')}"  title="manage a one time deduction pay components on the worker"/>
                    </p:menuitem>

                    <p:menuitem value="Re-ocurring Deductions"  icon="ui-icon-pencil">
                        <h:graphicImage name="images/minus.jpg" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" value="Re-ocurring Deductions" style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerDeductionAction('RD')}"  title="manage continous deduction pay components on the worker"/>
                    </p:menuitem>
                    <p:menuitem value="Loans" icon="ui-icon-pencil">
                        <h:graphicImage name="images/minus.jpg" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" value="Loans" style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerDeductionAction('LN')}"  title="manage loan pay components on the worker"/>
                    </p:menuitem>
                    <p:menuitem value="One-Time Additions" icon="ui-icon-pencil">
                        <h:graphicImage name="images/add.png" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" value="One-Time Additions" style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerAdditionAction('OA')}" title="manage a one time addition pay component on the worker"/>
                    </p:menuitem>
                    <p:menuitem value="Re-ocurring Additions" icon="ui-icon-pencil">
                        <h:graphicImage name="images/add.png" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" value="Re-ocurring Additions" style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerAdditionAction('RA')}"  title="manage a continous addition pay component on the worker"/>
                    </p:menuitem>
                    <p:menuitem value="Terminate Worker"  rendered="#{workersBean.selectedItem.active}" icon="ui-icon-pencil">
                        <h:graphicImage name="images/cancel.png" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" update=":termform" value="Terminate Worker" style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerAction('TW')}" title="terminate/retire the appointment of the worker"/>
                    </p:menuitem>
                    <p:menuitem value="Suspend Worker" rendered="#{workersBean.selectedItem.active}" icon="ui-icon-pencil">
                        <h:graphicImage name="images/cancel.png" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" update=":susform"  value="Suspend Worker"  style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerAction('SW')}" title="suspend the worker"/>
                    </p:menuitem>
                    <p:menuitem value="Re-instate Worker" rendered="#{workersBean.selectedItem.active and workersBean.selectedItem.wstate eq 'SW'}" icon="ui-icon-pencil">
                        <h:graphicImage name="images/activate.png" width="12px" height="12px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        <p:commandLink  ajax="false" update=":reinform" value="Re-instate Worker"  style="color: #000 !important; text-decoration: none" action="#{workersBean.doWorkerAction('RW')}" title="re-instate the suspended worker"/>
                    </p:menuitem>
                </p:contextMenu>


            </h:form>

            <ui:include src="onetime/onetime-deductions.xhtml"/>

            <ui:include src="recurring/recurring-deductions.xhtml"/>

            <ui:include src="loan/loans.xhtml"/>

            <ui:include src="onetime/onetime-additions.xhtml"/>

            <ui:include src="recurring/recurring-additions.xhtml"/>

            <h:form id="susform">

                <p:confirmDialog widgetVar="suspendWorker"  message="You are about to initiate suspension for #{workersBean.selectedItem.firstName} #{workersBean.selectedItem.lastName} with staff id (#{workersBean.selectedItem.staffId}), You would be able to re-instate the worker.  Are you sure you want to continue? " width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('suspendWorker').hide();" update=":workersFormRef" 
                                     action="#{workersBean.nullifyStateChange}"/>
                    <p:commandButton value="Suspend" action="#{workersBean.save}" update=":growl,:workersFormRef"  oncomplete="PF('suspendWorker').hide();" />
                </p:confirmDialog>
            </h:form>
            <h:form id="termform">

                <p:confirmDialog widgetVar="terminateWorker"  message="You are about to initiate termination for #{workersBean.selectedItem.firstName} #{workersBean.selectedItem.lastName} with staff id (#{workersBean.selectedItem.staffId}), You would not be able to re-instate the worker. Are you sure you want to continue? " width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('terminateWorker').hide();" update=":workersFormRef" 
                                     action="#{workersBean.nullifyStateChange}"/>
                    <p:commandButton value="Terminate" action="#{workersBean.save}" update=":growl,:workersFormRef"  oncomplete="PF('terminateWorker').hide();" />
                </p:confirmDialog>
            </h:form>

            <h:form id="reinform">

                <p:confirmDialog widgetVar="reinstateWorker"  message="You are about to initiate reinstatement for #{workersBean.selectedItem.firstName} #{workersBean.selectedItem.lastName} with staff id (#{workersBean.selectedItem.staffId}). Are you sure you want to continue? " width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('reinstateWorker').hide();" update=":workersFormRef" 
                                     action="#{workersBean.nullifyStateChange}"/>
                    <p:commandButton value="Reinstate" action="#{workersBean.save}" update=":growl,:workersFormRef"  oncomplete="PF('reinstateWorker').hide();" />
                </p:confirmDialog>
            </h:form>
        </div></div>
</ui:composition>