<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="workerForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Worker Salary Details" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="staffId" value="Staff Id:" rendered="#{empty workersBean.selectedItem.id}" />
                          <p:inputText id="staffId" title="optional staff id" rendered="#{empty workersBean.selectedItem.id}" styleClass="controls-length4"  value="${workersBean.selectedItem.staffId}" placeholder="Optional Staff Id"/>
                        <p:tooltip for="staffId" showEvent="mouseover" rendered="#{empty workersBean.selectedItem.id}" hideEvent="mouseout" />
                        <p:outputLabel for="fname" value="First Name:" />
                        <p:inputText id="fname" title="first name of worker"  styleClass="controls-length4"  value="${workersBean.selectedItem.firstName}" required="true" placeholder="First Name of worker"/>
                        <p:tooltip for="fname" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="lname"  value="Last Name:" />
                        <p:inputText id="lname" title="last name of worker"   styleClass="controls-length4" value="${workersBean.selectedItem.lastName}" required="true" placeholder="Last Name of worker"/>
                        <p:tooltip for="lname" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="wCategoryl"  title="Category you can place the worker" for="wCategory"   value="Workers Category:" />
                        <p:selectOneMenu id="wCategory" style="width:450px" required="true"   converter="workersCategoryConverter" filter="true" filterMatchMode="startsWith"  value="#{workersBean.selectedItem.workersCategory}" >
                            <p:ajax event="change" update="wCategoryGS,wCategoryGSl,wCategoryGSlT"  listener="#{workersTableBean.handleCategoryChange}" /> 
                            <f:selectItem itemLabel="--Select Workers Category--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.workersCategorys}" var="workersCategory" itemLabel="#{workersCategory.id}" itemValue="#{workersCategory}"  />  
                        </p:selectOneMenu>
                        <p:tooltip for="wCategoryl"  showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="wCategoryGSl"  rendered="#{workersTableBean.completePayroll}" title="Category Group you can place the worker within the category" for="wCategory"   value="Workers Category Group Step:" />
                        <p:selectOneMenu id="wCategoryGS" style="width:450px" required="true"  rendered="#{workersTableBean.completePayroll}" converter="workersCategoryGroupStepConverter" filter="true" filterMatchMode="startsWith"  value="#{workersBean.selectedItem.workersCategoryGroupStep}" >
                            <f:selectItem itemLabel="--Select--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.workersCategoryGroupSteps}" var="workersCategoryGroupStep" itemLabel="#{workersCategoryGroupStep.workersCategoryGroup.workersCategory.groupNaming} #{workersCategoryGroupStep.workersCategoryGroup.groupLevel}  #{workersCategoryGroupStep.workersCategoryGroup.workersCategory.groupStepNaming} #{workersCategoryGroupStep.groupStepLevel}" itemValue="#{workersCategoryGroupStep}"  />  
                        </p:selectOneMenu>
                        <p:tooltip id="wCategoryGSlT" for="wCategoryGSl"  rendered="#{workersTableBean.completePayroll}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="gsalary" rendered="#{not workersTableBean.completePayroll}"  value="Gross Salary:" />
                        <p:inputText id="gsalary"  rendered="#{not workersTableBean.completePayroll}"  title="gross salary of worker"   styleClass="controls-length4" value="${workersBean.selectedItem.grossSalary}" required="true" placeholder="Gorss Salary of worker"/>
                        <p:tooltip for="gsalary" rendered="#{not workersTableBean.completePayroll}"  showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="pfal" title="Pension Fund Administrator of the worker" for="pfa"   value="Pension Fund Administrator:" />
                        <p:selectOneMenu id="pfa" style="width:450px" required="true" converter="pfaConverter" filter="true" filterMatchMode="startsWith"  value="#{workersBean.selectedItem.pfa}" >
                            <f:selectItem itemLabel="--Select--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.pfas}" var="pfa" itemLabel="#{pfa.authName}" itemValue="#{pfa}"  />  
                        </p:selectOneMenu>
                        <p:tooltip for="pfal" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="taxl" title="Tax Office" for="tax"   value="Tax Office:" />
                        <p:selectOneMenu id="tax" style="width:450px" required="true" converter="taxConverter" filter="true" filterMatchMode="startsWith"  value="#{workersBean.selectedItem.tax}" >
                            <f:selectItem itemLabel="--Select--" itemValue="" />  
                            <f:selectItems value="#{workersTableBean.taxs}" var="tax" itemLabel="#{tax.authName}" itemValue="#{tax}"  />  
                        </p:selectOneMenu>
                        <p:tooltip for="taxl" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid> 

                </p:fieldset>
            </div>
            <div class="ContainerIndent"> 
                <p:fieldset legend="Payment Details" toggleable="true">	
                    <h:panelGrid columns="2" width="100%" columnClasses="name3, value">
                  <p:selectOneRadio id="acct-options" value="#{workersBean.acctOption}" layout="grid" columns="2" >
                    <p:ajax event="change" update=":workerForm"  listener="#{workersBean.handleAcctOptionChange}" /> 
                    <f:selectItem itemLabel="POCKET MONEY" itemValue="PM" />
                    <f:selectItem itemLabel="BANK" itemValue="BN" />
                </p:selectOneRadio>
                   </h:panelGrid>
                <h:panelGrid rendered="#{workersBean.acctOption eq 'PM'}" id="pbeneficiary" columns="3" width="100%" columnClasses="name3 value">
                    <p:outputLabel for="paccountNumber" value="Account Number:" />
                    <p:inputText id="paccountNumber" title="Account Number"  styleClass="controls-length4"  value="${workersBean.selectedItem.corporateBeneficiary.account.accountNumber}" required="true" placeholder="Pocket Money Mobile Money Account"/>
                    <p:tooltip for="paccountNumber" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="palias" value="Account Alias:" />
                    <p:inputText id="palias" title="Account Alias"  styleClass="controls-length4"  value="${workersBean.selectedItem.corporateBeneficiary.account.accountName}" required="true" placeholder="alias for account"/>
                    <p:tooltip for="palias" showEvent="mouseover" hideEvent="mouseout" />
                </h:panelGrid>
                <h:panelGrid rendered="#{workersBean.acctOption eq 'BN'}" id="bbeneficiary" columns="5" width="100%" columnClasses="name3 value">
                    <p:outputLabel id="banklabel" for="bank" title="select the bank for which the account belong"  value="Bank:" />
                    <p:selectOneMenu id="bank" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{workersBean.selectedItem.corporateBeneficiary.account.bank}"  converter="bankConverter" >
                        <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                        <f:selectItems value="#{workersBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                    </p:selectOneMenu> 
                    <p:tooltip for="banklabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
					<p:outputLabel/>
                    <p:outputLabel for="accountNumber" value="Account Number:" />
                    <p:inputText id="accountNumber" title="Account Number"  styleClass="controls-length4"  value="${workersBean.selectedItem.corporateBeneficiary.account.accountNumber}" required="true" placeholder="Bank Account Number"/>
                    <p:commandLink action="#{workersBean.doValidation()}" update="accountName" >
                        <p:graphicImage id="validate" name="images/refresh.jpg" title="validate account number" style="width:24px;height:24px" library="sentinel-layout" />  
                    </p:commandLink>
                    <p:tooltip for="accountNumber" showEvent="mouseover" hideEvent="mouseout" />
                    <p:tooltip for="validate" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="accountName" value="Account Name:" />
                    <p:inputText id="accountName" disabled="true" title="Account Name of the worker"  styleClass="controls-length4"  value="${workersBean.selectedItem.corporateBeneficiary.account.accountName}" required="true" placeholder="Account Name of the worker"/>
                    <p:tooltip for="accountName" showEvent="mouseover" hideEvent="mouseout" />
                   <p:outputLabel/>
				       <p:outputLabel/>
                    </h:panelGrid>
                </p:fieldset>
            </div>
            <div class="ContainerIndent">
                <h:panelGrid columns="2" class="Container25">
                    <p:commandButton value="Save Worker" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:workerForm,:workersFormRef:workersFormTable" action="#{workersBean.save}" styleClass="GreenButton Fleft" />
                    <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":workerForm,:workersFormRef:workersFormTable" action="#{workersBean.reset}" styleClass="OrangeButton Fleft" />
                </h:panelGrid >
            </div>

        </div>

    </h:form>

</ui:composition>