<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="salcategoryFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="categoryfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="categoryNameFilter"   value="Category Name Filter:" />
                        <p:inputText id="categoryNameFilter" styleClass="Wid90" value="${workersCategoryTableBean.categoryName}" placeholder="Category Name Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{workersCategoryTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{workersCategoryTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":salcategoryFormRef" action="#{workersCategoryTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="salcategoryFormTable" lazy="true" var="category" 
                             value="${workersCategoryTableBean.lazyDataModel}" paginator="true" sortField="dateCreated" sortOrder="descending" 
                             rows="${workersCategoryTableBean.rowcount}"  selectionMode="single" selection="#{workersCategoryBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        <div align="left">
                            <p:commandButton value="Add Pay Item" action="${workersCategoryBean.doAddPayItem}" update=":salpayitemref"  onclick="PF('payItemUI').show();"
                                             styleClass="GreenButton Fleft"/>   
                        </div>
                        <div align="Center">
                            Workers Category 
                        </div>
                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{workersCategoryBean.onRowSelect}" update=":workerscategoryForm" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  update=":salcatgrouptableref:salgrouptable" ajax="true"  action="#{workersCategoryBean.setSelectedItem(category)}"  oncomplete="PF('groupUI').show();" title="create groups">
                            <h:graphicImage name="images/create.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true" update=":stepsTableRef" action="#{workersCategoryBean.setSelectedItem(category)}" oncomplete="PF('stepsUI').show();" title="see all steps">
                            <h:graphicImage name="images/view.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Category Name" ><h:outputText value="#{category.id}" /></p:column>
                    <p:column headerText="Group Naming" ><h:outputText value="#{category.groupNaming}" /></p:column>
                    <p:column headerText="Group Step Naming" ><h:outputText value="#{category.groupStepNaming}" /></p:column>
                    <p:column headerText="Date Created" ><h:outputText value="#{category.dateCreatedStr}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{category.status}" /></p:column>
                </p:dataTable>

            </h:form>

            <p:dialog widgetVar="payItemUI" modal="true" resizable="false" closable="true" width="50%" >

                <p:fieldset legend="New PayItem">
                    <h:form id="salpayitemref">
                        <p:dataTable id="payItemTable" lazy="true" var="payItem" 
                                     value="${payItemTableBean.lazyDataModel}" paginator="true" 
                                     rows="4" selectionMode="single"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15" >
                            <f:facet name="header">Pay Items </f:facet>
                            <p:column headerText="Name" ><h:outputText value="#{payItem.payItemname}" /></p:column>
                        </p:dataTable> 
                        <p:autoComplete id="compPayItem" value="#{workersCategoryBean.payItem.payItemname}" required="true" completeMethod="#{workersCategoryBean.completePayItem}" />
                        <p:commandButton value="Add" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:salpayitemref" action="#{workersCategoryBean.addPayItem}" styleClass="GreenButton Fleft" />
                    </h:form>
                </p:fieldset>
            </p:dialog>
            <p:dialog  widgetVar="groupUI" modal="true" resizable="false" closable="true" width="50%" >
                <p:ajax event="close"   listener="#{workersCategoryBean.onCloseWCGroupDialog}" />
                <p:fieldset legend="Groups of the Category">
                    <h:form id="salcatgrouptableref">
                        <p:dataTable id="salgrouptable" var="salgroup" rowKey="#{salgroup.id}"
                                     value="${workersCategoryBean.selectedItem.workersCategoryGroups}" paginator="true" sortOrder="ascending" 
                                     rows="4"  selectionMode="single" selection="#{workersCategoryBean.workersCategoryGroup}" 
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="" style="width: 25px">
                                <p:commandLink ajax="true" update=":growl,:salcatgrouptableref:salgrouptable" action="#{workersCategoryBean.removeCategoryGroup(salgroup)}" onstart="showProgress()" oncomplete="hideProgress()" title="remove a member">
                                    <h:graphicImage name="images/minus_circle_green.png" width="12px" height="12px"  styleClass="Fleft" library="sentinel-layout"/>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Group Name" ><h:outputText value="#{workersCategoryBean.selectedItem.groupNaming} #{salgroup.groupLevel}" /></p:column>
                            <p:column headerText="SubGroup Count" ><h:outputText value="#{fn:length(workersCategoryBean.getWorkersCategoryGroupSteps(salgroup))}" /></p:column>
                        </p:dataTable>
                    </h:form>
                    <h:form id="formref">
                        <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                            <p:outputLabel id="groupNamel" title="level of the group" for="groupName" value="#{workersCategoryBean.selectedItem.groupNaming}" /> 
                            <p:spinner id="groupName"  value="${workersCategoryBean.workersCategoryGroup.groupLevel}"  min="1" max="20"  required="true"/>
                            <p:tooltip for="groupNamel" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="stepnol" title="no of steps in the group" for="stepno" value="#{workersCategoryBean.selectedItem.groupStepNaming}" /> 
                            <p:spinner id="stepno"  value="${workersCategoryBean.workersCategoryGroup.stepNo}"  min="1" max="20"  required="true"/>
                            <p:tooltip for="stepnol" showEvent="mouseover" hideEvent="mouseout" />
                            <p:commandButton value="Save Group" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:salcatgrouptableref:salgrouptable,:formref,:salcategoryFormRef:salcategoryFormTable" action="#{workersCategoryBean.saveCategoryGroup}" styleClass="GreenButton Fleft" />
                        </h:panelGrid>
                    </h:form> 
                </p:fieldset>
            </p:dialog>

            <h:form id="stepsTableRef">
                <p:dialog widgetVar="stepsUI" modal="true" resizable="false" closable="true" width="50%" >

                    <p:dataTable id="stepsTable" var="step" rowKey="#{step.id}"
                                 value="${workersCategoryBean.workersCategoryGroupSteps}" paginator="true" sortOrder="ascending" 
                                 rows="5"  selectionMode="single" selection="#{workersCategoryBean.workersCategoryGroupStep}" editable="true" editMode="cell" 
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="5,10,15" >
                        <f:facet name="header">
                            <div align="left">
                                <p:commandButton value="Finish" action="${workersCategoryBean.finalizeGroupSetUp}" update=":growl,:salcatgrouptableref:salgrouptable,:salcategoryFormRef:salcategoryFormTable" oncomplete="PF('stepsUI').hide();"
                                                 styleClass="GreenButton Fleft"/>   
                            </div>
                        </f:facet>
                        <p:column headerText="Step Name" >
                            <h:outputText value="#{step.name}" />
                        </p:column>
                        <p:column headerText="Status" ><h:outputText value="#{step.status}" /></p:column>
                        <p:column headerText="" style="width: 35px">
                            <p:commandLink  update=":stepsvaluetable" ajax="true"  action="#{workersCategoryBean.setWorkersCategoryGroupStep(step)}"  oncomplete="PF('populateValueUI').show();" title="Populate Values">
                                <h:graphicImage name="images/create.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </p:dialog>
            </h:form>

            <h:form id="stepsvaluetable">
                <p:dialog widgetVar="populateValueUI" modal="true" resizable="false" closable="true" width="40%" >


                    <p:dataTable id="statpaycomponent" var="statpaycomponent" rowKey="#{statpaycomponent.Id}"
                                 value="${workersCategoryBean.workersCategoryGroupStep.statutoryPayComponents}" paginator="true"
                                 rows="5" editable="true" editMode="cell" 
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="5,10,15">

                        <f:facet name="header">
                            <div align="left">
                                <p:commandButton value="Save All Changes" action="${workersCategoryBean.saveStepTable}" update=":growl,:stepsTableRef:stepsTable" oncomplete="PF('populateValueUI').hide();"
                                                 styleClass="GreenButton Fleft"/>   
                            </div>

                        </f:facet>
                        <p:column headerText="Pay Item" >
                            <h:outputText value="#{statpaycomponent.payItem.payItemname}" />
                        </p:column>
                        <p:column headerText="Amount Type" >
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{statpaycomponent.amountType eq 'FX'?'Fixed':statpaycomponent.amountType eq 'PC'?'Percent':''}" /></f:facet>
                                <f:facet name="input">   <p:selectOneMenu id="amounttype" style="width:150px" value="#{statpaycomponent.amountType}" >
                                        <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                                        <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                                        <f:selectItem itemLabel="Percent" itemValue="PC" /> 
                                    </p:selectOneMenu> 
                                </f:facet> 
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Value" >
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{statpaycomponent.amount}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{statpaycomponent.amount}" /></f:facet>
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>

                </p:dialog>
            </h:form>
        </div></div>
</ui:composition>