<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="workerscategoryForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Workers Category" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="categoryId" value="Category Name" />
                        <p:inputText id="categoryId" title="Name of the worker's category"  styleClass="controls-length4"  value="${workersCategoryBean.selectedItem.id}" required="true" placeholder="Workers Category Name (e.g Teachers, Doctors)"/>
                        <p:tooltip for="categoryId" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="groupNaming"  value="Group Naming:" />
                        <p:inputText id="groupNaming" title="naming pattern for groups under this category"   styleClass="controls-length4" value="${workersCategoryBean.selectedItem.groupNaming}" required="true" placeholder="e.g Grade, Group"/>
                        <p:tooltip for="groupNaming" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="groupStepNaming"  value="Group Naming:" />
                        <p:inputText id="groupStepNaming" title="naming pattern for steps under groups in this category"   styleClass="controls-length4" value="${workersCategoryBean.selectedItem.groupStepNaming}" required="true" placeholder="e.g Step, SubGroup"/>
                        <p:tooltip for="groupStepNaming" showEvent="mouseover" hideEvent="mouseout" />
                        <p:commandButton value="Save Category" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:workerscategoryForm,:salcategoryFormRef:salcategoryFormTable" action="#{workersCategoryBean.save}" styleClass="GreenButton Fleft" />
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>