<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="holdingAccountFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="cardfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                         <p:outputLabel for="corporatefilter" value="Corporate:" />
                         <p:selectOneMenu id="corporatefilter" value="#{holdingAccountTableBean.corporateFilter}"  style="width:230px" converter="corporateConverter"   >
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{holdingAccountTableBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="cardnumberfilter"   value="Card Number Filter:" />
                        <p:inputText id="cardnumberfilter" styleClass="Wid90" value="${holdingAccountTableBean.cardNumberFilter}" placeholder="Card Number Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{holdingAccountTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{holdingAccountTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":holdingAccountFormRef" action="#{holdingAccountTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="holdingAccountTable" lazy="true" var="datacard" 
                             value="${holdingAccountTableBean.lazyDataModel}" paginator="true" sortField="corporate" sortOrder="ascending" 
                             rows="${holdingAccountTableBean.rowcount}"  selectionMode="single" selection="#{holdingAccountBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Holding Accounts </f:facet>
                    <p:ajax event="rowSelect" listener="#{holdingAccountBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":holdingAccountForm" />
                    <p:column headerText="Corporate" ><h:outputText value="#{empty datacard.corporate?'GLOBAL':datacard.corporate.corporateName}" /></p:column>
                    <p:column headerText="Card Number" ><h:outputText value="#{datacard.cardNumber}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{datacard.status}" /></p:column>
                </p:dataTable>
            </h:form>
        </div></div>
</ui:composition>