<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="holdingAccountForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Holding Account" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <h:outputLabel id="globallabel" title="check if holding account applies to a certain corporate" value="Global Holding Account? " />
                        <p:selectBooleanCheckbox id="globall" value="#{holdingAccountBean.global}" >
                            <p:ajax event="change" update=":holdingAccountForm" listener="#{holdingAccountBean.handleGlobalChange}" /> 
                        </p:selectBooleanCheckbox>
                        <p:tooltip for="globallabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="cardNumber" value="Card Number" />
                        <p:inputText id="cardNumber" title="valid card number for the bank" styleClass="controls-length4" value="${holdingAccountBean.selectedItem.cardNumber}" required="true" placeholder="Valid Card Number"/>
                        <p:tooltip for="cardNumber" showEvent="mouseover" hideEvent="mouseout" />

                        <p:outputLabel id="corporatelabel" for="corporate" title="select the corporate that would use the olding account"  rendered="#{not holdingAccountBean.global}"  value="Corporate:" />
                        <p:selectOneMenu id="corporate" style="width:450px" filter="true" filterMatchMode="startsWith"  value="#{holdingAccountBean.corporate}" required="true" rendered="#{not holdingAccountBean.global}"   converter="corporateConverter" >
                            <p:ajax event="change" listener="#{holdingAccountBean.handleCorporateChange}" />
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{holdingAccountBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip id="clabeltip" for="corporatelabel" rendered="#{not holdingAccountBean.global}"  showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid>
                    <h:panelGrid columns="2" class="Container25">	
                        <p:commandButton value="Save Card Details" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:holdingAccountForm,:holdingAccountFormRef:holdingAccountTable" action="#{holdingAccountBean.save}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":holdingAccountForm,:holdingAccountFormRef:holdingAccountTable" action="#{holdingAccountBean.reset}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid>	 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>