<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGrid id="wrkf" columns="2" width="100%" columnClasses="name3, value">
        <c:forEach items="#{taskBean.selectedItem.nameValuePairs}"  var="tobj">
            <p:outputLabel class="fontBold"  value="#{tobj.name}" />
            <p:outputLabel class="fontBold" style="color:red"   value="#{tobj.targetValue}" />
        </c:forEach>

    </h:panelGrid>
</ui:composition>