<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGrid id="holdingacct" columns="#{taskBean.selectedItem.requestApprovalType eq 'RCA'?4:6}" width="100%" columnClasses="name3, value">
        <p:outputLabel class="Underline"  value="Label" />
        <p:outputLabel class="Underline"  value="Value" />
        <c:if test="#{taskBean.selectedItem.requestApprovalType eq 'RMA'}" >
            <p:outputLabel class="Underline"  value="New Value" /> 
            <p:outputLabel />
        </c:if>
        <p:outputLabel />
        <p:outputLabel />
        <c:forEach items="#{taskBean.selectedItem.nameValuePairs}"  var="tobj">
            <p:outputLabel  class="fontBold" value="#{tobj.name}" />
            <p:outputLabel class="fontBold" style="color:red" value="#{tobj.targetValue}" />
            <c:if test="#{taskBean.selectedItem.requestApprovalType eq 'RMA'}" >
                <p:outputLabel class="fontBold" style="color:red" value="#{tobj.targetTmpValue}" />
                <p:outputLabel />
                <p:outputLabel />
                <p:outputLabel />
            </c:if>
        </c:forEach>

    </h:panelGrid>
</ui:composition>