<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGrid id="payrollperiod" columns="#{taskBean.selectedItem.requestApprovalType eq 'RCA'?4:6}" class="Container80" cellpadding="3" cellspacing="10">
        <p:outputLabel value="Label" />
        <p:outputLabel value="Value" />
        <c:if test="#{taskBean.selectedItem.requestApprovalType eq 'RMA'}" >
            <p:outputLabel value="New Value" /> 
        </c:if>

        <c:forEach items="#{taskBean.selectedItem.nameValuePairs}"  var="tobj">
            <p:outputLabel value="#{tobj.name}" />
            <p:outputLabel value="#{tobj.targetValue}" />
            <c:if test="#{taskBean.selectedItem.requestApprovalType eq 'RMA'}" >
                <p:outputLabel value="#{tobj.targetTmpValue}" />
            </c:if>
        </c:forEach>

    </h:panelGrid>
</ui:composition>