<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <h:form id="otheradditiontypetablRef">
       
        <c:if test="#{not empty otherAdditionBean.additionType and otherAdditionBean.additionType.id eq '#ONE_TIME' }" >
            <ui:include src="otheradditionform_ONETIME.xhtml" />
        </c:if>
        <c:if test="#{not empty otherAdditionBean.additionType and otherAdditionBean.additionType.id eq '#RECURRING'}" >
               <ui:include src="otheraddittion_RECURRING.xhtml" />
        </c:if>
    </h:form>


</ui:composition>