<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <p:dataTable id="additionTypeTable" lazy="true" var="additiontype" 
                         value="${otherAdditionBean.additionTypes}" paginator="true" rowKey="#{additiontype.id}" sortField="description" sortOrder="ascending"
                         rows="5" selectionMode="single" selection="#{otherAdditionBean.additionType}" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" >
                <f:facet name="header">Other Additions </f:facet>
                <p:ajax event="rowSelect" listener="#{otherAdditionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":otheradditiontypetablRef" />
                <p:column headerText="Addition Name" ><h:outputText value="#{additiontype.description}" /></p:column>

            </p:dataTable>
        </div>
    </div>
</ui:composition>