<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="Container50 Responsive">

        <div class="ContainerIndent">
            <p:dataTable id="onetimeotheradditiontable"  var="otheraddition"
                         value="${otherAdditionBean.otherAdditions}" rowKey="#{otheraddition.id}" paginator="true" 
                         rows="5" selectionMode="single" selection="#{otherAdditionBean.selectedItem}" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" rendered="${not empty otherAdditionBean.additionType}" >
                <f:facet name="header">Addition (${otherAdditionBean.additionType.description}) </f:facet>
                <p:ajax event="rowSelect" listener="#{otherAdditionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":otheradditiontypetablRef" />
                <p:column headerText="Name" ><h:outputText value="#{otheraddition.additionName}" /></p:column> 
                <p:column headerText="Amount Type" ><h:outputText value="#{empty otheraddition.amountType?'Varies across workers':otheraddition.amountType eq 'PC'?'Percent':'Fixed'}" /></p:column> 
                <p:column headerText="Value" ><h:outputText value="#{empty otheraddition.amount?'Varies across workers':otheraddition.amount}" /></p:column>
            </p:dataTable>
            <div class="EmptyBox10"></div>
        </div>	
    </div>

    <div class="Container50 Responsive">
        <div class="ContainerIndent">
            <p:fieldset legend="${otherAdditionBean.additionType.description}" toggleable="true">	
                <h:panelGrid columns="3" width="100%" columnClasses="name1, value"  >
                    <p:outputLabel  value="Addition Name:" for="additnName" />
                    <p:inputText id="additnName" title="name of ${otherAdditionBean.additionType.description}"  value="#{otherAdditionBean.oneTimeAddition.additionName}" styleClass="controls-length2" required="true" />
                    <p:tooltip for="additnName" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the addition amount" value="Amount Type:"  />
                    <p:selectOneMenu id="amounttype" style="width:250px" filter="true" filterMatchMode="startsWith" value="#{otherAdditionBean.oneTimeAddition.amountType}" >
                        <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                        <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                        <f:selectItem itemLabel="Percent" itemValue="PC" />  
                    </p:selectOneMenu>  
                    <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" /> 
                    <p:outputLabel   value="Value:" for="amount" />
                    <p:inputText id="amount" title="value of addition" value="#{otherAdditionBean.oneTimeAddition.amount}" styleClass="controls-length2" />
                    <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel rendered="#{otherAdditionBean.completePayroll}" id="payItemslabel" title="check all the payitems to apply this value" for="payItems"  value="Dependent PayItems:"  />
                    <p:selectManyCheckbox rendered="#{otherAdditionBean.completePayroll}"  id="payItems" value="#{otherAdditionBean.oneTimeAddition.refStatutoryPayItems}" converter="payitemConverter" layout="grid" columns="3" >
                        <f:attribute name="collectionType" value="java.util.ArrayList" />
                        <f:selectItems value="#{otherAdditionBean.payItems}" var="payItem" itemLabel="#{payItem.payItemname}" itemValue="#{payItem}" />
                    </p:selectManyCheckbox>
                    <p:tooltip for="payItemslabel" rendered="#{otherAdditionBean.completePayroll}"  showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Save" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:otheradditiontypetablRef,:otheradditiontypetablRef:onetimeotheradditiontable" action="#{otherAdditionBean.saveOneTime()}" styleClass="GreenButton Fleft" />
                </h:panelGrid>
            </p:fieldset>
        </div>
    </div>

</ui:composition>