<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="bankForm">
        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Bank" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel id="mfbBankL" title="check if bank is an MFB bank" value="MFB Bank? " />
                        <p:selectBooleanCheckbox id="mfbBank" value="#{bankSetupBean.selectedItem.mfbBank}" >
                            <p:ajax event="change" update=":bankForm,:growl" listener="#{bankSetupBean.handleMFBChange}" partialSubmit="true" process="@this" /> 
                        </p:selectBooleanCheckbox>
                        <p:tooltip for="mfbBankL" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="bankCode" value="Bank Code" />
                        <p:inputText id="bankCode" title="unique bank code" validator="bankCodeValidator"  styleClass="controls-length4" disabled="${not empty bankSetupBean.selectedItem.id}"  value="${bankSetupBean.selectedItem.id}" required="true" placeholder="Unique Bank Code"/>
                        <p:tooltip for="bankCode" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="bankName"  value="Bank Name:" />
                        <p:inputText id="bankName" title="name of the bank"   styleClass="controls-length4" value="${bankSetupBean.selectedItem.bankName}" required="true" placeholder="Bank Name"/>
                        <p:tooltip for="bankName" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="bankIp" rendered="false"  value="Request IP Address:" />
                        <p:inputText id="bankIp"  rendered="false" title="preferred access bank IP address" validator="ipAddressValidator"  styleClass="controls-length4"  value="${bankSetupBean.selectedItem.bankIp}" required="true" placeholder="preferred access IP Address"/>
                        <p:tooltip for="bankIp"  rendered="false" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="bankEmail"  value="Contact Email" />
                        <p:inputText id="bankEmail" title="contact bank email address"  styleClass="controls-length4"  value="${bankSetupBean.selectedItem.bankEmail}" required="true" placeholder="Contact Email"/>
                        <p:tooltip for="bankEmail" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="etzComission"  value="Platform Provider Commission" />
                        <p:inputText id="etzComission"  styleClass="controls-length4"  title="commission that would be taken by platform provider per transaction" required="true" value="${bankSetupBean.selectedItem.etzFee}" placeholder="Platform Provider's Commission"/>
                        <p:tooltip for="etzComission" showEvent="mouseover" hideEvent="mouseout" />

                        <p:outputLabel id="banklabel" for="bank" title="select the commercial bank this bank is affliated to"  rendered="#{not empty bankSetupBean.banks}"  value="Affliate Bank:" />
                        <p:selectOneMenu id="bank" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" rendered="#{not empty bankSetupBean.banks}"   value="#{bankSetupBean.selectedItem.affliateBank}"  converter="bankConverter" >
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{bankSetupBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="banklabel" rendered="#{not empty bankSetupBean.banks}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="bankAccountl" for="bankAccount" rendered="#{not empty bankSetupBean.banks}"  value="Affliate Bank Account" />
                        <p:inputText id="bankAccount" rendered="#{not empty bankSetupBean.banks}"  title="affliate bank account"  styleClass="controls-length4"  value="${bankSetupBean.selectedItem.affliateBankAccount}" required="true" placeholder="Affliate Bank Account"/>
                        <p:tooltip for="bankAccount" rendered="#{not empty bankSetupBean.banks}"  showEvent="mouseover" hideEvent="mouseout" />
                               <p:outputLabel id="alltsaT" title="allow token operations" for="alltsa"  value="Allow Token Operation?" />
                        <p:selectBooleanCheckbox id="alltsa" value="${bankSetupBean.selectedItem.enableESA}"/>
                        <p:tooltip for="alltsaT" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="normalorspacializedlabel" for="normalorspacialized" title="select the settlement mode of this bank"  value="Settlement Mode:" />
                        <p:selectOneMenu id="normalorspacialized" style="width:450px" required="true"  value="#{bankSetupBean.selectedItem.settlementMode}" >
                            <f:selectItem itemLabel="--Select Settlement Mode--" itemValue="" />  
                              <f:selectItem itemLabel="Normal" itemValue="0" />  
                               <f:selectItem itemLabel="Specialized" itemValue="1" />  
                        </p:selectOneMenu> 
                        <p:tooltip for="normalorspacializedlabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="tssAccount" rendered="false"  value="TSS Account" />
                        <p:inputText id="tssAccount" rendered="false"  title="tss Account"  styleClass="controls-length4"  value="${bankSetupBean.selectedItem.tssAccount}" required="false" placeholder="TSS Account"/>
                        <p:tooltip for="tssAccount" rendered="false"  showEvent="mouseover" hideEvent="mouseout" />

                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container20">
                        <p:commandButton value="Save Bank" onstart="showProgress()" rendered="${userBean.loggedInUser.role.id ne '0003'}" oncomplete="hideProgress()" update=":growl,:bankForm,:bankFormRef:bankTable" action="#{bankSetupBean.save}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":bankForm,:bankFormRef:bankTable" action="#{bankSetupBean.reset}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>