<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="bankFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="bankfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="banknamefilter"   value="Bank Name Filter:" />
                        <p:inputText id="banknamefilter" styleClass="Wid90" value="${bankSetupTableBean.bankNameFilter}" placeholder="Bank Name Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{bankSetupTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{bankSetupTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":bankFormRef" action="#{bankSetupTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="bankTable" lazy="true" var="databank" 
                             value="${bankSetupTableBean.lazyDataModel}" paginator="true" sortField="bankName" sortOrder="ascending" 
                             rows="${bankSetupTableBean.rowcount}"  selectionMode="single" selection="#{bankSetupBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Banks </f:facet>
                    <p:ajax event="rowSelect" listener="#{bankSetupBean.onRowSelect}" update=":bankForm" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="Bank Code" ><h:outputText value="#{databank.id}" /></p:column>
                    <p:column headerText="Name" ><h:outputText value="#{databank.bankName}" /></p:column>
                    <p:column headerText="Preferred IP Address" rendered="false" ><h:outputText value="#{databank.bankIp}" /></p:column>
                    <p:column rendered="false" headerText="TSS Account" ><h:outputText value="#{databank.tssAccount}" /></p:column>
                    <p:column headerText="Contact Email" ><h:outputText value="#{databank.bankEmail}" /></p:column>
                    <p:column headerText="Type" ><h:outputText value="#{databank.mfbBank?'MFB':'REGULAR'}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{databank.status}" /></p:column>
                </p:dataTable>
            </h:form>
        </div></div>
</ui:composition>