<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="corporateFormRef">
                <p:panel   id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="corporatefilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="bankfilter" value="Bank Filter:" />
                        <p:selectOneMenu id="bankfilter"  style="width:240px" value="#{corporateSetupTableBean.bankFilter}"  converter="bankConverter" >
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{corporateSetupTableBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="corpnamefilter"   value="Corporate Name Filter:" />
                        <p:inputText id="corpnamefilter" styleClass="Wid90" value="${corporateSetupTableBean.corpNameFilter}" placeholder="Corporate Name Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{corporateSetupTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{corporateSetupTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":corporateFormRef" action="#{corporateSetupTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="corporateTable" lazy="true" var="datacorporate" 
                             value="${corporateSetupTableBean.lazyDataModel}" paginator="true" sortField="corporateName" sortOrder="ascending" 
                             rows="${corporateSetupTableBean.rowcount}"  selectionMode="single" selection="#{corporateSetupBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Corporates </f:facet>
                    <p:ajax event="rowSelect" listener="#{corporateSetupBean.onRowSelect}" disabled="#{userBean.etzUser}" update=":corporateForm" onstart="showProgress()" oncomplete="hideProgress()"/>
                        <p:column headerText="Approve Commission" rendered="#{corporateSetupBean.etzUser}"  style="width: 70px">
                        <p:commandLink  ajax="false" action="#{corporateSetupBean.allowCommission(datacorporate)}"  title="approve Commission less than bank's default">
                            <h:graphicImage name="#{not datacorporate.approveCommission?'images/mark.svg':'xdj'}" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Omit Commission" rendered="#{corporateSetupBean.etzUser}"  style="width: 70px">
                        <p:commandLink  ajax="false" action="#{corporateSetupBean.omitCommission(datacorporate)}"  title="#{datacorporate.applyCommission?'omit commission on corporate':'reinstate corporate on commission'}">
                            <h:graphicImage name="#{datacorporate.applyCommission?'images/cancel.png':'images/mark.svg'}" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Allow Other Bank's Account" rendered="false" style="width: 90px">
                        <p:commandLink  ajax="false" rendered="#{corporateSetupBean.etzUser}" action="#{corporateSetupBean.allowOtherAccount(datacorporate)}"  title="#{datacorporate.disAllowOtherAccount?'allow other account':'disallow other account'}">
                            <h:graphicImage name="#{datacorporate.disAllowOtherAccount?'images/cancel.png':'images/mark.svg'}" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Bank Name" rendered="#{userBean.etzUser}" ><h:outputText value="#{datacorporate.bank.bankName}" /></p:column>
                    <p:column headerText="Corporate Name" ><h:outputText value="#{datacorporate.corporateName}" /></p:column>
                    <p:column headerText="Contact Email" ><h:outputText value="#{datacorporate.contactEmail}" /></p:column>
                    <p:column headerText="Contact Phone" ><h:outputText value="#{datacorporate.contactPhone}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{datacorporate.status}" /></p:column>
                </p:dataTable>
            </h:form>
        </div>
    </div>
</ui:composition>