<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="corporateForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Corporate Basic Info" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="corporateName" value="Corporate Name" />
                        <p:inputText id="corporateName" title="business name of the corporate"  styleClass="controls-length4"  value="${corporateSetupBean.selectedItem.corporateName}" required="true" placeholder="Business Name of the Corporate"/>
                        <p:tooltip for="corporateName" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="contactEmail"  value="Contact Email:" />
                        <p:inputText id="contactEmail" title="valid email address for contacting corporate"   styleClass="controls-length4"  value="${corporateSetupBean.selectedItem.contactEmail}" required="true" placeholder="Contact Email"/>
                        <p:tooltip for="contactEmail" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="contactPhone"  value="Contact Phone:" />
                        <p:inputText id="contactPhone"  title="valid phone for contacting corporate" styleClass="controls-length4"  value="${corporateSetupBean.selectedItem.contactPhone}" required="true" placeholder="Contact Phone"/>
                        <p:tooltip for="contactPhone" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="state"  value="Contact State" />
                        <p:inputText id="state"  styleClass="controls-length4"  title="state of location of the corporate" value="${corporateSetupBean.selectedItem.contactState}" placeholder="Contact State"/>
                        <p:tooltip for="state" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="street"  value="Contact Street" />
                        <p:inputText id="street"  styleClass="controls-length4"  title="street of location of the corporate" value="${corporateSetupBean.selectedItem.contactStreet}" placeholder="Contact Street"/>
                        <p:tooltip for="street" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="town"  value="Contact Town" />
                        <p:inputText id="town"  styleClass="controls-length4"  title="town of location of the corporate" value="${corporateSetupBean.selectedItem.contactTown}" placeholder="Contact Town"/>
                        <p:tooltip for="town" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="logolabel" for="logo"  title="business logo of corporate"  value="Business Logo" />
                        <p:fileUpload id="logo" fileUploadListener="#{corporateSetupBean.handleLogoUpload}" mode="advanced"  
                                      update=":growl" auto="true" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>   
                        <p:tooltip for="logolabel" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

        <div class="EmptyBox10"></div>
        <div class="Container100 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Add On Services" rendered="false">
                    <p:selectManyCheckbox id="addons" value="#{corporateSetupBean.selectedItem.corporatePayServices}" converter="cpservicesConverter" layout="grid" columns="2" >
                        <f:attribute name="collectionType" value="java.util.ArrayList" />
                        <f:selectItems value="#{corporateSetupBean.corporatePayServices}" var="service" itemLabel="#{service.serviceDesc}" itemValue="#{service}" />
                    </p:selectManyCheckbox>
                </p:fieldset>
            </div>
        </div>

        <div class="Container100 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Other Info">
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel id="allfinauthcreationT" title="allow this corporate to create her final authorizer(s)" for="allfinauthcreation"  value="Allow Corporate to Create Final Authorizer?" />
                        <p:selectBooleanCheckbox id="allfinauthcreation" value="${corporateSetupBean.selectedItem.allowFinalAuthCreation}"/>
                        <p:tooltip for="allfinauthcreationT" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="alltsaT" title="allow token operations" for="alltsa"  value="Allow Token Operation?" />
                        <p:selectBooleanCheckbox id="alltsa" value="${corporateSetupBean.selectedItem.enableESA}"/>
                        <p:tooltip for="alltsaT" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid>
                </p:fieldset>
            </div>
        </div>


        <div class="Container100 Responsive">
            <div class="ContainerIndent">
                <p:fieldset id="commDetails" legend="Commission Details">
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel id="commTypeL" title="what model of commission would be applied for corporate" for="commType"  value="Commission Type" />
                        <p:selectOneMenu id="commType"  style="width:450px" value="#{corporateSetupBean.selectedItem.commissionType}" required="true">
                            <p:ajax event="change"  update=":corporateForm:commDetails" listener="#{corporateSetupBean.handleCommissionChange}" />
                            <f:selectItem itemLabel="Regular Commission" itemValue="0" />   
                            <f:selectItem itemLabel="Graduated Commission" itemValue="1" />  
                        </p:selectOneMenu> 
                        <p:tooltip for="commTypeL" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="gradcommL" rendered="#{corporateSetupBean.selectedItem.commissionType ne '0'}" for="gradcomm" title="graduated commission type"  value="Graduated Commission" />
                        <p:selectOneMenu id="gradcomm"  rendered="#{corporateSetupBean.selectedItem.commissionType ne '0'}" style="width:450px" converter="gradBankCommissionConverter" value="#{corporateSetupBean.selectedItem.gradBankCommission}" required="true">
                            <f:selectItem itemLabel="--select graduated commission--" itemValue="" /> 
                            <f:selectItems value="#{corporateSetupBean.gradBankCommissions}" var="comm" itemLabel="#{comm.structureName}" itemValue="#{comm}" />
                        </p:selectOneMenu> 
                        <p:tooltip for="gradcommL" rendered="#{corporateSetupBean.selectedItem.commissionType ne '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="etzComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}"  value="Platform Provider Commission" />
                        <p:inputText id="etzComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}"  styleClass="controls-length4"  title="commission that would be taken by platform provider per transaction" required="true" value="${corporateSetupBean.selectedItem.etzCommission}" placeholder="Etranzact Commission"/>
                        <p:tooltip for="etzComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="bankComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" value="Bank Commission" />
                        <p:inputText id="bankComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" styleClass="controls-length4"  title="commission that would be taken by bank per transaction" required="true" value="${corporateSetupBean.selectedItem.bankCommission}" placeholder="Bank's Commission"/>
                        <p:tooltip for="bankComission"  rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="bamounttypelabel" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" for="bamounttype" title="fixed implies value supplied while percent implies percentage value supplied of the transaction amount" value="Bank Commission Amount Type:"  />
                        <p:selectOneMenu id="bamounttype" style="width:450px" required="true" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" value="#{corporateSetupBean.selectedItem.bankCommissionType}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                            <f:selectItem itemLabel="Percent" itemValue="PC" />  
                        </p:selectOneMenu>  
                        <p:tooltip for="bamounttypelabel" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="bankComissionAcct"  value="Bank Commission Account" />
                        <p:inputText id="bankComissionAcct"  styleClass="controls-length4"  title="account to credit commission" required="true" value="${corporateSetupBean.selectedItem.bankCommissionAccount}" placeholder="Bank's Commission Account"/>
                        <p:tooltip for="bankComissionAcct" showEvent="mouseover" hideEvent="mouseout" />

                        <p:outputLabel for="thComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" value="Third Party1 Commission" />
                        <p:inputText id="thComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" styleClass="controls-length4"  title="commission that would be taken for third party per transaction" value="${corporateSetupBean.selectedItem.thirdPartyCommission}" placeholder="Third Party1's Commission"/>
                        <p:tooltip for="thComission" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="thamounttypelabel" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" for="thamounttype" title="fixed implies value supplied while percent implies percentage value supplied of the transaction amount" value="Third Party1 Commission Amount Type:"  />
                        <p:selectOneMenu id="thamounttype" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" style="width:450px" value="#{corporateSetupBean.selectedItem.thirdPartyCommissionType}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                            <f:selectItem itemLabel="Percent" itemValue="PC" />  
                        </p:selectOneMenu>  
                        <p:tooltip for="thamounttypelabel" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="thComissionAcct"  value="Third Party1 Commission Account" />
                        <p:inputText id="thComissionAcct"  styleClass="controls-length4"  title="account to credit commission" value="${corporateSetupBean.selectedItem.thirdPartyCommissionAccount}" placeholder="Third Party1's Commission Account"/>
                        <p:tooltip for="thComissionAcct" showEvent="mouseover" hideEvent="mouseout" />

                        <p:outputLabel for="thComission2" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" value="Third Party2 Commission" />
                        <p:inputText id="thComission2" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" styleClass="controls-length4"  title="commission that would be taken for third party per transaction" value="${corporateSetupBean.selectedItem.thirdPartyCommission2}" placeholder="Third Party2's Commission"/>
                        <p:tooltip for="thComission2" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="thamounttypelabel2" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}"  for="thamounttype2" title="fixed implies value supplied while percent implies percentage value supplied of the transaction amount" value="Third Party2 Commission Amount Type:"  />
                        <p:selectOneMenu id="thamounttype2" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" style="width:450px" value="#{corporateSetupBean.selectedItem.thirdPartyCommissionType2}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                            <f:selectItem itemLabel="Percent" itemValue="PC" />  
                        </p:selectOneMenu>  
                        <p:tooltip for="thamounttypelabel2" rendered="#{corporateSetupBean.selectedItem.commissionType eq '0'}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="thComissionAcct2"  value="Third Party2 Commission Account" />
                        <p:inputText id="thComissionAcct2"  styleClass="controls-length4"  title="account to credit commission" value="${corporateSetupBean.selectedItem.thirdPartyCommissionAccount2}" placeholder="Third Party2's Commission Account"/>
                        <p:tooltip for="thComissionAcct2" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid>
                </p:fieldset>
            </div>
        </div>

        <div class="Container100 Responsive">
            <div class="ContainerIndent">
                <h:panelGrid columns="2" class="Container25">
                    <p:commandButton value="Save Corporate" ajax="true" rendered="${userBean.loggedInUser.role.id ne '0003'}" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:corporateForm,:corporateFormRef:corporateTable" action="#{corporateSetupBean.save}" styleClass="GreenButton Fleft" />
                    <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":corporateForm,:corporateFormRef:corporateTable" action="#{corporateSetupBean.reset}" styleClass="OrangeButton Fleft" />
                </h:panelGrid >
            </div>
        </div>
    </h:form>

</ui:composition>