/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 4:37:01 PM
    Author     : Oluwasegun.Idowu
*/

.processmodalhidden {
    display: none
}

.processmodal {
    display: block;
    font-size: 16pt;
    font-weight: bold;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 105%;
    height: 105%;
    background-color: #ccc;
    text-align: center;
    padding-top: 20%;
    filter: alpha(opacity=75);
    opacity: 0.75;
    
}

.actions a{display:inline-block
}

.actions span{display:inline-block
}

.edit {
     background: url(../images/favourite.png) no-repeat !important;
}
