<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="bankcommissiontablef" >
        <div class="Container50 Responsive">

            <div class="ContainerIndent">
                <p:dataTable id="bankcommissionfeetable" var="commissionfee" rowKey="#{commissionfee.id}"
                             value="${bankCommissionBean.selectedItem.bankCommissionFees}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{bankCommissionBean.commissionFee}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${bankCommissionBean.showFees}" >
                    <p:ajax event="rowSelect" listener="#{bankCommissionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":bankcommissionform" />
                    <f:facet name="header">Commission Fees (${commissionBean.transactionType.description})</f:facet>
                        <p:column headerText="" style="width: 20px">
                            <p:commandLink styleClass="ui-icon ui-icon-minusthick" update=":growl,:bankcommissiontablef:bankcommissionfeetable,:bankcommissionform" ajax="true" action="#{bankCommissionBean.removeFee(commissionfee)}" onstart="showProgress()" oncomplete="hideProgress()" title="remove a commission fee"/>
         </p:column>
                    <p:column headerText="Owner" ><h:outputText value="#{commissionfee.commissionOwner}" /></p:column> 
                    <p:column headerText="From Amount" ><h:outputText value="#{commissionfee.minRange}" /></p:column> 
                    <p:column headerText="To Amount" ><h:outputText value="#{commissionfee.maxRange}" /></p:column>
                    <p:column headerText="Amount Type" ><h:outputText value="#{commissionfee.amountType eq 'PC'?'Percent':'Fixed'}" /></p:column>
                    <p:column headerText="Value" ><h:outputText value="#{commissionfee.amount}" /></p:column>
                </p:dataTable>
                <div class="EmptyBox10"></div>
                <p:commandButton value="Save All Changes" rendered="${bankCommissionBean.showFees}"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:bankcommissiontablef,:bankcommissionform,:banktranstypeFormRef" action="#{bankCommissionBean.save}" styleClass="GreenButton Fleft" />
            </div>
        </div>	    	

    </h:form>
    <h:form id="bankcommissionform" >
        <div class="Container50 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Commisson Fee" rendered="${bankCommissionBean.showFees}" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name2, value" >
                        <p:outputLabel for="from"  value="Transaction From:" />
                        <p:inputText id="from" title="transaction from this amount that would be considered for this commission" disabled="${not empty bankCommissionBean.commissionFee.id or not empty bankCommissionBean.selectedItem.commissionFees or not empty bankCommissionBean.commissionFee.minRange}"  value="${bankCommissionBean.commissionFee.minRange}" required="true" placeholder="transaction from this amount"/>
                        <p:tooltip for="from" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="to"  value="Transaction To:"  />
                        <p:inputText id="to" title="transaction to this amount that would be considered for this commission"  disabled="${not empty bankCommissionBean.commissionFee.id or  not empty bankCommissionBean.commissionFee.maxRange}" value="${bankCommissionBean.commissionFee.maxRange}" required="true" placeholder="to this amount"/>
                        <p:tooltip for="to" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the transaction amount" value="Amount Type:"  />
                        <p:selectOneMenu id="amounttype" style="width:150px" filter="true" filterMatchMode="startsWith" required="true" value="#{bankCommissionBean.commissionFee.amountType}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                            <f:selectItem itemLabel="Percent" itemValue="PC" />  
                        </p:selectOneMenu>  
                        <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" />					
                        <p:outputLabel for="amount"  value="Amount:"  />
                        <p:inputText id="amount" title="commission amount or percentage value" value="${bankCommissionBean.commissionFee.amount}" required="true" placeholder="amount"/>  										 
                        <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />					
                        <p:outputLabel/>
                        <p:commandButton value="Add Fee"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:bankcommissiontablef,:bankcommissionform" action="#{bankCommissionBean.addFee}" styleClass="GreenButton Fleft" />

                    </h:panelGrid>	
                </p:fieldset>				
            </div>
        </div>

<p:confirmDialog widgetVar="changeEtzCommisionDlg"  message="You are about to modify Etranzact
                 set commission, this implies your banks comission would be made to go through
                 approval in Etranzact when your bank's approval route ends" width="40%">   
<p:commandButton value="Cancel"   onclick="PF('changeEtzCommisionDlg').hide();" update=":bankcommissiontablef" 
              action="#{bankCommissionBean.nullifySelection}"/>
<p:commandButton value="Go Ahead" oncomplete="PF('changeEtzCommisionDlg').hide();" />
</p:confirmDialog>

    </h:form>



</ui:composition>