<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="transtypeFormRef">
                <p:dataTable id="transtypeTable" lazy="true" var="transtype" 
                             value="${transactionTypeTableBean.lazyDataModel}" paginator="true" 
                             rows="#{transactionTypeTableBean.rowcount}" selectionMode="single" selection="#{commissionBean.transactionType}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">Transaction Types </f:facet>
                    <p:ajax event="rowSelect" listener="#{commissionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":commissiontablef,:commissionform,:growl" />
                    <p:column headerText="Transaction Type" ><h:outputText value="#{transtype.description}" /></p:column>
                </p:dataTable> 
            </h:form>
        </div>
    </div>
</ui:composition>