<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="commissiontablef" >
        <div class="Container50 Responsive">

            <div class="ContainerIndent">
                <p:dataTable id="commissionfeetable" var="commissionfee" rowKey="#{commissionfee.id}"
                             value="${commissionBean.selectedItem.commissionFees}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{commissionBean.commissionFee}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${commissionBean.showFees}" >
                    <p:ajax event="rowSelect" listener="#{commissionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":commissionform" />
                    <f:facet name="header">Commission Fees (${commissionBean.transactionType.description}) </f:facet>
                    <p:column headerText="" style="width: 20px">
                        <p:commandLink styleClass="ui-icon ui-icon-minusthick" ajax="true" update=":growl,:commissiontablef:commissionfeetable,:commissionform" action="#{commissionBean.removeFee(commissionfee)}" onstart="showProgress()" oncomplete="hideProgress()" title="remove a commission fee"/>
                    </p:column>
                    <p:column headerText="From Amount" ><h:outputText value="#{commissionfee.minRange}" /></p:column> 
                    <p:column headerText="To Amount" ><h:outputText value="#{commissionfee.maxRange}" /></p:column>
                    <p:column headerText="Amount Type" ><h:outputText value="#{commissionfee.amountType eq 'PC'?'Percent':'Fixed'}" /></p:column>
                    <p:column headerText="Value" ><h:outputText value="#{commissionfee.amount}" /></p:column>
                </p:dataTable>
                <div class="EmptyBox10"></div>
                <p:commandButton value="Save All Changes" rendered="${commissionBean.showFees}"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:commissiontablef,:commissionform,:transtypeFormRef" action="#{commissionBean.save}" styleClass="GreenButton Fleft" />
            </div>
        </div>	    	

    </h:form>
    <h:form id="commissionform" >
        <div class="Container50 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Commisson Fee" rendered="${commissionBean.showFees}" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name2, value" >
                        <p:outputLabel for="from"  value="Transaction From:" />
                        <p:inputText id="from" title="transaction from this amount that would be considered for this commission" disabled="${not empty commissionBean.commissionFee.id  or not empty commissionBean.selectedItem.commissionFees or not empty commissionBean.commissionFee.minRange}"  value="${commissionBean.commissionFee.minRange}" required="true" placeholder="transaction from this amount"/>
                        <p:tooltip for="from" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="to"  value="Transaction To:"  />
                        <p:inputText id="to" title="transaction to this amount that would be considered for this commission"  disabled="${not empty commissionBean.commissionFee.id or  not empty commissionBean.commissionFee.maxRange}"  value="${commissionBean.commissionFee.maxRange}" required="true" placeholder="to this amount"/>
                        <p:tooltip for="to" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the transaction amount" value="Amount Type:"  />
                        <p:selectOneMenu id="amounttype" style="width:150px" filter="true" filterMatchMode="startsWith"  required="true" value="#{commissionBean.commissionFee.amountType}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                            <f:selectItem itemLabel="Percent" itemValue="PC" />  
                        </p:selectOneMenu>  
                        <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" />					
                        <p:outputLabel for="amount"  value="Amount:"  />
                        <p:inputText id="amount" title="commission amount or percentage value" value="${commissionBean.commissionFee.amount}" required="true" placeholder="amount"/>  										 
                        <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />					
                        <p:outputLabel/>
                        <p:commandButton value="Add Fee"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:commissiontablef,:commissionform" action="#{commissionBean.addFee}" styleClass="GreenButton Fleft" />

                    </h:panelGrid>	
                </p:fieldset>				
            </div>
        </div>



    </h:form>



</ui:composition>