<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml">
  <ui:define  name="requiredField"/>
    <ui:define name="head">
    </ui:define>
    
    <ui:define name="content">
             <ui:include src="support-header.xhtml" />
        <ui:include src="workspace/workspace_#{userBean.loggedInUser.role.id}.xhtml" />
    </ui:define>

</ui:composition>