<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui">


    <div id="layout-menubar" class="bigmenu Unselectable fontRegular">
        <div class="layout-menubarinner-box" id="buttonArea">
            <a href="javascript:;" id="layout-menubar-resize" class="BordRad3" title="Menu Resize"><i class="icon-th-list-2"></i></a>
            <a href="javascript:;" id="layout-menubar-resize2" class="BordRad3" title="Open Menu"><i class="icon-menu"></i></a>
        </div>

        <ul class="layout-menubar-container">
            <li id="sm_0" style="display: ${sessionScope.loginUser.changePassword?'none':'block'}" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" href="${request.contextPath}/dashboard"><i class="icon-home-1 yellow i"></i> Dashboard</a></li>
            <li id="dm_0" style="display: ${sessionScope.loginUser.changePassword?'none':'block'}" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" href="${request.contextPath}/tasks"><i class="layout-menubar-default icon-inbox-1 yellow i"></i> Inbox</a></li>
            <li id="mm_0" style="display: ${not sessionScope.loginUser.changePassword and sessionScope.loginUser.role.administrativeRole and (sessionScope.loginUser.role.merchantRole or sessionScope.loginUser.role.bankRole )?'block':'none'}" class="layout-menubar-default  firstnode"><a onclick="Sentinel.openSubMenu(this);" href="${request.contextPath}/preferences"><i class="layout-menubar-default icon-th yellow i"></i> Preference</a></li>
            <c:forEach var="menu" varStatus="menu_loop"   items="${userBean.userMenus}">
                <li id="sm_0${menu_loop.index}" style="display: ${sessionScope.loginUser.changePassword?'none':'block'}" class="layout-menubar-default layout-menubar-active firstnode"><a onload="Sentinel.openSubMenu(this);" onclick="Sentinel.openSubMenu(this);" class="level-1"><i class="icon-gauge yellow i"></i> ${menu.label} <i class="icon-angle-down Fright"></i></a>
                    <ul class="layout-menubar-submenu-container level_1">
                        <c:forEach varStatus="meni_item_loop" items="${menu.items}" var="menuitem">
                            <li id="sm_${menu_loop.index}_${menu_item_loop.index}" class="layout-menubar-default"><a href="${request.contextPath}${menuitem.href}" class="marginLevel-1"><i class="icon-th yellow i"></i> ${menuitem.label}</a></li>
                        </c:forEach>
                    </ul>

                </li>
            </c:forEach>
        </ul>

    </div>


</ui:composition>
