<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml">

    <ui:define name="content">
        <h:form>
            <div class="Container100 Responsive">
                <div class="ContainerIndent">
					<p:fieldset legend="First Time Login | Change Password">
                    <h:panelGrid id="bankcorp" class="Container70" columns="2"  cellpadding="2" cellspacing="15">
                        <p:outputLabel for="currPassword"  value="Current Password:" />
                        <p:password id="currPassword" styleClass="Wid100" value="${userBean.currPassword}" required="true" placeholder="Current Password"/>
                        <p:outputLabel for="newPassword"  value="New Password:" />
                        <p:password id="newPassword" styleClass="Wid100" value="${userBean.newPassword}" required="true" placeholder="New Password"/>
                        <p:outputLabel for="repeatPassword"  value="Repeat new Password:" />
                        <p:password id="repeatPassword" styleClass="Wid100" value="${userBean.repeatPassword}" required="true" placeholder="Repeat New Password"/> 
    <p:outputLabel for="token"  value="Token:" rendered="${userBean.tokenEnabled}"/>						
   <p:password id="token" styleClass="Wid100" value="${userBean.token}" rendered="${userBean.tokenEnabled}" required="true" placeholder="Token"/> 
   <p:commandButton value="Change Password" onstart="showProgress();" oncomplete="hideProgress();" update=":growl" action="#{userBean.changePassword}"  styleClass="GreenButton Fleft" />
                    </h:panelGrid>
					</p:fieldset>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>