<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <h:form>
            <f:event type="preRenderView" listener="#{preferenceBean.init()}"/>
            <div class="Container100 Responsive">
                <div class="ContainerIndent">
                    <p:fieldset legend="Preferences">
                        <h:panelGrid id="pref" columns="3"  width="100%" columnClasses="name3, value">
                            <c:choose>

                                <c:when test="#{sessionScope.loginUser.role.merchantRole}">


                                    <p:outputLabel for="sessionTime"  value="Session TimeOut:" />
                                    <p:inputText title="How long of idleness allowed(in minutes)" id="sessionTime" styleClass="controls-length4" value="${preferenceBean.selectedItem.sessionTime}" required="true" placeholder="How long of idleness allowed(in minutes)"/>
                                    <p:tooltip for="sessionTime" showEvent="mouseover" hideEvent="mouseout" />
                                    <p:outputLabel id="chargeBearerT" title="global setup of who bears the charge of payment" for="chargeBearer"  value="Beneficiary Pay Fees?" />
                                    <p:selectBooleanCheckbox id="chargeBearer" value="${preferenceBean.selectedItem.beneficiaryChargeBearer}"/>
                                    <p:tooltip for="chargeBearerT" showEvent="mouseover" hideEvent="mouseout" />
                                    <p:outputLabel id="payrollModeL" rendered="false" title="Payroll Complete consist workers group, sub grouping and salary tables while Payroll Lite deals directly with the gross salary of workers" for="payrollMode"  value="Payroll Mode:" />
                                    <p:selectOneMenu id="payrollMode" rendered="false"  style="width:450px" value="#{preferenceBean.selectedItem.payrollMode}" required="true" >
                                        <f:selectItem itemLabel="Payroll Complete" itemValue="PC" /> 
                                        <f:selectItem itemLabel="Payroll Lite" itemValue="PL" />  
                                    </p:selectOneMenu> 
                                    <p:tooltip for="payrollModeL" rendered="false"  showEvent="mouseover" hideEvent="mouseout" />
                                </c:when>
                                <c:otherwise>
                                    <p:outputLabel for="settlementAccount" rendered="false"  value="Settlement Account:" />
                                    <p:inputText title="Account that will be used for settlement" rendered="false"  id="settlementAccount" styleClass="controls-length4" value="${preferenceBean.selectedItem.settlementAccount}" required="true" placeholder="Settlement Account Number"/>
                                    <p:tooltip for="settlementAccount" rendered="false"  showEvent="mouseover" hideEvent="mouseout" />   
                                    <p:outputLabel for="thresholdamt"  value="Minimum Account Debit that should trigger alert:" />
                                    <p:inputText title="amount of debit on account that should trigger an alert" id="thresholdamt" styleClass="controls-length4" value="${preferenceBean.selectedItem.minimumPaymentAmount}" placeholder="Minimum Account Debit that should trigger alert"/>
                                    <p:tooltip for="thresholdamt"  showEvent="mouseover" hideEvent="mouseout" />  
                                    <p:outputLabel for="thresholdamtemail"  value="Comma Separated Email(s) to be triggered for Minimum Account Debit:" />
                                    <p:inputText title="emails that'll receive alert" id="thresholdamtemail" styleClass="controls-length4" value="${preferenceBean.selectedItem.minimumPaymentAmountEmails}" placeholder="Comma Separated Emails to trigger"/>
                                    <p:tooltip for="thresholdamtemail"  showEvent="mouseover" hideEvent="mouseout" />  
                                    <p:outputLabel for="authorizationNotificationEmailAlerts"  value="Comma Separated Email(s) to be triggered for Authorizations:" />
                                    <p:inputText title="emails that'll receive alert" id="authorizationNotificationEmailAlerts" styleClass="controls-length4" value="${preferenceBean.selectedItem.authorizationSupportEmails}" placeholder="Comma Separated Emails to trigger"/>
                                    <p:tooltip for="authorizationNotificationEmailAlerts"  showEvent="mouseover" hideEvent="mouseout" />  
                                </c:otherwise>
                            </c:choose>
                            <p:commandButton value="Save Preference" onstart="showProgress();" oncomplete="hideProgress();" update=":growl" action="#{preferenceBean.save}" styleClass="GreenButton Fleft" />						
                        </h:panelGrid>
                    </p:fieldset>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>