<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ContainerIndent">
        <h:form>
        <p:panel  id="gfilter" header="Filter" rendered="#{userBean.loggedInUser.role.id eq '0002' or userBean.loggedInUser.role.id eq '0018' or userBean.loggedInUser.role.id eq '0020'}"  toggleable="true" collapsed="false" widgetVar="filter">
            <h:panelGrid id="gbankcorporatefilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                <p:outputLabel for="gbankfilter" rendered="#{userBean.loggedInUser.role.id eq '0002' or userBean.loggedInUser.role.id eq '0018'}" value="Select Bank to Support:" />
                <p:selectOneMenu id="gbankfilter" filter="true" filterMatchMode="startsWith"  rendered="#{userBean.loggedInUser.role.id eq '0002' or userBean.loggedInUser.role.id eq '0018'}"  style="width:240px" value="#{userBean.supportBank}"  converter="bankConverter" >
                    <p:ajax event="change" update=":growl,gcorporatefilter" onstart="showProgress()" oncomplete="hideProgress()" listener="#{userBean.handleBankChange}" /> 
                    <f:selectItem itemLabel="--All Banks Selected--" itemValue="" />  
                    <f:selectItems value="#{userBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                </p:selectOneMenu>
                <p:outputLabel for="gcorporatefilter" value="Select Corporate to Support:" />
                <p:selectOneMenu id="gcorporatefilter" filter="true" filterMatchMode="startsWith"   style="width:240px" value="#{userBean.supportCorporate}"  converter="corporateConverter" >
                    <f:selectItem itemLabel="--All Corporates Selected--" itemValue="" />  
                    <p:ajax event="change" update=":growl" onstart="showProgress()" oncomplete="hideProgress()" listener="#{userBean.handleCorporateChange}" /> 
                    <f:selectItems value="#{userBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                </p:selectOneMenu>
            </h:panelGrid>
        </p:panel>
            </h:form>
    </div>
</ui:composition>
