<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGrid id="payment" columns="4" width="100%" columnClasses="name1, value">
        <p:outputLabel class="Underline"  value="Label" />
        <p:outputLabel class="Underline" value="Value" />
        <p:outputLabel />
        <p:outputLabel />
        <c:forEach items="#{taskBean.selectedItem.nameValuePairs}"  var="tobj">
            <c:choose>
                <c:when test="#{tobj.name eq 'View Transactions'}">
                    <p:commandButton value="#{tobj.name}"  ajax="true" update=":taskForm:transactionTable,:growl" action="#{paymentBean.viewTransactions(tobj)}" onstart="showProgress()" oncomplete="hideProgress()" title="view transactions"/>
                    <p:outputLabel />
                    <p:outputLabel />
                    <p:outputLabel />
                </c:when>
                <c:otherwise>
                    <p:outputLabel  class="fontBold" value="#{tobj.name}" />
                    <p:outputLabel class="fontBold" style="color:red" value="#{tobj.targetValue}" />
                    <p:outputLabel class="fontBold" style="color:red" value="#{not empty tobj.targetTmpValue?tobj.targetTmpValue:''}" />
                    <p:outputLabel />
                </c:otherwise>
            </c:choose>
        </c:forEach>

    </h:panelGrid>

    <p:dialog widgetVar="viewtransactions" modal="true" resizable="false" closable="true"  >
    
            <p:dataTable id="transactionTable" rowKey="transactionId"  var="transaction" 
                         value="${paymentBean.transactions}" paginator="true" 
                         rows="7"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">  <div align="center">
                        Transactions
                    </div>

                </f:facet>
                <p:column headerText="Transaction Reference" filterBy="#{transaction.transactionReference}" filterMatchMode="contains">    <h:outputText value="#{transaction.transactionReference}" /></p:column>
                <p:column headerText="Beneficiary" filterBy="#{transaction.beneficiary.account.accountIdentity}" filterMatchMode="contains" style="width: 400px" ><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                <p:column headerText="Narration" filterBy="#{transaction.narration}" filterMatchMode="contains">
                    <h:outputText value="#{transaction.narration}" />
                </p:column>
                <p:column headerText="Amount" filterBy="#{transaction.amount}" filterMatchMode="exact">
                    <h:outputText value="#{transaction.amount}" />
                </p:column>
            </p:dataTable>
   
    </p:dialog>
</ui:composition>