<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div id="layout-header" class="Unselectable fontRegular">
        <a href="dashboard.jsf" id="layout-logo">
            <h:graphicImage name="images/bank-logo.png" styleClass="Fleft" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'1000':sessionScope.loginUser.bankCode}"/>
            <!--span class="Fs19 FontTitilliumSemiBoldItalic Fleft"><span class="softblue">COPORATE PAY:: UBA</span></span-->
        </a>
		
		<span class="white Fs14" style="padding-left : 20px">Logged in as </span><span class="white Fs18 FontBold">${userBean.loggedInUser.username}</span><span class="white Fs18">(${userBean.loggedInUser.role.roleName})</span>
        <ul id="sm-topmenu" class="layout-header-widgets white Fs14 MustResponsive">
            <li style="display: ${sessionScope.loginUser.changePassword?'none':'block'}"  class="Fleft BordRadHalf TexAlCenter"> <i class="icon-user-male"></i>
                <ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
                    <li class="Animated05"><a class="white Unselectable"><i class="icon-user-male Fs26 OvHidden"></i><span class="Fs18">${userBean.loggedInUser.firstName} ${userBean.loggedInUser.lastName}<br/><br/>${userBean.loggedInUser.role.roleName}<br/><span class="Fs10">Last Login - ${userBean.loggedInUser.lastAccessTimeStr}</span></span></a></li>
                    <li class="Animated05"><a href="${request.contextPath}/tasks" class="white Unselectable"><i class="icon-stopwatch-1"></i>User Tasks</a></li>
                    <li class="Animated05"><a href="${request.contextPath}/changepassword" class="white Unselectable"><i class="icon-sliders"></i>Change Password</a></li>
                </ul>
            </li>
            <li style="display: ${sessionScope.loginUser.changePassword?'none':'block'}" class="Fleft BordRadHalf TexAlCenter"><i class="icon-mail"></i><span class="alertBubble BordRad10 Fs9">${empty userBean.inMails?'':fn:length(userBean.inMails)}</span>
                <ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
                    <c:forEach items="${userBean.inMails}" var="mail" varStatus="loop" >
                        <c:if test="${loop.index le 3}" >
                            <li class="Animated05"><a href="#" class="white Unselectable TexAlLeft"><i class="icon-chat-empty yellow"></i><b>${mail.messageCode eq '001'?'Welcome To CorporatePay':''}</b><br/><span class="Fs12"><h:outputText escape="false" value="${fn:substring(mail.message,0,40)}" />...</span></a></li> 
                        </c:if>
                    </c:forEach>
                    <li class="Animated05"><a href="${request.contextPath}/mails" class="white Unselectable TexAlRight"><i class="icon-flag"></i>View All Mails</a></li>
                </ul>
            </li>
            <li style="display: ${sessionScope.loginUser.changePassword?'none':'block'}"  class="Fleft BordRadHalf TexAlCenter"><i class="icon-bell"></i><span class="alertBubble BordRad10 Fs9">${empty userBean.approvalTasks?'':fn:length(userBean.approvalTasks)}</span>
                <ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
                    <c:forEach items="${userBean.approvalTasks}" var="task" varStatus="loop" >
                        <c:if test="${loop.index le 3}" >
                            <c:choose>
                                <c:when test="${task.requestApprovalType eq 'RCA'}" >
                                    <li class="Animated05"><a href="#" class="white Unselectable TexAlLeft"><i class="icon-chat-empty red Fs16"></i>${task.approvalRoute.approvalType.description}<br/><br/><span class="Fs12"><b>CREATED </b>${task.targetObjFormatted} on ${task.createdDateFormatted}</span></a></li>
                                </c:when>
                                <c:when test="${task.requestApprovalType eq 'RMA'}" >
                                    <li class="Animated05"><a href="#" class="white Unselectable TexAlLeft"><i class="icon-chat-empty yellow Fs16"></i>${task.approvalRoute.approvalType.description}<br/><br/><span class="Fs12"><b>MODIFIED </b>${task.targetObjFormatted} on ${task.createdDateFormatted}</span></a></li>
                                </c:when>
                                <c:otherwise>
                                    <li class="Animated05"><a href="#" class="white Unselectable TexAlLeft"><i class="icon-chat-empty white Fs16"></i>${task.approvalRoute.approvalType.description}<br/><span class="Fs12"><b>APPROVAL REQUEST for </b>${task.targetObjFormatted} on ${task.createdDateFormatted}</span></a></li>
                                </c:otherwise>
                            </c:choose>
                        </c:if>
                    </c:forEach>
                    <li class="Animated05"><a href="${request.contextPath}/tasks" class="white Unselectable TexAlRight"><i class="icon-flag"></i>View All Task</a></li>
                </ul>
            </li>
            <li class="Fleft BordRadHalf TexAlCenter"><i class="icon-power"></i>
                <ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
                    <li class="Animated05"><h:form><p:commandLink  action="${userBean.logout()}"  value="Log Out" class="white Unselectable icon-logout" ></p:commandLink></h:form></li>

                </ul>
            </li>
            <li class="Fleft BordRadHalf TexAlCenter"><i class="icon-help-circled"></i>
                <h:graphicImage id="helpimg" rendered="false" name="images/help.png" width="24px" height="24px" library="sentinel-layout"/>
				<p:overlayPanel id="imageBtn" showEvent="mouseover" dismissable="false" showCloseIcon="true" for="helpimg" hideEffect="fade">
                    <h:form id="helpform">
                        <p:fieldset id="helpmsg" collapsed="false" toggleable="true">
                            <p:outputLabel value="#{userBean.helpMsg}"/>
                        </p:fieldset>
                        <ui:include src="help/help_${userBean.loggedInUser.role.id}.xhtml" />
                    </h:form>
                </p:overlayPanel>
            </li>

        </ul>
        <!-- NEVER REMOVE FOLLOWING 'UL' TAG ! BECAUSE THIS CONTAINS RESPONSIVE MODE HEADER MENU OPEN-CLOSE BUTTON -->
        <ul style="display: ${sessionScope.loginUser.changePassword?'none':'block'}"  class="layout-header-widgets white Fs14">
            <li class="Fleft BordRadHalf TexAlCenter Animated05 DisplayOnResponsive NoDisplay" id="ResponsiveModeOneMenu"><i class="icon-th-1"></i></li>
        </ul>
        <!-- ****** -->
    </div>

</ui:composition>
