<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="eventFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="eventfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">

                        <p:outputLabel for="eventObjfilter"   value="Event Object Filter:" />
                        <p:inputText id="eventObjfilter" styleClass="Wid90" value="${authEventTableBean.eventObjectFilter}" placeholder="Event Object Filter"/> 
                        <p:outputLabel for="corporatefilter"   value="Coroporate Filter:" />
                        <p:inputText id="corporatefilter" styleClass="Wid90" value="${authEventTableBean.corporateFilter}" placeholder="Corporate Filter"/>
                        <p:outputLabel for="loggedUserfilter"   value="Logged User Filter:" />
                        <p:inputText id="loggedUserfilter" styleClass="Wid90" value="${authEventTableBean.userFilter}" placeholder="Logged User Filter"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{authEventTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{authEventTableBean.toDateFilter}" />
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":eventFormRef" action="#{authEventTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="bankTable" lazy="true" var="event" class="Container100_"
                             value="${authEventTableBean.lazyDataModel}" paginator="true" sortField="createdDate" sortOrder="descending" 
                             rows="${authEventTableBean.rowcount}"  selectionMode="single" selection="#{eventBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Events </f:facet>
                     <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true"  onclick="PF('confirmMarkSuccessful2').show();" rendered="#{not event.resolved}" action="#{eventBean.setSelectedItem(event)}" title="Mark as authorized"  >
                            <h:graphicImage name="images/mark.svg"   width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                      <p:column headerText="Date"  style="width: 150px" ><h:outputText value="#{event.dateCreatedStr}" /></p:column>
                    <p:column headerText="Corporate"  style="width: 150px"><h:outputText value="#{event.corporate.corporateName}" /></p:column>
                    <p:column headerText="Event Focused On"  style="width: 100px"><h:outputText value="#{event.eventObject}" /></p:column>
                    <p:column headerText="Message" style="width: 250px"><h:outputText value="#{event.message}" /></p:column> 
                  
                    <p:column headerText="Amount" style="width: 250px" ><h:outputText value="#{empty event.transaction?empty event.payment?'':event.payment.totalAmountf:event.transaction.amountf}" /></p:column>             
                    <p:column headerText="Description" style="width: 250px" ><h:outputText value="#{empty event.transaction?empty event.payment?'':event.payment.paymentDescription:event.transaction.narration}" /></p:column>
                    <p:column headerText="Initiator"  style="width: 150px"><h:outputText value="#{event.loggedUser}" /></p:column>



                </p:dataTable>

                       <p:confirmDialog widgetVar="confirmMarkSuccessful2"  message="You about to mark the selected Payment as Authorized as successful, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":eventFormRef:bankTable"  action="#{eventBean.initEvent}"  oncomplete="hideProgress();PF('confirmMarkSuccessful2').hide();"/>
                    <p:commandButton value="Mark as Authorized" onstart="showProgress()" action="#{eventBean.markAsAuthorized}" update=":growl,:eventFormRef:bankTable"  oncomplete="hideProgress();PF('confirmMarkSuccessful2').hide();" />
                </p:confirmDialog>

            </h:form>
        </div></div>
</ui:composition>