<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../../../../WEB-INF/template.xhtml">
  
    <ui:define name="content">
        <!-- SECTION 1 -->
 
        <div class="Container100">
            <div class="ContainerIndent">
                                    <div class="Container100"><div class="ContainerIndent"><h:outputText value="Transaction Events For Support" styleClass="FontBold Fs18 hardblue"></h:outputText></div></div>
                <div class="Container100 Responsive">
                    <div class="ContainerIndent">
                  
                          <ui:include src="eventtable_transaction.xhtml" />
                    </div>
                </div>
            </div>
        </div>
     
 
     
    </ui:define>

</ui:composition>