<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="eventForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Events" rendered="#{not empty eventBean.selectedItem}" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="eventCode" value="Event Focus" />
                        <p:outputLabel id="eventCode" title="focus object logging events for" styleClass="controls-length4"  value="${eventBean.selectedItem.eventObject}"/>
                        <p:tooltip for="eventCode" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="message"  value="Message:" />
                        <p:outputLabel id="message" title="event message"   styleClass="controls-length4" value="${eventBean.selectedItem.message}"/>
                        <p:tooltip for="message" showEvent="mouseover" hideEvent="mouseout" />

                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container30" rendered="#{not eventBean.selectedItem.resolved}">
                        <p:commandButton value="Mark as Successful" onclick="PF('confirmMarkSuccessful').show();" rendered="#{not empty eventBean.selectedItem and eventBean.selectedItem.eventType eq 'Transaction'}"  styleClass="GreenButton Fleft" />
                        <p:commandButton value="Mark for Re-processing" onclick="PF('confirmMarkForProcessing').show();" rendered="#{not empty eventBean.selectedItem and eventBean.selectedItem.eventType eq 'Transaction'}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>
        
                 <p:confirmDialog widgetVar="confirmMarkSuccessful"  message="You about to mark the selected Transaction as successful, Are you sure you want to continue?" width="40%" closable="true">   
            <p:commandButton value="Cancel" onstart="showProgress()" update=":eventForm,:eventFormRef"  action="#{eventBean.initEvent}"  oncomplete="hideProgress();PF('confirmMarkSuccessful').hide();"/>
            <p:commandButton value="Mark as Successful" onstart="showProgress()" action="#{eventBean.markAsSuccessful}" update=":growl,:eventForm,:eventFormRef"  oncomplete="hideProgress();PF('confirmMarkSuccessful').hide();" />
        </p:confirmDialog>
        <p:confirmDialog widgetVar="confirmMarkForProcessing"  message="You about to mark the selected Transaction for re-processing, Are you sure you want to continue?" width="40%" closable="true">   
            <p:commandButton value="Cancel" onstart="showProgress()" update=":eventForm,:eventFormRef" action="#{eventBean.initEvent}"  oncomplete="hideProgress();PF('confirmMarkForProcessing').hide();"/>
            <p:commandButton value="Mark for Processing" onstart="showProgress()"  action="#{eventBean.markForProcessfing}" update=":growl,:eventForm,:eventFormRef"  oncomplete="hideProgress();PF('confirmMarkForProcessing').hide();" />
        </p:confirmDialog>
    
    </h:form>


</ui:composition>