<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="paymentTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="paymentRef" value="Payment Reference:" />
                        <p:inputText id="paymentRef" title="Payment Reference" value="${transactionTableBean.paymentRefFilter}" placeholder="Payment Reference"/>
                        <p:outputLabel for="transRef" value="Transaction Reference:" />
                        <p:inputText id="transRef" title="Transaction Reference" value="${transactionTableBean.transactionRefFilter}" placeholder="Transaction Reference"/>
                        <p:outputLabel for="narration" value="Narration:" />
                        <p:inputText id="narration" title="Narration" value="${transactionTableBean.narration}" placeholder="Narration"/>
                        <p:outputLabel for="accountNo" value="Account Number" />
                        <p:inputText id="accountNo" title="account Number" value="${transactionTableBean.accountNumber}" placeholder="Amount Number"/>
                        <p:outputLabel for="accountName" value="Account Number:" />
                        <p:inputText id="accountName" title="Account Name" value="${transactionTableBean.accountName}" placeholder="Amount Name"/>
                        <p:outputLabel for="amount" value="Amount:" />
                        <p:inputText id="amount" title="Amount" value="${transactionTableBean.amount}" placeholder="Amount"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{transactionTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{transactionTableBean.toDateFilter}" />	
                        <p:outputLabel for="statusfilter"   value="Filter Transactions:" />
                        <p:selectOneMenu id="statusfilter" style="width:200px"  value="#{transactionTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{transactionTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":paymentTableRef" action="#{transactionTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="transactionTable" lazy="true" var="transaction" 
                             value="${transactionTableBean.lazyDataModel}" paginator="true" sortField="transactionId" sortOrder="descending" 
                             rows="${transactionTableBean.rowcount}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header"> 
                        <div align="center">
                            Transactions
                        </div>

                        <div align="left">
                            <p:splitButton value="Action">
                                <p:menuitem value="Mark All As Failed" onclick="PF('confirmAllMarkFailure2').show();" />
                                <p:separator />
                                <p:menuitem value="Mark All As Successful" onclick="PF('confirmAllMarkSuccessful2').show();" />
                                <p:separator />
                                <p:menuitem value="Mark All for Reprocessing" onclick="PF('confirmAllMarkForProcessing2').show();"/>
                            </p:splitButton>
                        </div> 
                    </f:facet>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true"  onclick="PF('confirmMarkSuccessful2').show();" rendered="#{transaction.statusUnknown}" action="#{eventBean.setTransaction(transaction)}" title="Mark as successful"  >
                            <h:graphicImage name="images/mark.svg"   width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true"  onclick="PF('confirmMarkFailure2').show();" rendered="#{transaction.statusUnknown}" action="#{eventBean.setTransaction(transaction)}" title="Mark as failed"  >
                            <h:graphicImage name="images/cancel.png"   width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="true"  onclick="PF('confirmMarkForProcessing2').show();" rendered="#{transaction.statusUnknown}" action="#{eventBean.setTransaction(transaction)}" title="Retry Transaction">
                            <h:graphicImage name="images/refresh.jpg" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Creation Date"><h:outputText value="#{transaction.dateCreatedStr}" /></p:column>
                    <p:column headerText="Transaction Reference"><h:outputText value="#{transaction.transactionReference}" /></p:column>
                    <p:column headerText="Narration" ><h:outputText value="#{transaction.narration}" /></p:column>
                    <p:column headerText="Beneficiary" ><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                    <p:column headerText="Amount(NGN)" ><h:outputText value="#{transaction.amountf}" /></p:column>


                    <p:column headerText="Status" style="width: 140px"><h:outputText value="#{transaction.status}" /></p:column>
                </p:dataTable>


                <p:confirmDialog widgetVar="confirmMarkFailure2"  message="You about to mark the selected Transaction as failed, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":paymentTableRef"  action="#{eventBean.initEvent}"  oncomplete="hideProgress();PF('confirmMarkFailure2').hide();"/>
                    <p:commandButton value="Mark as Failed" onstart="showProgress()" action="#{eventBean.markAsFailed}" update=":growl,:paymentTableRef"  oncomplete="hideProgress();PF('confirmMarkFailure2').hide();" />
                </p:confirmDialog>
                <p:confirmDialog widgetVar="confirmMarkSuccessful2"  message="You about to mark the selected Transaction as successful, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":paymentTableRef"  action="#{eventBean.initEvent}"  oncomplete="hideProgress();PF('confirmMarkSuccessful2').hide();"/>
                    <p:commandButton value="Mark as Successful" onstart="showProgress()" action="#{eventBean.markAsSuccessful}" update=":growl,:paymentTableRef"  oncomplete="hideProgress();PF('confirmMarkSuccessful2').hide();" />
                </p:confirmDialog>
                <p:confirmDialog widgetVar="confirmMarkForProcessing2"  message="You about to mark the selected Transaction for re-processing, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":paymentTableRef" action="#{eventBean.initEvent}"  oncomplete="hideProgress();PF('confirmMarkForProcessing2').hide();"/>
                    <p:commandButton value="Mark for Processing" onstart="showProgress()"  action="#{eventBean.markForProcessfing}" update=":growl,:paymentTableRef"  oncomplete="hideProgress();PF('confirmMarkForProcessing2').hide();" />
                </p:confirmDialog>
                 <p:confirmDialog widgetVar="confirmAllMarkFailure2"  message="You about to mark Transaction(s) with unknown status as failed, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":paymentTableRef"  oncomplete="hideProgress();PF('confirmAllMarkFailure2').hide();"/>
                    <p:commandButton value="Mark all as Failed" onstart="showProgress()" action="#{eventBean.markAllAsFailed}" update=":growl,:paymentTableRef"  oncomplete="hideProgress();PF('confirmAllMarkFailure2').hide();" />
                </p:confirmDialog>
                <p:confirmDialog widgetVar="confirmAllMarkSuccessful2"  message="You about to mark Transaction(s) with unknown status as successful, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":paymentTableRef"  oncomplete="hideProgress();PF('confirmAllMarkSuccessful2').hide();"/>
                    <p:commandButton value="Mark all as Successful" onstart="showProgress()" action="#{eventBean.markAllAsSuccessful}" update=":growl,:paymentTableRef"  oncomplete="hideProgress();PF('confirmAllMarkSuccessful2').hide();" />
                </p:confirmDialog>
                <p:confirmDialog widgetVar="confirmAllMarkForProcessing2"  message="You about to mark Transaction(s) with unknown status for re-processing, Are you sure you want to continue?" width="40%" closable="false">   
                    <p:commandButton value="Cancel" onstart="showProgress()" update=":paymentTableRef" oncomplete="hideProgress();PF('confirmAllMarkForProcessing2').hide();"/>
                    <p:commandButton value="Mark all for Processing" onstart="showProgress()"  action="#{eventBean.markAllForProcessfing}" update=":growl,:paymentTableRef"  oncomplete="hideProgress();PF('confirmAllMarkForProcessing2').hide();" />
                </p:confirmDialog>
            </h:form>
        </div></div>
</ui:composition>