<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
   <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
    <p:dataTable id="apptypeTable" lazy="true" var="apptype" 
                 value="${approvalTypeTableBean.lazyDataModel}" paginator="true" sortField="description" sortOrder="ascending"
                 rows="#{approvalTypeTableBean.rowcount}" selectionMode="single" selection="#{approvalRouteBean.approvalType}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15" >
         <f:facet name="header">Approval Types </f:facet>
         <p:ajax event="rowSelect" listener="#{approvalRouteBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":approvalroutetablef,:approuteform," />
          <p:column headerText="Name" ><h:outputText value="#{apptype.description}" /></p:column>
           
    </p:dataTable>
            </div>
   </div>
</ui:composition>