<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <style type="text/css">
        .ui-autocomplete .ui-inputfield {
            clear: left;
            cursor: text;
            list-style-type: none;
            margin: 0;
            min-height: 1px;
            overflow: hidden;
            width: 122px;
        }
    </style>
<h:form id="approuteform">

        <div class="Container50 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Approval Level" rendered="#{approvalRouteBean.showAppRoute}" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name1, value"  >
                        <p:outputLabel id="aliaslabel" title="provide an alias for the approval route of this approval stage or select from existing alias" value="Route Alias:" for="alias" rendered="${approvalRouteBean.selectedItem.approvalType.allowMultipleRoute}" />
                        <p:autoComplete id="alias"  dropdown="true" value="#{approvalRouteBean.selectedItem.routeAlias}" required="true" rendered="${approvalRouteBean.selectedItem.approvalType.allowMultipleRoute}" completeMethod="#{approvalRouteBean.completeAlias}" />
                        <p:tooltip for="aliaslabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel  id="flevelabel" title="pick a stage where the user would act" for="flevel"  value="Approval Stage:" />
                        <p:spinner id="flevel"  value="${approvalRouteBean.selectedItem.level}"  min="1" max="20"  required="true"/>
                        <p:tooltip for="flevelabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="approverlabel" title="select the user that would act on that level" for="approver"  value="Approver:" />
                        <p:selectOneMenu id="approver" style="width:155px" value="#{approvalRouteBean.selectedItem.approver}" required="true" converter="approverConverter" >
                            <f:selectItem itemLabel="--Select User or Group--" itemValue="" />  
                            <f:selectItems value="#{approvalRouteBean.approvers}" var="approver" itemLabel="#{approver.identity}" itemValue="#{approver}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="approverlabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:commandButton value="#{empty approvalRouteBean.selectedItem.id?'Add':'Modify'} Approval Stage" style="display:#{approvalRouteBean.showAppRoute?'block':'none'}"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:approvalroutetablef,:approuteform" action="#{approvalRouteBean.save}" styleClass="GreenButton Fleft" rendered="${userBean.loggedInUser.role.id ne '0003'}"/>
                    </h:panelGrid>
                </p:fieldset>
            </div>
        </div>


    </h:form>
    <h:form id="approvalroutetablef">
        
        <div class="Container50 Responsive">

            <div class="ContainerIndent">
                <p:dataTable id="approvalroutetable"  var="approute" sortField="level" sortOrder="ascending"
                             value="${approvalRouteBean.pathsSetUp}" rowKey="#{approute.id}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{approvalRouteBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${approvalRouteBean.showAppRoute}" >
                    <f:facet name="header">Approval Routes (${approvalRouteBean.approvalType.description}) </f:facet>
                    <p:ajax event="rowSelect" listener="#{approvalRouteBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":approuteform" />
                    <p:column headerText="Route Alias" rendered="#{approvalRouteBean.approvalType.allowMultipleRoute}" ><h:outputText value="#{approute.routeAlias}" /></p:column> 
                    <p:column headerText="Approval Stage" ><h:outputText value="#{approute.level}" /></p:column>  
                    <p:column headerText="Approver Name" ><h:outputText value="#{approute.approver.identity}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{approute.status}" /></p:column>
                </p:dataTable>
              <div class="EmptyBox10"></div>
              <p:commandButton value="Save All Changes" rendered="#{approvalRouteBean.showAppRoute and not approvalRouteBean.newApprovalRoute and approvalRouteBean.approvalType.description ne 'Workflow' and userBean.loggedInUser.role.id ne '0003'}"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:approvalroutetablef,:approuteform" action="#{approvalRouteBean.saveAllModifications}" styleClass="OrangeButton Fleft" />

            </div>
            <div class="ContainerIndent">
            </div>	

        </div>
    </h:form>	
    


</ui:composition>