<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="userFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="userfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="rolefilter" value="Role Filter:" />
                        <p:selectOneMenu id="rolefilter"  style="width:200px"  value="#{userSetupTableBean.rolefilter}" converter="roleConverter" >
                            <f:selectItem itemLabel="--Select Role--" itemValue="" />  
                            <f:selectItems value="#{userSetupBean.roles}" var="role" itemLabel="#{role.roleName}" itemValue="#{role}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="usernamefilter"   value="UserName:" />
                        <p:inputText id="usernamefilter" styleClass="Wid80" value="${userSetupTableBean.userName}" placeholder="User Name Filter"/> 
                        <p:outputLabel for="firstnamefilter"   value="First Name:" />
                        <p:inputText id="firstnamefilter" styleClass="Wid80" value="${userSetupTableBean.firstName}" placeholder="First Name Filter"/>  
                        <p:outputLabel for="lastnamefilter"   value="Last Name:" />
                        <p:inputText id="lastnamefilter" styleClass="Wid80" value="${userSetupTableBean.lastName}" placeholder="Last Name Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:200px"  value="#{userSetupTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{userSetupTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":userFormRef" action="#{userSetupTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="userTable" lazy="true" var="datauser" 
                             value="${userSetupTableBean.lazyDataModel}" paginator="true" sortField="id" sortOrder="descending" 
                             rows="${userSetupTableBean.rowcount}"  selectionMode="single" selection="#{userSetupBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" first="#{userSetupTableBean.first}" >
                    <f:facet name="header">Users </f:facet>
                    <p:ajax event="filter" listener="#{userSetupTableBean.onFilterChange}"/>  
                    <p:ajax event="page" listener="#{userSetupTableBean.onPageChange}"/>  
                    <p:ajax event="rowSelect" listener="#{userSetupBean.onRowSelect}" update=":userForm" onstart="showProgress()" oncomplete="hideProgress()"/>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="false" rendered="#{datauser.userLocked and (userBean.loggedInUser.role.id eq '0003' or userBean.loggedInUser.role.id eq '0005' or (userBean.corporateUser and userBean.loggedInUser.role.id eq '0006')) }" action="#{userBean.unlockUser(datauser)}" title="Unlock User"  >
                            <h:graphicImage name="images/mark.svg"   width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Username"><h:outputText value="#{datauser.username}" /></p:column>
                    <p:column headerText="First Name" ><h:outputText value="#{datauser.firstName}" /></p:column>
                    <p:column headerText="Last Name"><h:outputText value="#{datauser.lastName}" /></p:column>
                    <p:column headerText="Role"><h:outputText value="#{datauser.role.roleName}" /></p:column>
                    <p:column headerText="Status"><h:outputText value="#{datauser.status}" /></p:column>
                </p:dataTable>
            </h:form>
        </div></div>
</ui:composition>