<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="userForm">


        <div class="Container100 Responsive ">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Basic" toggleable="true">
                    <h:panelGrid id="bankcorp" columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel id="rolelabel" for="role" title="select a role for the user" value="Role:" />
                        <p:selectOneMenu id="role"  style="width:450px" filter="true" filterMatchMode="startsWith" value="#{userSetupBean.selectedItem.role}" required="#{(userSetupBean.selectedItem.role.id eq '0004' or userSetupBean.selectedItem.role.id eq '0006')?false:true}" converter="roleConverter" >
                            <p:ajax event="change"  update=":userForm" listener="#{userSetupBean.handleRoleChange}" />
                            <f:selectItem itemLabel="--Select Role--" itemValue="" />  
                            <f:selectItems value="#{userSetupBean.roles}" var="role" itemLabel="#{role.roleName}" itemValue="#{role}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="rolelabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="banklabel" for="bank" title="select the bank this bank administrator belong"  rendered="#{userSetupBean.showBank}"  value="Bank:" />
                        <p:selectOneMenu id="bank" style="width:450px" filter="true" filterMatchMode="startsWith" rendered="#{userSetupBean.showBank}"   value="#{userSetupBean.bank}"  converter="bankConverter" >
                            <p:ajax event="change"  listener="#{userSetupBean.handleBankChange}" /> 
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{userSetupBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="banklabel" rendered="#{userSetupBean.showBank}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="corporatelabel" for="corporate" title="select the corporate this corporate administrator belong"  rendered="#{userSetupBean.showCorporate}"  value="Corporate:" />

                        <p:selectOneMenu id="corporate" style="width:450px" filter="true" filterMatchMode="startsWith" rendered="#{userSetupBean.showCorporate}"   value="#{userSetupBean.corporate}"  converter="corporateConverter" >
                            <p:ajax event="change"  listener="#{userSetupBean.handleCorporateChange}" />
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{userSetupBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="corporatelabel"   rendered="#{userSetupBean.showCorporate}"  showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="username"  rendered="${empty userSetupBean.selectedItem.id}" value="UserName:" />
                        <p:inputText id="username"  styleClass="controls-length4" title="provide a unique username" validator="usernameexistValidator" rendered="${empty userSetupBean.selectedItem.id}" value="${userSetupBean.selectedItem.username}" required="true" placeholder="User Name">
                        </p:inputText>
                        <p:tooltip for="username" rendered="${empty userSetupBean.selectedItem.id}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="firstname"   value="First Name:" />
                        <p:inputText id="firstname" title="user's first name"  styleClass="controls-length4" value="${userSetupBean.selectedItem.firstName}" required="true" placeholder="First Name"/>
                        <p:tooltip for="firstname" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="lastname"  value="Last Name:" />
                        <p:inputText id="lastname" title="user's last name"  styleClass="controls-length4" value="${userSetupBean.selectedItem.lastName}" required="true" placeholder="Last Name"/>
                        <p:tooltip for="lastname" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="email"  value="Email:" />
                        <p:inputText id="email"  styleClass="controls-length4" title="provide an email"  value="${userSetupBean.selectedItem.email}" required="true" placeholder="Email"/>
                        <p:tooltip for="email"  showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="phone"  value="Mobile Phone" />
                        <p:inputText id="phone" title="user's mobile phone number"  styleClass="controls-length4" value="${userSetupBean.selectedItem.mobilePhone}" required="true" placeholder="Mobile Phone Number"/>
                        <p:tooltip for="phone" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid>
                </p:fieldset>
            </div>

            <div class="ContainerIndent"> 
                <p:fieldset legend="Security Token(Optionally Specify Token Security Details)" toggleable="true">
                    <h:panelGrid id="tokenSec" columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="tokenUsername"  value="Token User Name" />
                        <p:inputText id="tokenUsername" title="token username"  styleClass="controls-length4" value="${userSetupBean.selectedItem.tokenUserName}" required="false" placeholder="username to be used for token operations"/>
                        <p:tooltip for="tokenUsername" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="tokenGroup"  value="Token User Group" />
                        <p:inputText id="tokenGroup" title="token user group"  styleClass="controls-length4" value="${userSetupBean.selectedItem.tokenUserGroup}" required="false" placeholder="the token group user belongs"/>
                        <p:tooltip for="tokenGroup" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="tokenSerialNumber"  value="Token Serial Number" />
                        <p:inputText id="tokenSerialNumber" title="serial number of token user"  styleClass="controls-length4" value="${userSetupBean.selectedItem.tokenSerialNumber}" required="false" placeholder="the serial number of token user"/>
                        <p:tooltip for="tokenSerialNumber" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid>
                </p:fieldset>
            </div>
            <div class="ContainerIndent"> 
                <p:fieldset legend="Access Control (Optionally Specify Access Restrictions)" toggleable="true">

                    <h:panelGrid columns="6" class="Container80" cellpadding="3" cellspacing="10">
                        <p:outputLabel for="accessfrom"  value="From Date:" />
                        <p:calendar id="accessfrom" value="#{userSetupBean.selectedItem.fromTimeAccess}" />
                        <p:outputLabel for="accessto"  value="To Date:" />
                        <p:calendar id="accessto" value="${userSetupBean.selectedItem.toTimeAccess}" />
                        <p:outputLabel for="tsunday"  value="Sundays?" />
                        <p:inputSwitch id="tsunday"  value="${userSetupBean.selectedItem.tsunday}" />
                        <p:outputLabel for="tmonday"  value="Mondays?" />
                        <p:inputSwitch id="tmonday"  value="${userSetupBean.selectedItem.tmonday}" />
                        <p:outputLabel for="ttuesday"  value="Tuesdays?" />
                        <p:inputSwitch id="ttuesday"  value="${userSetupBean.selectedItem.ttuesday}" />
                        <p:outputLabel for="twednesday"  value="Tuesdays?" />
                        <p:inputSwitch id="twednesday"  value="${userSetupBean.selectedItem.twednesday}" />
                        <p:outputLabel for="tthursday"  value="Thursdays?" />
                        <p:inputSwitch id="tthursday"  value="${userSetupBean.selectedItem.tthursday}" />
                        <p:outputLabel for="tfriday"  value="Fridays?" />
                        <p:inputSwitch id="tfriday"  value="${userSetupBean.selectedItem.tfriday}" />
                        <p:outputLabel for="tsaturday"  value="Saturdays?" />
                        <p:inputSwitch id="tsaturday"  value="${userSetupBean.selectedItem.tsaturday}" />
                    </h:panelGrid>
                </p:fieldset>
            </div>


            <div class="ContainerIndent">
                <h:panelGrid columns="2" class="Container20">
                    <p:commandButton value="Save User" rendered="${userBean.loggedInUser.role.id ne '0003'}" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:userForm,:userFormRef:userTable" action="#{userSetupBean.save}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":userForm,:userFormRef:userTable" action="#{userSetupBean.reset}" styleClass="OrangeButton Fleft" />
                </h:panelGrid >
           
            </div>

        </div>
    </h:form>

</ui:composition>