<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	       <p:fieldset legend="Bank Beneficiary" toggleable="true">
    <div class="ContainerIndent">
 <h:form id="approvaluserformRefB" >
        <h:panelGrid id="bbeneficiary" columns="4" width="80%" columnClasses="name3 value">
            <p:outputLabel id="bgrouplabel" for="bbgroup" title="select group to add beneficiary to"  value="Payment Group:" />
            <p:selectOneMenu id="bbgroup" style="width:450px" filter="true" required="false"  filterMatchMode="startsWith" value="#{beneficiaryBean.selectedItem.beneficiaryGroup}"  converter="beneficaryGroupConverter" >
                <f:selectItem itemLabel="--No Group--" itemValue="" />  
                <f:selectItems value="#{paymentBean.beneficiaryGroups}" var="group" itemLabel="#{group.groupName}" itemValue="#{group}"  />  
            </p:selectOneMenu> 
            <p:tooltip for="bgrouplabel" showEvent="mouseover" hideEvent="mouseout" />
            <p:outputLabel/>
            <p:outputLabel id="banklabel" for="bank" title="select the bank for which the account belong"  value="Bank:" />
            <p:selectOneMenu id="bank" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{beneficiaryBean.selectedItem.account.bank}"  converter="bankConverter" >
                <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                <f:selectItems value="#{beneficiaryBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
            </p:selectOneMenu> 
            <p:outputLabel/>
            <p:tooltip for="banklabel" showEvent="mouseover" hideEvent="mouseout" />
            <p:outputLabel for="accountNumber" value="Account Number:" />
            <p:inputText id="accountNumber" title="Account Number"  styleClass="controls-length4"  value="${beneficiaryBean.selectedItem.account.accountNumber}" required="true" placeholder="Bank Account Number (You can validate using the icon)"/>
            <p:commandLink action="#{paymentBean.doBankNamedEnquiry(beneficiaryBean.selectedItem.account.accountNumber,beneficiaryBean.selectedItem.account.bank.id)}" onstart="showProgress()" oncomplete="hideProgress()"  update=":tabView:approvaluserformRefB:accountName,:growl" >
                <p:graphicImage id="validatee" name="images/refresh.jpg" title="validate account number" style="width:24px;height:24px" library="sentinel-layout" />  
            </p:commandLink>
            <p:tooltip for="accountNumber" showEvent="mouseover" hideEvent="mouseout" />
            <p:outputLabel for="accountName" value="Account Name:" />
            <p:inputText id="accountName" title="Account Name (use the refresh button to get it)"  styleClass="controls-length4"  value="${beneficiaryBean.selectedItem.account.accountName}" required="false" placeholder="Account Name (use the refresh button to get it)"/>
            <p:tooltip for="accountName" showEvent="mouseover" hideEvent="mouseout" />
            <p:outputLabel/>
            <p:outputLabel for="bemail" value="Email:" />
            <p:inputText id="bemail" title="Beneficiary email"  styleClass="controls-length4"   value="${beneficiaryBean.selectedItem.beneficiaryEmail}" required="false" placeholder="Beneficiary Email"/>
            <p:tooltip for="bemail" showEvent="mouseover" hideEvent="mouseout" />
            <p:outputLabel/>
<p:outputLabel/> 			
            <p:commandButton value="Create" action="#{beneficiaryBean.createBeneficiary}" onstart="showProgress()" oncomplete="hideProgress()"  update=":growl,:tabView:approvaluserformRefB,:approvalusertablef" styleClass="GreenButton Fleft"/>			
        </h:panelGrid>
		</h:form>
    </div>
</p:fieldset>
</ui:composition>