<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="approvalusertablef">
                <p:dataTable id="apgroupTable" var="beneficiary" rowKey="#{beneficiary.id}"
                             value="${beneficiaryBean.beneficiaries}" paginator="true"  sortField="#{beneficiary.id}" sortOrder="descending" 
                             rows="10" selectionMode="single" selection="#{beneficiaryBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">

                        Beneficiaries


                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{beneficiaryBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":tabView,:growl" />
                    <p:column headerText="Beneficiary" style="width: 500px" filterBy="#{beneficiary.account.accountIdentity}" filterMatchMode="contains" ><h:outputText value="#{beneficiary.account.accountIdentity}" /></p:column>
                    <p:column headerText="Email" filterBy="#{beneficiary.beneficiaryEmail}" filterMatchMode="contains"><h:outputText value="#{beneficiary.beneficiaryEmail}" /></p:column>
                    <p:column headerText="Phone" filterBy="#{beneficiary.beneficiaryPhone}" filterMatchMode="contains"><h:outputText value="#{beneficiary.beneficiaryPhone}" /></p:column>
                    <p:column headerText="Group" filterBy="#{beneficiary.beneficiaryGroup.groupName}" filterMatchMode="contains"><h:outputText value="#{beneficiary.beneficiaryGroup.groupName}" /></p:column>
                </p:dataTable>      

            </h:form>
        </div>
    </div>
</ui:composition>