<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="Container100 Responsive">

        <div class="ContainerIndent">
            <p:tabView activeIndex="${beneficiaryBean.focusIndex}" id="tabView">
                <p:ajax event="tabChange" update=":tabView" listener="#{beneficiaryBean.onTabChange}" />

                <p:tab  title="Pocket Moni Account"> 
                    <ui:include src="pocketmoni.xhtml" />
                </p:tab>

                <p:tab title="Bank Account">
                    <ui:include src="bank.xhtml" />
                </p:tab>





            </p:tabView>
        </div>

    </div>

</ui:composition>