<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="approvaluserformRef" >
        <div class="Container50 Responsive">
  
            <div class="ContainerIndent">
                <p:dataTable id="approvalgroupusertable" var="groupuser" rowKey="#{groupuser.id}" sortField="#{groupuser.id}" sortOrder="descending"
                             value="${beneficiaryGroupBean.beneficiarys}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{beneficiaryGroupBean.beneficiary}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${not empty beneficiaryGroupBean.beneficiarys or not empty beneficiaryGroupBean.selectedItem.id}" >
                    <f:facet name="header">Beneficiaries (${beneficiaryGroupBean.selectedItem.groupName}) </f:facet>
                    <p:column headerText="" style="width: 20px">
                        <p:commandLink styleClass="ui-icon ui-icon-minusthick" ajax="true" action="#{beneficiaryGroupBean.setBeneficiary(groupuser)}"  onclick="PF('confirmRemoveBenfromGroup').show();"   title="remove a member"/>
                    </p:column>
                    <p:column headerText="Account Details" ><h:outputText value="#{groupuser.account.accountIdentity}" /></p:column> 
                </p:dataTable>
            </div>
            <div class="ContainerIndent">
            </div>	

        </div>
        
          <p:confirmDialog widgetVar="confirmRemoveBenfromGroup"  message="you are about to remove beneficiary from this group, Are you sure you want to continue?" width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('confirmRemoveBenfromGroup').hide();" />
                    <p:commandButton value="Go Ahead" onstart="showProgress()" oncomplete="hideProgress();PF('confirmRemoveBenfromGroup').hide();" update=":approvalusertablef,:growl" action="${beneficiaryGroupBean.removeBeneficiaryFromGroup}" />
                </p:confirmDialog>
    </h:form>
    <h:form id="appgroupform"  >
        <div class="Container50 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Search Beneficiary with Account Name or Account Number" toggleable="true" rendered="${not empty beneficiaryGroupBean.beneficiarys or not empty beneficiaryGroupBean.selectedItem.id}">	
                    <h:panelGrid columns="1" width="100%" columnClasses="name1, value" >
                          <p:autoComplete id="beneficiary"  emptyMessage="Beneficiary not found,provide account number or account name. you might as well also add a new beneficiary by clicking the add icon" value="#{beneficiaryGroupBean.beneficiary}" styleClass="controls-length4" forceSelection="true"  var="ben" itemLabel="#{ben.account.accountIdentity}" itemValue="#{ben}" style="width: 300px" converter="beneficiaryConverter" required="true" placeholder="provide account number or name of beneficary" completeMethod="#{paymentBean.completeBeneficary}" > 
                        <p:column style="width:100%">
                            <h:outputText value="#{ben.account}" />
                        </p:column> 
                    </p:autoComplete>
                        <p:commandButton value="Add Beneficiary" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:approvaluserformRef,:appgroupform" action="#{beneficiaryGroupBean.addBeneficiary}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:fieldset>
            </div>
        </div>

    </h:form>


</ui:composition>