<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="approvalusertablef">
                <p:dataTable id="apgroupTable" var="beneficiaryGroup" rowKey="#{beneficiaryGroup.id}"
                             value="${beneficiaryGroupBean.beneficiaryGroups}" paginator="true" 
                             rows="10" selectionMode="single" selection="#{beneficiaryGroupBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">
                        <div align="center">
                            Beneficiaries Group
                        </div>
                        <div align="left">
                            <p:commandButton value="Create Beneficiary Group"  onclick="PF('bengroup').show();" 
                                             styleClass="GreenButton Fleft"/>   
                        </div>     
                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{beneficiaryGroupBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":approvalusertablef,:approvaluserformRef,:growl,:appgroupform" />
                    <p:column headerText="Group Name" ><h:outputText value="#{beneficiaryGroup.groupName}" /></p:column>
                </p:dataTable> 
                <p:dialog widgetVar="bengroup" modal="true" width="30%" resizable="false" closable="true"  >
                    <p:fieldset legend="Cretae New Beneficiary Group">
                        <h:panelGrid id="bankcorp" columns="1" cellpadding="5">
                            <p:inputText id="groupalias" styleClass="Wid90" value="${beneficiaryGroupBean.selectedItem.groupName}" required="true"  placeholder="Group Name"/>
                            <p:commandButton value="Create" onstart="showProgress()" oncomplete="hideProgress();PF('bengroup').hide();" update=":growl,apgroupTable" action="#{beneficiaryGroupBean.createBenGroup}" styleClass="GreenButton Fleft" />
                        </h:panelGrid>
                    </p:fieldset>
                </p:dialog>      

            </h:form>
        </div>
    </div>
</ui:composition>