<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:fieldset legend="PocketMoni Beneficiary" toggleable="true">
        <div class="ContainerIndent">
            <h:form id="approvaluserformRefP" >
                <h:panelGrid id="pbeneficiary" columns="4" width="80%" columnClasses="name3 value">
                    <p:outputLabel id="grouplabel" for="bgroup" title="select group to add beneficiary to"  value="Payment Group:" />
                    <p:selectOneMenu id="bgroup" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{beneficiaryBean.selectedItem.beneficiaryGroup}"  converter="beneficaryGroupConverter" >
                        <f:selectItem itemLabel="--No Group--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.beneficiaryGroups}" var="benGroup" itemLabel="#{benGroup.groupName}" itemValue="#{benGroup}"  />  
                    </p:selectOneMenu> 
                    <p:tooltip for="grouplabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
                    <p:outputLabel for="paccountNumber" value="Account Number:" />
                    <p:inputText id="paccountNumber" title="Account Number"  styleClass="controls-length4"  value="${beneficiaryBean.selectedItem.account.accountNumber}" required="true" placeholder="Pocket Moni Account (You can validate using the icon)"/>
                    <p:commandLink action="#{paymentBean.doPMNamedEnquiry(beneficiaryBean.selectedItem.account.accountNumber)}" onstart="showProgress()" oncomplete="hideProgress()"  update=":tabView:approvaluserformRefP:palias,:growl" >
                        <p:graphicImage id="validate" name="images/refresh.jpg" title="validate account number" style="width:24px;height:24px" library="sentinel-layout" />  
                    </p:commandLink>
                    <p:tooltip for="paccountNumber" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="palias" value="Account Name:" />
                    <p:inputText id="palias" title="Account Name (use the refresh button to get it)"  styleClass="controls-length4"   value="${beneficiaryBean.selectedItem.account.accountName}" required="false" placeholder="Account Name (use the refresh button to get it)"/>
                    <p:tooltip for="palias" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
                    <p:outputLabel for="pemail" value="Email:" />
                    <p:inputText id="pemail" title="Beneficiary email"  styleClass="controls-length4"   value="${beneficiaryBean.selectedItem.beneficiaryEmail}" required="false" placeholder="Beneficiary Email"/>
                    <p:tooltip for="pemail" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
                    <p:outputLabel/> 			
                    <p:commandButton value="Create" action="#{beneficiaryBean.createBeneficiary}" onstart="showProgress()" oncomplete="hideProgress()"  update=":growl,:tabView:approvaluserformRefP,:approvalusertablef" styleClass="GreenButton Fleft"/>

                </h:panelGrid>
            </h:form>
        </div>
    </p:fieldset>
</ui:composition>