<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="pfaForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="PFA" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value" >
                        <p:outputLabel for="pfaCode" value="PFA Code" />
                        <p:inputText id="pfaCode" title="unique pfa code" styleClass="controls-length4" value="${pfaSetupBean.selectedItem.authCode}" required="true" placeholder="Unique PFA Code"/>
                        <p:tooltip for="pfaCode" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="pfaName"  value="PFA Name:" />
                        <p:inputText id="pfaName" title="name of the pension fund administrator"  styleClass="controls-length4" value="${pfaSetupBean.selectedItem.authName}" required="true" placeholder="PFA Name"/>
                        <p:tooltip for="pfaName" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="pfaEmail"  value="PFA Merchant Contact Email" />
                        <p:inputText id="pfaEmail" title="contact email address of the pfa"  styleClass="controls-length4" value="${pfaSetupBean.selectedItem.contactEmail}" required="true" placeholder="Contact Email"/>
                        <p:tooltip for="pfaEmail" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="pfauserc" title="User that would handle correspondence for PFA" for="pfausers"  value="CorporatePay Contact User" />
                        <p:selectOneMenu id="pfausers" style="width:450px" filter="true" filterMatchMode="startsWith"  value="#{pfaSetupBean.selectedItem.user}" required="true" converter="userConverter" >
                            <f:selectItem itemLabel="--Select User--" itemValue="" />  
                            <f:selectItems value="#{pfaSetupBean.users}" var="user" itemLabel="#{user.firstName} #{user.lastName} (#{user.username})" itemValue="#{user}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="pfauserc" showEvent="mouseover" hideEvent="mouseout" />

                    </h:panelGrid>
                    <h:panelGrid columns="2" class="Container20">
                        <p:commandButton value="Save PFA" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:pfaForm,:pfaFormRef:pfaTable" action="#{pfaSetupBean.save(true)}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":pfaForm,:pfaFormRef:pfaTable" action="#{pfaSetupBean.reset}" styleClass="OrangeButton Fleft" />			
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>