<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
				   <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
    <h:form id="pfaFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
            <h:panelGrid id="pfafilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                 <p:outputLabel for="pfanamefilter"   value="PFA Name Filter:" />
                 <p:inputText id="pfanamefilter" styleClass="Wid90" value="${pfaSetupTableBean.pfaNameFilter}" placeholder="PFA Name Filter"/> 
			  <p:outputLabel for="statusfilter"   value="Status:" />
                       <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{pfaSetupTableBean.statusFilter}" >
                    <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                    <f:selectItems value="#{pfaSetupTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                </p:selectOneMenu> 
				 <p:outputLabel/>
				  <p:outputLabel/>
                <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":pfaFormRef" action="#{pfaSetupTableBean.refresh}" styleClass="GreenButton Fleft" />
            </h:panelGrid>
      
      </p:panel>
    <p:dataTable id="pfaTable" lazy="true" var="datapfa" 
                 value="${pfaSetupTableBean.lazyDataModel}" paginator="true" sortField="authName" sortOrder="ascending" 
                 rows="${pfaSetupTableBean.rowcount}"  selectionMode="single" selection="#{pfaSetupBean.selectedItem}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15">
         <f:facet name="header">PFA </f:facet>
         <p:ajax event="rowSelect" listener="#{pfaSetupBean.onRowSelect}" update=":pfaForm,:pfaFormRef:pfaTable" onstart="showProgress()" oncomplete="hideProgress()"/>
          <p:column headerText="" style="width: 20px">
              <p:commandLink styleClass="ui-icon ui-icon-plusthick" ajax="true" action="#{pfaSetupBean.doAccount(datapfa)}" onstart="showProgress()" oncomplete="hideProgress()" title="Manage pension fund administrator's account"/>
         </p:column>
          <p:column headerText="PFA Code" ><h:outputText value="#{datapfa.authCode}" /></p:column>
          <p:column headerText="Name" ><h:outputText value="#{datapfa.authName}" /></p:column>
          <p:column headerText="Contact PFA Merchant Email" ><h:outputText value="#{datapfa.contactEmail}" /></p:column>
            <p:column headerText="Contact Corporate Pay User" ><h:outputText value="#{datapfa.user.firstName} #{datapfa.user.lastName} (#{datapfa.user.username})" /></p:column>
           <p:column headerText="Status" ><h:outputText value="#{datapfa.status}" /></p:column>
    </p:dataTable>
</h:form>
</div></div>
</ui:composition>