<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:fieldset legend="Pay" toggleable="true">
        <div class="ContainerIndent">

            <h:form id="gpaymentFormRef">							
                <p:dataTable id="gsinglePayTable" var="beneficary" rowKey="#{beneficary.id}"
                             value="${paymentBean.selectedItem.beneficiaries}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{paymentBean.beneficary}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">
                        <div align="center">
                            Beneficiaries
                        </div>
                        <div align="left">
                            <p:commandButton value="Create Payment" onclick="PF('chargebearer2').show();"  rendered="${not empty paymentBean.selectedItem.beneficiaries}" 
                                             styleClass="OrangeButton Fleft"/>   
                        </div>     
                    </f:facet>
                    <p:column headerText="" style="width: 20px">
                        <p:commandLink styleClass="ui-icon ui-icon-tag" ajax="true" update=":tabView:gpaymentForm,:tabView:setamount" action="#{paymentBean.markBeneficary(beneficary)}"  oncomplete="hideProgress();PF('gcreateBeneficiary').show();" title="select a beneficary for amount input"/>
                    </p:column>
                    <p:column headerText="Account Name" style="width: 160px"><h:outputText value="#{beneficary.beneficiaryName}" /></p:column> 
                    <p:column headerText="Account Identity" ><h:outputText value="#{beneficary.account.accountIdentity}" /></p:column>
                    <p:column headerText="Amount(NGN)" style="width: 80px"><h:outputText value="#{beneficary.amount}" /></p:column>
                </p:dataTable>
            </h:form>	
        </div>
        <div class="ContainerIndent">
            <h:form id="gpaymentForm">
                <h:panelGrid columns="5" id="bendiv" width="100%" columnClasses="name3 value">
                    <p:outputLabel id="grouplabel" for="bgroup" title="select group to to pay"  value="Group To Pay:" />
                    <p:selectOneMenu id="bgroup" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{paymentBean.beneficary.beneficiaryGroup}"  converter="beneficaryGroupConverter" >
                        <p:ajax event="change"  onstart="showProgress()" update=":tabView:gpaymentFormRef"  oncomplete="hideProgress();" listener="#{paymentBean.handleGroupChange}" /> 
                        <f:selectItem itemLabel="--Group to Pay--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.beneficiaryGroups}" var="benGroup" itemLabel="#{benGroup.groupName}" itemValue="#{benGroup}"  />  
                    </p:selectOneMenu> 
                    <p:graphicImage id="newgroup" name="images/add.png" onclick="PF('gcreateBeneficiaryGroup').show();" title="New Beneficiary Group" style="width:24px;height:24px" library="sentinel-layout" /> 
                    <p:tooltip for="grouplabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:tooltip for="newgroup" showEvent="mouseover" hideEvent="mouseout" /> 
                </h:panelGrid> 

            </h:form>
        </div>
    </p:fieldset>

    <h:form id="setamount">
        <p:dialog widgetVar="gcreateBeneficiary" modal="true" resizable="false" closable="true"  >
            <p:fieldset legend="Transaction Details">
                <h:panelGrid id="beneficiaryGroupCr" columns="3" width="100%" columnClasses="name3 value">
                    <p:outputLabel for="amount" value="Amount:" />
                    <p:inputText id="amount" title="Amount to Pay"  styleClass="controls-length4"  value="${paymentBean.beneficary.amount}" required="true" placeholder="Amount to Pay"/>
                    <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
                     <p:outputLabel for="narration" value="Transaction Narration:" />
                    <p:inputText id="narration" title="purpose of payment" styleClass="controls-length4" value="${paymentBean.beneficary.narration}" required="true" placeholder="purpose of payment"/>  										 
                    <p:tooltip for="narration" showEvent="mouseover" hideEvent="mouseout" />	
                    <p:outputLabel/>
                    <p:commandButton value="Set Details" oncomplete="PF('gcreateBeneficiary').hide();" update=":tabView:gpaymentFormRef" styleClass="GreenButton Fleft"/>
                </h:panelGrid>
            </p:fieldset>
        </p:dialog>
    </h:form>

    <h:form>
        <p:dialog widgetVar="gcreateBeneficiaryGroup" modal="true" resizable="false" closable="true"  >
            <p:fieldset legend="Create Group">
                <h:panelGrid id="beneficiaryGroupCr" columns="3" width="100%" columnClasses="name3 value">

                    <p:outputLabel for="groupName" value="Group Name:" />
                    <p:inputText id="groupName" title="Group Name"  styleClass="controls-length4"  value="${paymentBean.beneficiaryGroup.groupName}" required="true" placeholder="Group Name"/>
                    <p:tooltip for="groupName" showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Create" action="#{paymentBean.createBeneficiaryGroup}" onstart="showProgress()" oncomplete="PF('gcreateBeneficiaryGroup').hide();hideProgress();" update=":growl,:tabView:gpaymentForm" styleClass="GreenButton Fleft"/>
                </h:panelGrid>
            </p:fieldset>
        </p:dialog>
    </h:form>

    <h:form>



    </h:form>
    <h:form>
        <p:dialog widgetVar="gstartWorkflow" modal="true" resizable="false" closable="false"  >
            <p:fieldset legend="Initiate Approval Process?">
                <h:panelGrid  columns="2" width="100%" columnClasses="name3 value">
                    <p:outputLabel for="route" title="select a payment route that payment should follow"  value="Approval Route:" />
                    <p:selectOneMenu id="route" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{paymentBean.route}" >
                        <f:selectItem itemLabel="--Choose Any Route--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.routes}" var="route" itemLabel="#{route}" itemValue="#{route}"  />  
                    </p:selectOneMenu> 
                    <p:commandButton value="I will Initiate Later" action="${paymentBean.initiateWorkflowLater}" update=":tabView:gpaymentFormRef" onclick="PF('startWorkflow').hide();" styleClass="OrangeButton Fright"/>
                    <p:commandButton value="Initiate"  onstart="showProgress()" action="${paymentBean.initiateWorkflow}" update=":growl,:tabView:gpaymentFormRef,:paymentTableRef:paymentTable"  oncomplete="PF('gstartWorkflow').hide();hideProgress();" styleClass="GreenButton Fleft"/>
                </h:panelGrid>

            </p:fieldset>
        </p:dialog>
    </h:form>

    <h:form>
        <p:dialog widgetVar="chargebearer2" modal="true" resizable="false" closable="true"  >
            <p:fieldset>
                <h:panelGrid  columns="3" width="40%" columnClasses="name3 value">
                        <p:outputLabel value="Narration:" />
                       <p:inputText id="narrtnn"  title="Payment narration"  style="width:145px" required="true" placeholder="Payment narration" value="#{paymentBean.selectedItem.paymentDescription}" />
                        <p:tooltip for="narrtnn" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="lcbearer2" for="cbearer2" title="who bears the charge"  value="Approval Route:" />
                    <p:selectOneMenu id="cbearer2" style="width:150px" required="true" value="#{paymentBean.selectedItem.chargeBearer}" >
                        <f:selectItem itemLabel="Beneficiary" itemValue="1" />  
                        <f:selectItem itemLabel="Payer" itemValue="2"/>  
                    </p:selectOneMenu>
                    <p:tooltip for="lcbearer2" showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Create" action="${paymentBean.save}" onstart="showProgress()" oncomplete="hideProgress();PF('chargebearer2').hide();"  update=":growl,:tabView:gpaymentFormRef,:tabView:gpaymentForm,:paymentTableRef:paymentTable" styleClass="GreenButton Fleft"/>
                </h:panelGrid>

            </p:fieldset>
        </p:dialog>
    </h:form>
</ui:composition>