<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="paytrackerFormRef">

                <p:panel   id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paytrackerfilter" class="Container100" columns="3" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="paytracker" value="Payment Ref:" />
                        <p:inputText id="paytracker" styleClass="Wid30" value="${paymentTrackerBean.paymentRefFilter}" placeholder="Search with Payment Reference"/> 
                                 <p:outputLabel/>
                        <p:outputLabel for="gcorporatefilter"  rendered="${userBean.etzUser}"  value="Corporate:" />
                        <p:selectOneMenu id="gcorporatefilter" filter="true" rendered="${userBean.etzUser}"  filterMatchMode="startsWith"   style="width:240px" value="#{paymentTrackerBean.corporateFilter}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{paymentTrackerBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu>
                             <p:outputLabel/>
                        <p:commandButton value="Search" onstart="showProgress()" oncomplete="hideProgress()" update=":paytrackerFormRef" action="#{paymentTrackerBean.search}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="paytrackerTable" var="appTask" 
                             value="${paymentTrackerBean.approvalTasks}" paginator="true" sortField="level" sortOrder="ascending" 
                             rows="10"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Payment Approval Route</f:facet>
                    <p:column headerText="Corporate" rendered="${userBean.etzUser}" ><h:outputText value="#{appTask.approvalRoute.corporate.corporateName}" /></p:column>
                    <p:column headerText="Payment Reference" ><h:outputText value="#{appTask.targetObjectId}" /></p:column>
                    <p:column headerText="Approval Stage" style="width: 50px"><h:outputText value="#{appTask.approvalRoute.level}" /></p:column>  
                    <p:column headerText="Approver Identity" ><h:outputText value="#{appTask.approvalRoute.approver.identity}" /></p:column>
                    <p:column headerText="Action State" style="width: 140px"><h:outputText value="#{not empty appTask.actionDate?'Action Done':'Pending Action'}" /></p:column>
                    <p:column headerText="Action" style="width: 100px"><h:outputText value="#{not empty appTask.approvalAction?appTask.approvalAction eq 'AP'?'Approved':appTask.approvalAction eq 'KIV'?'Kept In View':appTask.approvalAction eq 'RJ'?'Rejected':'':''}" /></p:column>
                    <p:column headerText="Action Date" ><h:outputText value="#{appTask.actionDateFormatted}" /></p:column>
                    <p:column headerText="Comment" ><h:outputText value="#{not empty appTask.comment?approute.approvalTask.comment:''}" /></p:column>
                </p:dataTable>
            </h:form>
        </div>
    </div>
</ui:composition>