<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



    <div class="Container100 Responsive">

        <div class="ContainerIndent"> 

            <p:tabView  activeIndex="${paymentBean.focusIndex}" id="tabView">
                <p:ajax event="tabChange" update=":tabView" listener="#{paymentBean.onTabChange}" />
                   <p:tab title="Upload"> 
                    <ui:include src="uploadpay.xhtml" />
                </p:tab>
                <p:tab  title="Pay Single/Multiple Beneficiary"> 
                    <ui:include src="singlemultiplepay.xhtml" />
                </p:tab>
                <p:tab title="Pay Group Beneficiary">
                        <ui:include src="grouppay.xhtml" />
                </p:tab>
             
            </p:tabView>
        </div>

    </div>


    
</ui:composition>