<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form>
                <p:poll interval="10" update=":paymentTableRef:paymentTable" listener="${paymentTableBean.refresh()}" />
            </h:form>
            <h:form id="paymentTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="paymentRef" value="Payment Reference:" />
                        <p:inputText id="paymentRef" title="Payment Reference" value="${paymentTableBean.paymentRefFilter}" placeholder="Payment Reference"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{paymentTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{paymentTableBean.toDateFilter}" />					
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":paymentTableRef" action="#{paymentTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="paymentTable" lazy="true" var="payment" 
                             value="${paymentTableBean.lazyDataModel}" paginator="true" sortField="id" sortOrder="descending" 
                             rows="${paymentTableBean.rowcount}"  selectionMode="single" selection="#{paymentBean.selectedItem2}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Payments </f:facet>
                    <!--p:ajax event="rowSelect" listener="#{paymentBean.onRowSelect}" update=":transactionSummaryForm" onstart="showProgress()" oncomplete="hideProgress()" /-->
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true" update=":transactionForm" action="#{paymentBean.viewTransaction(payment)}" onstart="showProgress()" oncomplete="hideProgress()" title="view uploads">
                            <h:graphicImage name="images/view.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="true" rendered="#{payment.flagStatus eq 'CR' or payment.flagStatus eq 'PROK'}" action="#{paymentBean.setSelectedItem2(payment)}" onclick="PF('tstartWorkflow').show();" title="initiate payment approval">
                            <h:graphicImage name="images/1433263156_approve.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="true" rendered="#{not payment.scheduled}" action="#{paymentBean.setSelectedItem2(payment)}"  onclick="PF('confirmSchedule').show();" title="create schedule">
                            <h:graphicImage name="images/create.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="true" rendered="#{payment.flagStatus eq 'PRE'}" action="#{paymentBean.setSelectedItem2(payment)}"  onclick="PF('suplementaryfile').show();" title="upload supplementary file">
                            <h:graphicImage name="images/upload.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="false" rendered="#{payment.flagStatus eq 'PRE'}" action="#{paymentBean.downloadErrorFile(payment)}"    title="download exception file">
                            <h:graphicImage name="images/excel.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Created Date"  style="width: 100px"><h:outputText value="#{payment.dateCreatedStr}" /></p:column>
                    <p:column headerText="Payment Reference"  style="width: 100px"><h:outputText value="08#{payment.paymentReference}" /></p:column>
                    <p:column headerText="File"  style="width: 100px"><h:outputText value="#{payment.uploadPath2}" /></p:column>
                    <p:column headerText="Total Amount(NGN)" style="width: 90px"><h:outputText value="#{payment.totalAmountf}" /></p:column>
                        <p:column headerText="Total Charge(NGN)" style="width: 90px"><h:outputText value="#{payment.amountChargef}" /></p:column>
                    <p:column headerText="Valid Count" ><h:outputText value="#{payment.totalCount}" /></p:column>
                    <p:column headerText="Invalid Count" ><h:outputText value="#{payment.invalidCount}" /></p:column>
                    <p:column headerText="Duplicate Count" ><h:outputText value="#{payment.duplicateCount}" /></p:column>
                    <p:column headerText="Status" style="width: 100px"><h:outputText value="#{payment.status}" /></p:column>
                </p:dataTable>

            </h:form>
            <h:form id="transactionForm">
                <p:dialog widgetVar="transactions" width="80%" height="50%" modal="true" resizable="false" closable="true"  >
                    <p:fieldset legend="#{paymentBean.selectedItem2.paymentReference} :: Transactions">
                        <p:dataTable id="transactionTable" rowKey="transactionId"  var="transaction" 
                                     value="${paymentBean.selectedItem2.uploads}" paginator="true" 
                                     rows="5"  sortField="id" sortOrder="descending"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15">
                            <f:facet name="header">Uploads </f:facet>
                            <p:column headerText="Reference" ><h:outputText value="#{transaction.transactionReference}" /></p:column>
                            <p:column headerText="Beneficiary"  style="width: 400px" filterBy="#{transaction.beneficiary.account.accountIdentity}" filterMatchMode="contains" ><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                            <p:column headerText="Narration" ><h:outputText value="#{transaction.narration}" /></p:column>
                            <p:column headerText="Amount"  >
                                <h:outputText value="#{transaction.amountf}" /></p:column>

                            <p:column headerText="Date Created" ><h:outputText value="#{transaction.dateCreated}" /></p:column>
                            <p:column headerText="Status" ><h:outputText value="#{transaction.status}" /></p:column>
                        </p:dataTable>
                    </p:fieldset>
                </p:dialog>
            </h:form>
            <h:form id="transactionSummaryForm">
                <p:dialog widgetVar="transactionssummary" modal="true" resizable="true" closable="true"  >
                    <p:fieldset legend="Transaction Summary: #{paymentBean.selectedItem2.paymentReference}">
                        <h:panelGrid id="beneficiaryGroupCrr" columns="3" width="100%" styleClass="Fs18 FontBold red" columnClasses="name3 value ">
                            <p:outputLabel styleClass="red"  value="Transaction Count: #{paymentBean.selectedItem2.totalCount}" />
                            <p:outputLabel styleClass="red"  value="Transaction Total Amount: #{paymentBean.selectedItem2.totalAmountf}" />
                        </h:panelGrid>
                        <h:panelGrid id="beneficiaryGroupCr" columns="3" width="100%" columnClasses="name4 value Fs14 FontBold ">
                            <p:outputLabel id="createdCount"  title="Count of transactions that has being created but not sent approved" value="Transactions Count (created but not sent for approval)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.processedCountOK}" />
                            <p:tooltip for="createdCount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="createdAmount"  title="Total amount of transactions that has being created but not sent approved" value="Transactions Total Amount (created but not sent for approval)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.amountProcessedOKf}" />
                            <p:tooltip for="createdAmount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="unapprovedCount"  title="Count of transactions that has being created and  sent for approval but not approved" value="Transactions Count (sent for approval but not approved)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.pendingApproval}" />
                            <p:tooltip for="unapprovedCount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="unapproved"  title="Total amount of transactions that has being created and  sent for approval but not approved" value="Transactions Total Amount (sent for approval but not approved)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.amountPendingApprovalf}" />
                            <p:tooltip for="unapproved" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="approvedCount"  title="Count of transactions that has being created, approved but not paid" value="Transactions Count (approved but not paid)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.pendingPayment}" />
                            <p:tooltip for="approvedCount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="approved"  title="Total amount of transactions that belong to payments that has being created but not approved" value="Transactions Total Amount (approved but not paid)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.amountPendingPaymentf}" />
                            <p:tooltip for="approved" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="paidCount"  title="Count of transactions that has being paid" value="Transactions Count (paid)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.paid}" />
                            <p:tooltip for="paidCount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="paid"  title="Total amount of transactions that has being paid" value="Transactions Total Amount (paid)" />
                            <p:outputLabel value="#{paymentBean.selectedItem2.amountPaidf}" />
                            <p:tooltip for="paid" showEvent="mouseover" hideEvent="mouseout" />

                        </h:panelGrid>
                    </p:fieldset>
                </p:dialog>



            </h:form>
            <h:form>
                <p:dialog widgetVar="tstartWorkflow" modal="true" resizable="false" closable="true"  >
                    <p:ajax event="close"   listener="#{paymentBean.onDialogClose3}" />
                    <p:fieldset legend="Initiate Approval Process?">
                        <h:panelGrid  columns="2" width="100%" columnClasses="name3 value">
                            <p:outputLabel for="uroute" title="select a payment route that payment should follow"  value="Approval Route:" />
                            <p:selectOneMenu id="uroute" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{paymentBean.route}" >
                                <f:selectItem itemLabel="--Choose Any Route--" itemValue="" />  
                                <f:selectItems value="#{paymentBean.routes}" var="route" itemLabel="#{route}" itemValue="#{route}"  />  
                            </p:selectOneMenu> 
                            <p:commandButton value="I will Initiate Later" action="${paymentBean.initiateWorkflowLater2}" update=":tabView:paymentFormRef" onclick="PF('tstartWorkflow').hide();" styleClass="OrangeButton Fright"/>
                            <p:commandButton value="Initiate"  onstart="showProgress()" action="${paymentBean.initiateWorkflow2}" update=":growl,:tabView:paymentFormRef,:paymentTableRef:paymentTable"  oncomplete="PF('tstartWorkflow').hide();hideProgress();" styleClass="GreenButton Fleft"/>
                        </h:panelGrid>

                    </p:fieldset>
                </p:dialog>
            </h:form>

            <h:form id="suplementaryform">
                <p:dialog widgetVar="suplementaryfile" modal="true" resizable="false" closable="true"  >
                    <p:ajax event="close"   listener="#{paymentBean.onDialogClose3}" />
                    <p:fieldset legend="Upload Supplementary Payment File">
                        <h:panelGrid  columns="3" width="100%" columnClasses="name3 value">
                            <p:outputLabel id="uploadFileLL" for="uploadFileLLL" title="browse the excel file to upload"  value="File:" />
                            <p:fileUpload id="uploadFileLLL" fileUploadListener="#{paymentBean.handleTransFileUpload}" mode="advanced"  
                                          update=":growl" auto="true" sizeLimit="1000000" allowTypes="/(\.|\/)(xls|xlsx|csv)$/"/> 
                            <p:tooltip for="uploadFileLL" showEvent="mouseover" hideEvent="mouseout" /> 
                            <p:outputLabel id="headerll" title="indicate if header is included in the file" for="headerl"  value="Header Included?" />
                            <p:inputSwitch id="headerl"  value="${paymentBean.header}" />
                            <p:tooltip for="headerll" showEvent="mouseover" hideEvent="mouseout" /> 
                            <p:commandButton value="Save Supplementary Payment" action="${paymentBean.addSupplementaryFile}" onstart="showProgress()" oncomplete="hideProgress();"  update=":growl,:paymentTableRef:paymentTable" 
                                             styleClass="GreenButton Fleft"/>  
                        </h:panelGrid>

                    </p:fieldset>
                </p:dialog>
            </h:form>
            <h:form>

                <p:confirmDialog widgetVar="confirmSchedule"  message="A Payment Schedule will be created and you would be able to trigger payment subsequently 
                                 from the created schedule. However, only valid transactions in this payment would be part of the schedule, but you would be able to refresh
                                 the schedule to add subsequent valid transactions " width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('confirmSchedule').hide();" update=":paymentTableRef" 
                                     action="#{paymentBean.nullifySelection2}"/>
                    <p:commandButton value="Create" action="#{paymentBean.createSchedule}" update=":growl,:paymentTableRef"  oncomplete="PF('confirmSchedule').hide();" />
                </p:confirmDialog>
            </h:form>
        </div></div>
</ui:composition>