<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:fieldset legend="Pay" toggleable="true">
        <div class="ContainerIndent">

            <h:form id="paymentFormRef">							
                <p:dataTable id="singlePayTable" var="beneficary" rowKey="#{beneficary.id}"
                             value="${paymentBean.selectedItem.beneficiaries}" paginator="true" 
                             rows="5" selectionMode="single" selection="#{paymentBean.beneficary}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">
                        <div align="center">
                            Beneficiaries
                        </div>
                        <div align="left">
                            <p:commandButton value="Create Payment"  onclick="PF('chargebearer').show();"  rendered="${not empty paymentBean.selectedItem.beneficiaries}" 
                                             styleClass="OrangeButton Fleft"/>   
                        </div>     
                    </f:facet>
                    <p:column headerText="" style="width: 20px">
                        <p:commandLink styleClass="ui-icon ui-icon-minusthick" ajax="true" update=":growl,:tabView:paymentFormRef" action="#{paymentBean.removeBeneficary(beneficary)}" onstart="showProgress()" oncomplete="hideProgress()" title="remove a beneficary"/>
                    </p:column>
                    <p:column headerText="Account Name" style="width: 160px"><h:outputText value="#{beneficary.beneficiaryName}" /></p:column> 
                    <p:column headerText="Account Identity" ><h:outputText value="#{beneficary.account.accountIdentity}" /></p:column>
                    <p:column headerText="Amount" style="width: 80px"><h:outputText value="#{beneficary.amountf}" /></p:column>
                </p:dataTable>
            </h:form>	
        </div>
        <div class="ContainerIndent">
            <h:form id="paymentForm">
                <h:panelGrid columns="5" id="bendiv" width="100%" columnClasses="name3 value">
                    <p:outputLabel id="lben" for="beneficiary" title="provide account number or account name of the beneficary"  value="Beneficiary Account Number/Name:" />
                    <p:autoComplete id="beneficiary"  emptyMessage="Beneficiary not found,provide account number or account name. you might as well also add a new beneficary by clicking the add icon" value="#{paymentBean.beneficary}" styleClass="controls-length4" forceSelection="true"  var="ben" itemLabel="#{ben.account.accountIdentity}" itemValue="#{ben}" style="width: 300px" converter="beneficiaryConverter" required="true" placeholder="provide account number or name of beneficary" completeMethod="#{paymentBean.completeBeneficary}" > 
                        <p:column style="width:100%">
                            <h:outputText value="#{ben.account}" />
                        </p:column> 
                    </p:autoComplete>
                    <h:graphicImage id="new"  name="images/add.png" title="add new beneficiary" onclick="PF('createBeneficiary').show();" style="width:24px;height:24px"  library="sentinel-layout" /> 
                    <p:tooltip for="lben" showEvent="mouseover" hideEvent="mouseout" />
                    <p:tooltip for="new" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="amount"  value="Amount:"  />
                    <p:inputText id="amount" title="amount to be paid" styleClass="controls-length4" value="${paymentBean.beneficary.amount}" required="true" placeholder="amount to be paid"/>  										 
                    <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:outputLabel for="narration"  value="Narration:"  />
                    <p:inputText id="narration" title="purpose of payment" styleClass="controls-length4" value="${paymentBean.beneficary.narration}" required="true" placeholder="purpose of payment"/>  										 
                    <p:tooltip for="narration" showEvent="mouseover" hideEvent="mouseout" />	
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:commandButton value="Add Transaction" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:tabView:paymentForm,:tabView:paymentFormRef" action="#{paymentBean.addBeneficary}" styleClass="GreenButton Fleft" />
                </h:panelGrid> 

            </h:form>
        </div>
    </p:fieldset>

    <h:form id="beneficaryForm">
        <p:dialog widgetVar="createBeneficiary" modal="true" resizable="false" closable="true"  >  
            <p:ajax event="close" update=":tabView:beneficaryForm"  listener="#{paymentBean.onDialogClose}" />
            <p:fieldset legend="Create Beneficiary">
                <p:selectOneRadio id="acct-options" value="#{paymentBean.acctOption}" layout="grid" columns="2" >
                    <p:ajax event="change" update=":tabView:beneficaryForm" oncomplete="PF('createBeneficiary').show();"  listener="#{paymentBean.handleAcctOptionChange}" /> 
                    <f:selectItem itemLabel="Pocket Moni" itemValue="PM" />
                    <f:selectItem itemLabel="Bank" itemValue="BN" />
                </p:selectOneRadio>
                <h:panelGrid rendered="#{paymentBean.acctOption eq 'PM'}" id="pbeneficiary" columns="5" width="100%" columnClasses="name3 value">
                    <p:outputLabel id="grouplabel" for="bgroup" title="select group to add beneficiary to"  value="Payment Group:" />
                    <p:selectOneMenu id="bgroup" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{paymentBean.beneficary.beneficiaryGroup}"  converter="beneficaryGroupConverter" >
                        <f:selectItem itemLabel="--No Group--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.beneficiaryGroups}" var="benGroup" itemLabel="#{benGroup.groupName}" itemValue="#{benGroup}"  />  
                    </p:selectOneMenu> 
                    <p:graphicImage id="newgroup" name="images/add.png" onclick="PF('createBeneficiaryGroup').show();" title="New Beneficiary Group" style="width:24px;height:24px" library="sentinel-layout" />  
                    <p:tooltip for="grouplabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:tooltip for="newgroup" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="paccountNumber" value="Account Number:" />
                    <p:inputText id="paccountNumber" title="Account Number"  styleClass="controls-length4"  value="${paymentBean.beneficary.account.accountNumber}" required="true" placeholder="Pocket Moni Account (You can validate using the icon)"/>
                    <p:tooltip for="paccountNumber" showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandLink action="#{paymentBean.doValidation()}" onstart="showProgress()" oncomplete="hideProgress()"  update=":tabView:beneficaryForm:palias,:growl" >
                        <p:graphicImage id="validate" name="images/refresh.jpg" title="validate account number" style="width:24px;height:24px" library="sentinel-layout" />  
                    </p:commandLink>
                    <p:outputLabel/>
                    <p:outputLabel for="palias" value="Account Name:" />
                    <p:inputText id="palias" title="Account Name (use the refresh button to get it)"  styleClass="controls-length4"   value="${paymentBean.beneficary.account.accountName}" required="false" placeholder="Account Name (use the refresh button to get it)"/>
                    <p:tooltip for="palias" showEvent="mouseover" hideEvent="mouseout" />
					<p:outputLabel/>
                    <p:outputLabel/>
                    <p:outputLabel for="pemail" value="Email:" />
                    <p:inputText id="pemail" title="Beneficiary email"  styleClass="controls-length4"   value="${paymentBean.beneficary.beneficiaryEmail}" required="false" placeholder="Beneficiary Email"/>
                    <p:tooltip for="pemail" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:commandButton value="Create" action="#{paymentBean.createBeneficiary}" onstart="showProgress()" oncomplete="hideProgress()"  update=":growl,:tabView:paymentForm" styleClass="GreenButton Fleft"/>
                </h:panelGrid>
                <h:panelGrid rendered="#{paymentBean.acctOption eq 'BN'}" id="bbeneficiary" columns="5" width="100%" columnClasses="name3 value">
                    <p:outputLabel id="bgrouplabel" for="bbgroup" title="select group to add beneficiary to"  value="Payment Group:" />
                    <p:selectOneMenu id="bbgroup" style="width:450px" filter="true" required="false"  filterMatchMode="startsWith" value="#{paymentBean.beneficary.beneficiaryGroup}"  converter="beneficaryGroupConverter" >
                        <f:selectItem itemLabel="--No Group--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.beneficiaryGroups}" var="group" itemLabel="#{group.groupName}" itemValue="#{group}"  />  
                    </p:selectOneMenu> 
                    <p:graphicImage id="bnewgroup" name="images/add.png" onclick="PF('createBeneficiaryGroup').show();" title="New Beneficiary Group" style="width:24px;height:24px" library="sentinel-layout" />  
                    <p:tooltip for="bgrouplabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:tooltip for="bnewgroup" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="banklabel" for="bank" title="select the bank for which the account belong"  value="Bank:" />
                    <p:selectOneMenu id="bank" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{paymentBean.beneficary.account.bank}"  converter="bankConverter" >
                        <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                    </p:selectOneMenu> 
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:tooltip for="banklabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="accountNumber" value="Account Number:" />
                    <p:inputText id="accountNumber" title="Account Number"  styleClass="controls-length4"  value="${paymentBean.beneficary.account.accountNumber}" required="true" placeholder="Bank Account Number (You can validate using the icon)"/>
                    <p:commandLink action="#{paymentBean.doValidation()}" onstart="showProgress()" oncomplete="hideProgress()"  update=":tabView:beneficaryForm:accountName,:growl" >
                        <p:graphicImage id="validatee" name="images/refresh.jpg" title="validate account number" style="width:24px;height:24px" library="sentinel-layout" />  
                    </p:commandLink>
                    <p:tooltip for="accountNumber" showEvent="mouseover" hideEvent="mouseout" />
                    <p:tooltip for="validatee" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="accountName" value="Account Name:" />
                    <p:inputText id="accountName" title="Account Name (use the refresh button to get it)"  styleClass="controls-length4"  value="${paymentBean.beneficary.account.accountName}" required="false" placeholder="Account Name (use the refresh button to get it)"/>
                    <p:tooltip for="accountName" showEvent="mouseover" hideEvent="mouseout" />
					<p:outputLabel/>
                    <p:outputLabel/>
                     <p:outputLabel for="bemail" value="Email:" />
                    <p:inputText id="bemail" title="Beneficiary email"  styleClass="controls-length4"   value="${paymentBean.beneficary.beneficiaryEmail}" required="false" placeholder="Beneficiary Email"/>
                    <p:tooltip for="bemail" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>  
                    <p:outputLabel />
                    <p:commandButton value="Create" action="#{paymentBean.createBeneficiary}" onstart="showProgress()" oncomplete="hideProgress();"  update=":growl,:tabView:paymentForm" styleClass="GreenButton Fleft"/>

                </h:panelGrid>
            </p:fieldset>
        </p:dialog>      
    </h:form>
    <h:form>
        <p:dialog widgetVar="createBeneficiaryGroup" modal="true" resizable="false" closable="true"  >
            <p:fieldset legend="Create Group">
                <h:panelGrid id="beneficiaryGroupCr" columns="3" width="100%" columnClasses="name3 value">

                    <p:outputLabel for="groupName" value="Group Name:" />
                    <p:inputText id="groupName" title="Group Name"  styleClass="controls-length4"  value="${paymentBean.beneficiaryGroup.groupName}" required="true" placeholder="Group Name"/>
                    <p:tooltip for="groupName" showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Create" action="#{paymentBean.createBeneficiaryGroup}" onstart="showProgress()" oncomplete="PF('createBeneficiary').show();hideProgress();" update=":growl,:tabView:beneficaryForm" styleClass="GreenButton Fleft"/>
                </h:panelGrid>
            </p:fieldset>
        </p:dialog>
    </h:form>

    <h:form>

        <p:dialog widgetVar="startWorkflow" modal="true" resizable="false" closable="false"  >
            <p:fieldset legend="Initiate Approval Process?">
                <h:panelGrid  columns="2" width="100%" columnClasses="name3 value">
                    <p:outputLabel for="route" title="select a payment route that payment should follow"  value="Approval Route:" />
                    <p:selectOneMenu id="route" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{paymentBean.route}" >
                        <f:selectItem itemLabel="--Choose Any Route--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.routes}" var="route" itemLabel="#{route}" itemValue="#{route}"  />  
                    </p:selectOneMenu> 
                    <p:commandButton value="I will Initiate Later" action="${paymentBean.initiateWorkflowLater}" update=":tabView:paymentFormRef" onclick="PF('startWorkflow').hide();" styleClass="OrangeButton Fright"/>
                    <p:commandButton value="Initiate"  onstart="showProgress()" action="${paymentBean.initiateWorkflow}" update=":growl,:tabView:paymentFormRef,:paymentTableRef:paymentTable"  oncomplete="PF('startWorkflow').hide();hideProgress();" styleClass="GreenButton Fleft"/>
                </h:panelGrid>

            </p:fieldset>
        </p:dialog>
    </h:form>

    <h:form>

        <p:dialog widgetVar="chargebearer" width="40%" modal="true" resizable="false" closable="true"  >
            <p:fieldset>
                <h:panelGrid  columns="3" width="40%" columnClasses="name2 value">
                    <p:outputLabel title="Payment narration"  value="Narration:" />
                    <p:inputText id="narrtn" title="Payment narration"  style="width:145px" required="true" placeholder="Payment narration" value="#{paymentBean.selectedItem.paymentDescription}" />
                    <p:tooltip for="narrtn" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="lcbearer" for="cbearer" title="who bears the charge"  value="Charge Bearer:" />
                    <p:selectOneMenu id="cbearer" style="width:150px" required="true" value="#{paymentBean.selectedItem.chargeBearer}" >
                        <f:selectItem itemLabel="Beneficiary" itemValue="1" />  
                        <f:selectItem itemLabel="Payer" itemValue="2"/>  
                    </p:selectOneMenu>
                    <p:tooltip for="lcbearer" showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Create Payment" action="${paymentBean.save}" onstart="showProgress()" oncomplete="hideProgress();PF('chargebearer').hide();"  update=":growl,:tabView:paymentFormRef,:tabView:paymentForm,:paymentTableRef:paymentTable" styleClass="GreenButton Fleft"/>
                </h:panelGrid>
            </p:fieldset>
        </p:dialog>
    </h:form>
</ui:composition>