<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:fieldset legend="Pay" toggleable="true">
        <div class="ContainerIndent">
            <p:growl id="growlUpload" life="15000" showDetail="true"/>
            <h:form>
                      <p:commandLink  ajax="false" action="#{paymentBean.generateUploadTemplate}" process="@this"  title="Sample Upload">
                                <h:graphicImage name="images/excel.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                            </p:commandLink>
            </h:form>
            <h:form id="uploadForm">
                <h:panelGrid columns="3" width="100%" columnClasses="name3 value">
                    <p:outputLabel id="uploadTypeLabel" for="uploadTypeC" title="select transaction type"  value="Transaction Type:" />
                    <p:selectOneMenu id="uploadTypeC" style="width:450px" required="true" filter="true" filterMatchMode="startsWith" value="#{paymentBean.transactionType}"  converter="transactionTypeConverter" >
                        <f:selectItem itemLabel="--Select Transaction Type--" itemValue="" />  
                        <f:selectItems value="#{paymentBean.transactionTypes}" var="ttype" itemLabel="#{ttype.description}" itemValue="#{ttype}"  />  
                    </p:selectOneMenu> 
                    <p:tooltip for="uploadTypeLabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="payDesc"  value="Payment Description:" />
                    <p:inputText id="payDesc" title="description of payment"   styleClass="controls-length4"  value="${paymentBean.selectedItem.paymentDescription}" required="true" placeholder="Payment Description"/>
                    <p:tooltip for="payDesc" showEvent="mouseover" hideEvent="mouseout" />


                    <p:outputLabel id="lcbearerr" for="cbearerr" title="who bears the charge"  value="Charge Bearer:" />
                    <p:selectOneMenu id="cbearerr" style="width:450px" required="true" value="#{paymentBean.selectedItem.chargeBearer}" >
                        <f:selectItem itemLabel="Beneficiary" itemValue="1" />  
                        <f:selectItem itemLabel="Payer" itemValue="2"/>  
                    </p:selectOneMenu>
                    <p:tooltip for="lcbearerr" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="headerl" title="indicate if header is included in the file" for="header"  value="Header Included?" />
                    <p:inputSwitch id="header"  value="${paymentBean.header}" />
                    <p:tooltip for="headerl" showEvent="mouseover" hideEvent="mouseout" /> 
                    <p:outputLabel id="uploadFileL" for="uploadFile" title="browse the excel file to upload"  value="File:" />
                    <p:fileUpload id="uploadFile" fileUploadListener="#{paymentBean.handleTransFileUpload}" mode="advanced"  
                                  update=":tabView:growlUpload" uploadLabel="Payment File" auto="true" sizeLimit="10000000" allowTypes="/(\.|\/)(xls|xlsx|csv)$/"/> 
                 <p:tooltip for="uploadFileL" showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Create Payment" action="${paymentBean.save}" onstart="showProgress()" oncomplete="hideProgress();"  update=":growl,:tabView:uploadForm,:paymentTableRef:paymentTable" 
                                     styleClass="GreenButton Fleft"/>  
                </h:panelGrid> 

                <p:dialog widgetVar="ustartWorkflow" modal="true" resizable="false" closable="false"  >
                    <p:fieldset legend="Initiate Approval Process?">
                        <h:panelGrid  columns="2" width="100%" columnClasses="name3 value">
                            <p:outputLabel for="uroute" title="select a payment route that payment should follow"  value="Approval Route:" />
                            <p:selectOneMenu id="uroute" style="width:450px" required="false" filter="true" filterMatchMode="startsWith" value="#{paymentBean.route}" >
                                <f:selectItem itemLabel="--Choose Any Route--" itemValue="" />  
                                <f:selectItems value="#{paymentBean.routes}" var="route" itemLabel="#{route}" itemValue="#{route}"  />  
                            </p:selectOneMenu> 
                            <p:commandButton value="I will Initiate Later" action="${paymentBean.initiateWorkflowLater}" update=":tabView:paymentFormRef" onclick="PF('ustartWorkflow').hide();" styleClass="OrangeButton Fright"/>
                            <p:commandButton value="Initiate"  onstart="showProgress()" action="${paymentBean.initiateWorkflow}" update=":growl,:tabView:paymentFormRef,:paymentTableRef:paymentTable"  oncomplete="PF('ustartWorkflow').hide();hideProgress();" styleClass="GreenButton Fleft"/>
                        </h:panelGrid>

                    </p:fieldset>
                </p:dialog>
            </h:form>
        </div>
    </p:fieldset>


</ui:composition>