.chat {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px;display:none}
  
.chat form, p, span {
    margin:0;
    padding:0; }
  
.chat input { font:12px arial; }



.chat .GreenButton {box-shadow: inset 0 0 0 1px #54DB26; border: solid 1px #2B8717; text-shadow: 0 -1px 0 #18840B;
background: #2dc915;
background: -moz-linear-gradient(top, #2dc915 0%, #0bb113 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #2dc915), color-stop(100%, #0bb113));
background: -webkit-linear-gradient(top, #2dc915 0%, #0bb113 100%);
background: -o-linear-gradient(top, #2dc915 0%, #0bb113 100%);
background: -ms-linear-gradient(top, #2dc915 0%, #0bb113 100%);
background: linear-gradient(to bottom, #2dc915 0%, #0bb113 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dc915', endColorstr='#0bb113', GradientType=0 );
padding: 2px 2px 2px 2px}
.chat .GreenButton:hover, .GreenButton:focus {color:#ffffff !important;
background: #0bb113;
background: -moz-linear-gradient(top, #0bb113 0%, #2dc915 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #0bb113), color-stop(100%, #2dc915));
background: -webkit-linear-gradient(top, #0bb113 0%, #2dc915 100%);
background: -o-linear-gradient(top, #0bb113 0%, #2dc915 100%);
background: -ms-linear-gradient(top, #0bb113 0%, #2dc915 100%);
background: linear-gradient(to bottom, #0bb113 0%, #2dc915 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb113', endColorstr='#2dc915', GradientType=0 );
padding: 2px 2px 2px 2px}

.chat .OrangeButton {box-shadow: inset 0 0 0 1px #DBB626; border: solid 1px #876C17; text-shadow: 0 -1px 0 #7B6308;
background: #c99f15;
background: -moz-linear-gradient(top, #c99f15 0%, #b1900b 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #c99f15), color-stop(100%, #b1900b));
background: -webkit-linear-gradient(top, #c99f15 0%, #b1900b 100%);
background: -o-linear-gradient(top, #c99f15 0%, #b1900b 100%);
background: -ms-linear-gradient(top, #c99f15 0%, #b1900b 100%);
background: linear-gradient(to bottom, #c99f15 0%, #b1900b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c99f15', endColorstr='#b1900b', GradientType=0 );
padding: 2px 2px 2px 2px}
.chat .OrangeButton:hover, .OrangeButton:focus {color:#ffffff !important;
background: #b1900b;
background: -moz-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #b1900b), color-stop(100%, #c99f15));
background: -webkit-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: -o-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: -ms-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: linear-gradient(to bottom, #b1900b 0%, #c99f15 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1900b', endColorstr='#c99f15', GradientType=0 );
padding: 2px 2px 2px 2px}

.chat .RedButton {box-shadow: inset 0 0 0 1px #DBB626; border: solid 1px #876C17; text-shadow: 0 -1px 0 #7B6308;
background: #B82E00;
background: -moz-linear-gradient(top, #B82E000 0%, #B82E00 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #B82E00), color-stop(100%, #B82E00));
background: -webkit-linear-gradient(top, #B82E00 0%, #B82E00 100%);
background: -o-linear-gradient(top, #B82E00 0%, #B82E00 100%);
background: -ms-linear-gradient(top, #B82E00 0%, #B82E00 100%);
background: linear-gradient(to bottom, #B82E00 0%, #B82E00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B82E00', endColorstr='#B82E00', GradientType=0 );
padding: 2px 2px 2px 2px}
.chat .RedButton:hover, .OrangeButton:focus {color:#ffffff !important;
background: #b1900b;
background: -moz-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #b1900b), color-stop(100%, #c99f15));
background: -webkit-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: -o-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: -ms-linear-gradient(top, #b1900b 0%, #c99f15 100%);
background: linear-gradient(to bottom, #b1900b 0%, #c99f15 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1900b', endColorstr='#c99f15', GradientType=0 );
padding: 2px 2px 2px 2px}
  
.chat a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
.chat #wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
.chat #loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
.chat #chatbox {
font-family:Charcoal;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:170px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

.chat #chatbox  table{
font-family:verdana;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:170px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
	
	.chat #chatwith{
font-family:verdana;
    text-align:left;
    margin:0 auto;
	color: red; }

.chat #chatbox1 {
font-family:Charcoal;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    float: left;
    height:170px;
    width:280px;
    border:1px solid #ACD8F0;
    overflow:auto; }

	.chat #chatbox1 table{
font-family:verdana;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    float: left;
    height:170px;
    width:280px;
    border:1px solid #ACD8F0;
    overflow:auto; }

.chat #chatbox2 {
font-family:Charcoal;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
     float: left;
    background:#fff;
    height:170px;
    width:150px;
    border:3px solid #ACD8F0;
    overflow:auto; }
	
	.chat #chatbox2 table{
font-family:verdana;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
     float: left;
    background:#fff;
    height:170px;
    width:150px;
    border:3px solid #ACD8F0;
    overflow:auto; }
  
.chat #usermsg {
    width:395px;
    border:1px solid #ACD8F0; 
    
}
  
.chat #submit { width: 60px; }
  
.chat .error { color: #ff0000; }
  
.chat #menu { padding:12.5px 25px 12.5px 25px; }
  
.chat .welcome { float:left;color:green; font:14px Charcoal; }
  
.chat.logout { float:right; }
  
.chat .msgln { margin:0 0 2px 0; }

.sender {color:red; font:12px Charcoal;font-style: italic;}

.senderme{color:green; font:12px Charcoal;font-style: italic; }

.message {font:14px Charcoal;}

.onlineuser {color:green; font:12px Charcoal;font-style: italic;}