<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="commissionForm">
        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Graduated Fee Structure" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="strucName" value="Graduate Fee Structure Name " rendered="#{empty bankCommissionBean.selectedItem.id}" />
                        <p:inputText id="strucName" title="structure name"   styleClass="controls-length4" rendered="#{empty bankCommissionBean.selectedItem.id}" validator="structureNameValidator" value="${bankCommissionBean.selectedItem.structureName}" required="true" placeholder="Structure Name"/>
                        <p:tooltip for="strucName" showEvent="mouseover" hideEvent="mouseout" rendered="#{empty bankCommissionBean.selectedItem.id}"/>
                                      <p:outputLabel id="normalorspacializedlabel" for="normalorspacialized" title="select the settlement mode of this bank"  value="Calculation Mode:" />
                        <p:selectOneMenu id="normalorspacialized" style="width:450px" required="true"  value="#{bankCommissionBean.selectedItem.calculationMode}" >
                            <f:selectItem itemLabel="--Select Calcuation Mode--" itemValue="" />  
                              <f:selectItem itemLabel="Cummulative Calculation" itemValue="0" />  
                               <f:selectItem itemLabel="Specific Range Calculation" itemValue="1" />  
                        </p:selectOneMenu> 
                        <p:tooltip for="normalorspacializedlabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="etzPercent" value="Etranzact Percent" />
                        <p:inputText id="etzPercent" title="etranzact percent on calculation of graduated fee" validator="etzPercentValidator" value="${bankCommissionBean.selectedItem.etzPercent}"  styleClass="controls-length4" required="true" placeholder="Etranzact Percent"/>
                        <p:tooltip for="etzPercent" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="thirdParty1Percent" value="ThirdParty1 Percent" />
                        <p:inputText id="thirdParty1Percent" title="third party 1 percent on calculation of graduated fee" value="${bankCommissionBean.selectedItem.thirdPartyPercent1}"  styleClass="controls-length4"  placeholder="ThirdParty1 Percent"/>
                        <p:tooltip for="thirdParty1Percent" showEvent="mouseover" hideEvent="mouseout" />
                          <p:outputLabel for="thirdParty2Percent" value="ThirdParty2 Percent" />
                        <p:inputText id="thirdParty2Percent" title="third party 2 percent on calculation of graduated fee" value="${bankCommissionBean.selectedItem.thirdPartyPercent2}"  styleClass="controls-length4" placeholder="ThirdParty2 Percent"/>
                        <p:tooltip for="thirdParty2Percent" showEvent="mouseover" hideEvent="mouseout" />
                        
                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container30">
                        <p:commandButton value="Save Graduate Structure" onstart="showProgress()" rendered="${userBean.loggedInUser.role.id ne '0003'}" oncomplete="hideProgress()" update=":growl,:commissionForm,:bankcommissionFormRef:bankcommissionFormTable" action="#{bankCommissionBean.saveGraduatedStructureName}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":commissionForm,:bankcommissionFormRef:bankcommissionFormTable" action="#{bankCommissionBean.reset}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>