<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="bankcommissionFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="structurefilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="structName" value="Payment Reference:" />
                        <p:inputText id="structName" title="Structure Name" value="${bankCommissionTableBean.structureNameFilter}" placeholder="Structure Name"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{bankCommissionTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{bankCommissionTableBean.toDateFilter}" />					
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":bankcommissionFormRef" action="#{bankCommissionTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="bankcommissionFormTable" lazy="true" var="graduatedFeeStructure" 
                             value="${bankCommissionTableBean.lazyDataModel}" paginator="true" 
                             rows="#{bankCommissionTableBean.rowcount}" selectionMode="single" selection="#{bankCommissionBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" >
                    <f:facet name="header">Graduated Fee Structures </f:facet>
                    <p:ajax event="rowSelect" listener="#{bankCommissionBean.onRowSelect}" oncomplete="PF('createStructure').show();"  update=":createStructureTableRef,:createStructureForm" />
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true" update=":createStructureTableRef,:commissionForm" action="#{bankCommissionBean.setSelectedItem(graduatedFeeStructure)}" title="edit fee structure">
                            <h:graphicImage name="images/create.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>		
                    <p:column headerText="Structure Label" ><h:outputText value="#{graduatedFeeStructure.structureName}" /></p:column>
                    <p:column headerText="Etranzact Percentage" ><h:outputText value="#{graduatedFeeStructure.etzPercent}" /></p:column>
                    <p:column headerText="ThirdParty1 Percentage" ><h:outputText value="#{graduatedFeeStructure.thirdPartyPercent1}" /></p:column>
                    <p:column headerText="ThirdParty2 Percentage" ><h:outputText value="#{graduatedFeeStructure.thirdPartyPercent2}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{graduatedFeeStructure.status} (#{empty graduatedFeeStructure.commissionFees?'Fees not setup':'Fees SetUp'})" /></p:column>
                </p:dataTable> 



            </h:form>
            <p:dialog widgetVar="createStructure" width="70%" height="50%" modal="true" resizable="false" closable="true"  >  
                <p:ajax event="close" update=":bankcommissionFormRef:bankcommissionFormTable"  listener="#{bankCommissionBean.onDialogClose}" />
                <h:form id="createStructureTableRef">


                    <p:dataTable id="createStructureTable" lazy="false"  var="structure" sortField="minRange"  rowKey="#{structure.id}"  
                                 value="${bankCommissionBean.selectedItem.commissionFees}" paginator="true" 
                                 rows="3" selectionMode="single" selection="#{bankCommissionBean.commissionFee}" 
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="5,10,15" >
                        <f:facet name="header">
                            <div align="center">

                            </div>
                            <div align="left">
                                <p:commandButton value="Save All Changes" onstart="showProgress()" oncomplete="hideProgress();PF('createStructure').show();"  
                                                 action="#{bankCommissionBean.save}" update=":growl" styleClass="OrangeButton Fleft"/>   
                            </div>     
                        </f:facet>

                        <p:column headerText="From Amount(NGN)" sortBy="#{structure.minRange}" ><h:outputText value="#{structure.minRange}" /></p:column>
                        <p:column headerText="To Amount(NGN)" ><h:outputText value="#{structure.maxRange}" /></p:column>
                        <p:column headerText="Type" ><h:outputText value="#{structure.amountType eq 'PC'?'Percent':'Fixed'}" /></p:column>
                        <p:column headerText="Charge" ><h:outputText value="#{structure.amount}" /></p:column>
                        <p:column headerText="Status" ><h:outputText value="#{structure.id le 0?'Pending Save All Changes':'Saved'}" /></p:column>
                    </p:dataTable>
                </h:form>
                <h:form id="createStructureForm">
                    <p:fieldset  legend="Graduated Fee Structure" toggleable="true">	
                        <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                            <p:outputLabel for="fromAmount" value="From Amount " />
                            <p:inputText id="fromAmount" title="range from amount" disabled="true"   styleClass="controls-length4" value="${bankCommissionBean.commissionFee.minRange}" required="true" placeholder="From Amount"/>
                            <p:tooltip for="fromAmount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel for="toAmount" value="To Amount " />
                            <p:inputText id="toAmount" title="range to amount"   styleClass="controls-length4" value="${bankCommissionBean.commissionFee.maxRange}" required="true" placeholder="To Amount"/>
                            <p:tooltip for="toAmount" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the transaction amount" value="Amount Type:"  />
                            <p:selectOneMenu id="amounttype" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{bankCommissionBean.commissionFee.amountType}" >
                                <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                                <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                                <f:selectItem itemLabel="Percent" itemValue="PC" />  
                            </p:selectOneMenu>  
                            <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" />
                            <p:outputLabel for="amount" value="Amount " />
                            <p:inputText id="amount" title="amount"   styleClass="controls-length4" value="${bankCommissionBean.commissionFee.amount}" required="true" placeholder="Amount"/>
                            <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
                            <h:panelGrid columns="2" class="Container30">
                                <p:commandButton value="Add" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:createStructureTableRef:createStructureTable,:createStructureForm" action="#{bankCommissionBean.addGraduatedStructureFee}" styleClass="GreenButton Fleft" />
                                <p:commandButton value="Close" onstart="showProgress()" oncomplete="hideProgress();PF('createStructure').hide();" update=":createStructureTableRef:createStructureTable,:createStructureForm" action="#{bankCommissionBean.setCommissionFee(null)}" styleClass="OrangeButton Fleft" />
                            </h:panelGrid> 
                        </h:panelGrid>
                    </p:fieldset>

                </h:form>
            </p:dialog>
        </div>
    </div>
</ui:composition>