<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="schedularTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="schedularRef" value="Schedular Reference:" />
                        <p:inputText id="schedularRef" title="Payment Reference" value="${schedulerTableBean.schedulerIdFilter}" placeholder="Schedular Reference"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{schedulerTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{schedulerTableBean.toDateFilter}" />					
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":schedularTableRef" action="#{schedulerTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="schedularTable" lazy="true" var="paymentSchedule" 
                             value="${schedulerTableBean.lazyDataModel}" paginator="true" sortField="scheduleId" sortOrder="ascending" 
                             rows="${schedulerTableBean.rowcount}"  selectionMode="single" selection="#{schedulerBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Payment Schedule </f:facet>
                    <p:ajax event="rowSelect" listener="#{schedulerBean.onRowSelect}" update=":schedularTableRef:schedularTable" onstart="showProgress()" oncomplete="hideProgress()" />

                    <p:column headerText="" style="width: 35px">

                        <p:commandLink  ajax="true" update=":transactionForm" action="#{schedulerBean.setSelectedItem(paymentSchedule)}" onstart="showProgress()" oncomplete="hideProgress(); PF('transactions').show();" title="view transactions">
                            <h:graphicImage name="images/view.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Schedule Id"  style="width: 120px"><h:outputText value="#{paymentSchedule.scheduleId}" /></p:column>
                    <p:column headerText="Transaction Count" ><h:outputText value="#{paymentSchedule.totalCount}" /></p:column>
                    <p:column headerText="CummulativeAmount(NGN)" ><h:outputText value="#{paymentSchedule.totalAmountf}" /></p:column>
                    <p:column headerText="Date Created" ><h:outputText value="#{paymentSchedule.dateCreated}" /></p:column>
                </p:dataTable>

            </h:form>
            <h:form id="transactionForm">
                <p:dialog widgetVar="transactions" modal="true" width="70%" resizable="false" closable="true"  >
                    <p:fieldset legend="#{schedulerBean.selectedItem.scheduleId} :: Transactions">
                        <p:dataTable id="transactionTable" rowKey="transactionId"  var="transaction" 
                                     value="${schedulerBean.selectedItem.transactions}" editable="true" editMode="cell" paginator="true" 
                                     rows="5" 
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15">

                            <f:facet name="header">  <div align="center">
                                    Transactions
                                </div>
                                <div align="left">
                                    <p:commandButton value="Create Payment" action="${schedulerBean.createPayment}" onstart="showProgress()" oncomplete="hideProgress();PF('transactions').hide();" update=":growl,:schedularTableRef" 
                                                     styleClass="GreenButton Fleft"/>   
                                </div> 

                            </f:facet>
                            <p:column headerText="Transaction Reference" filterBy="#{transaction.transactionReference}"  rendered="false" filterMatchMode="contains">    <h:outputText value="#{transaction.transactionReference}" /></p:column>
                            <p:column headerText="Beneficiary"  rendered="false"  filterBy="#{transaction.beneficiary.account.accountIdentity}" filterMatchMode="contains"><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                            <p:column headerText="Bank"   filterBy="#{transaction.beneficiary.account.bankName}" filterMatchMode="contains"><h:outputText value="#{transaction.beneficiary.account.bankName}" /></p:column>
                            <p:column headerText="Account Name"   filterBy="#{transaction.beneficiary.account.accountName}" filterMatchMode="contains"><h:outputText value="#{transaction.beneficiary.account.accountName}" /></p:column>
                                                     <p:column headerText="Account Number" filterBy="#{transaction.beneficiary.account.accountNumber}" filterMatchMode="contains"><h:outputText value="#{transaction.beneficiary.account.accountNumber}" /></p:column>
                            <p:column headerText="Narration(Editable/Changeable)" filterBy="#{transaction.narration}" filterMatchMode="contains" >
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{transaction.narration}" /></f:facet>
                                    <f:facet name="input"><p:inputText value="#{transaction.narration}"/></f:facet>

                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Amount(Editable/Changeable)" filterBy="#{transaction.amount}" filterMatchMode="exact">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{transaction.amountf}" /></f:facet>
                                    <f:facet name="input"><p:inputText value="#{transaction.amount}"/></f:facet>

                                </p:cellEditor>
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>
                </p:dialog>
            </h:form>


        </div></div>
</ui:composition>