<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../../../WEB-INF/template.xhtml">
      <!--ui:define name="requiredField"><h:graphicImage id="tip" name="images/tip.png" width="5%" height="5%"  library="sentinel-layout"/>
  <b>Kindly provide all field marked <span class="red">*</span></b><br/> 
<span class="ContainerIndent">Select Approval Group to manage group users</span> </ui:define-->
    <ui:define name="content">
        <!-- SECTION 1 -->
 
        <div class="Container100">
            <div class="ContainerIndent">
                                        <div class="Container100"><div class="ContainerIndent"><h:outputText value="Payment Scheduling" styleClass="FontBold Fs18 hardblue"></h:outputText></div></div>
                <div class="Container100 Responsive">
                    <div class="ContainerIndent">
                         <ui:include src="paymentscheduletable.xhtml"/>
                    </div>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>