<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <p:dataTable id="deductionTypeTable" lazy="true" var="deductntype" 
                         value="${otherDeductionBean.deductionTypes}" paginator="true" rowKey="#{deductntype.id}" sortField="description" sortOrder="ascending"
                         rows="5" selectionMode="single" selection="#{otherDeductionBean.deductionType}" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" >
                <f:facet name="header">Other Deductions </f:facet>
                <p:ajax event="rowSelect" listener="#{otherDeductionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":otherdeductiontypetablRef" />
                <p:column headerText="Deduction Name" ><h:outputText value="#{deductntype.description}" /></p:column>

            </p:dataTable>
        </div>
    </div>
</ui:composition>