<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="Container50 Responsive">

        <div class="ContainerIndent">
            <p:dataTable id="onetimeotherdeductiontable"  var="otherdeductn"
                         value="${otherDeductionBean.otherDeductions}" rowKey="#{otherdeductn.id}" paginator="true" 
                         rows="5" selectionMode="single" selection="#{otherDeductionBean.selectedItem}" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" rendered="${not empty otherDeductionBean.deductionType}" >
                <f:facet name="header">Deduction (${otherDeductionBean.deductionType.description}) </f:facet>
                <p:ajax event="rowSelect" listener="#{otherDeductionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":otherdeductiontypetablRef" />
                <p:column headerText="Name" ><h:outputText value="#{otherdeductn.deductionName}" /></p:column> 
                <p:column headerText="Amount Type" ><h:outputText value="#{empty otherdeductn.amountType?'Varies across workers':otherdeductn.amountType eq 'PC'?'Percent':'Fixed'}" /></p:column> 
                <p:column headerText="Value" ><h:outputText value="#{empty otherdeductn.amount?'Varies across workers':otherdeductn.amount}" /></p:column>
            </p:dataTable>
            <div class="EmptyBox10"></div>
        </div>	
    </div>

    <div class="Container50 Responsive">
        <div class="ContainerIndent">
            <p:fieldset legend="${otherDeductionBean.deductionType.description} Deduction" toggleable="true">	
                <h:panelGrid columns="3" width="100%" columnClasses="name1, value"  >
                    <p:outputLabel  value="Deduction Name:" for="deductnName" />
                    <p:inputText id="deductnName" title="name of ${otherDeductionBean.deductionType.description} Deduction"  value="#{otherDeductionBean.oneTimeDeduction.deductionName}" styleClass="controls-length2" required="true" />
                    <p:tooltip for="deductnName" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the deduction amount" value="Amount Type:"  />
                    <p:selectOneMenu id="amounttype" style="width:250px" filter="true" filterMatchMode="startsWith" value="#{otherDeductionBean.oneTimeDeduction.amountType}" >
                        <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                        <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                        <f:selectItem itemLabel="Percent" itemValue="PC" />  
                    </p:selectOneMenu>  
                    <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" /> 
                    <p:outputLabel   value="Value:" for="amount" />
                    <p:inputText id="amount" title="value of deduction" value="#{otherDeductionBean.oneTimeDeduction.amount}" styleClass="controls-length2" />
                    <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="payItemslabel" rendered="#{otherDeductionBean.completePayroll}"  title="check all the payitems to apply this value" for="payItems"  value="Dependent PayItems:"  />
                    <p:selectManyCheckbox id="payItems" rendered="#{otherDeductionBean.completePayroll}"  value="#{otherDeductionBean.oneTimeDeduction.refStatutoryPayItems}" converter="payitemConverter" layout="grid" columns="3" >
                        <f:attribute name="collectionType" value="java.util.ArrayList" />
                        <f:selectItems value="#{otherDeductionBean.payItems}" var="payItem" itemLabel="#{payItem.payItemname}" itemValue="#{payItem}" />
                    </p:selectManyCheckbox>
                    <p:tooltip for="payItemslabel" rendered="#{otherDeductionBean.completePayroll}"  showEvent="mouseover" hideEvent="mouseout" />
                    <p:commandButton value="Save" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:otherdeductiontypetablRef,:otherdeductiontypetablRef:onetimeotherdeductiontable" action="#{otherDeductionBean.saveOneTime()}" styleClass="GreenButton Fleft" />
                </h:panelGrid>
            </p:fieldset>
        </div>
    </div>

</ui:composition>