<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="mailForm" >
	      <p:fieldset rendered="${mailTableBean.showMessage}" legend="${mailTableBean.selectedItem.subject}" toggleable="true">	
        <div class="Container100 Responsive">
            <h:outputText  escape="false" value="${mailTableBean.selectedItem.message}"/>
        </div>
      </p:fieldset >
    </h:form>

</ui:composition>