<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="mailFormRef">
          <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
            <h:panelGrid id="mailfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
			 <p:outputLabel for="mailStatefilter" value="Task State:" />
                 <p:selectOneMenu id="mailStatefilter"  style="width:240px" value="#{mailTableBean.taskStatefilter}" >
                    <f:selectItem itemLabel="--Opened or Closed--" itemValue="" />  
                    <f:selectItems value="#{mailTableBean.stateOptions}" var="statevar" itemLabel="#{statevar}" itemValue="#{statevar}"  />  
                </p:selectOneMenu> 
                      <p:outputLabel for="fromDate"  value="From Date:" />
                <p:calendar id="fromDate" value="#{mailTableBean.fromDate}" />
                  <p:outputLabel for="toDate"  value="To Date:" />
                <p:calendar id="toDate" value="#{mailTableBean.toDate}" />
                	
                <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":mailFormRef" action="#{mailTableBean.init}" styleClass="GreenButton Fleft" />
            </h:panelGrid>
      
      </p:panel>
    <p:dataTable id="mailTable" lazy="true" var="mail" 
                 value="${mailTableBean.lazyDataModel}" paginator="true" sortField="status" sortOrder="descending" 
                 rows="${mailTableBean.rowcount}"  selectionMode="single" selection="#{mailTableBean.selectedItem}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15">
         <f:facet name="header">Mails </f:facet>
         <p:ajax event="rowSelect"  listener="#{mailTableBean.onRowSelect}" update=":mailForm" onstart="showProgress()" oncomplete="hideProgress()"/>
		 <c:set var="type" value="#{mail.status eq 'OP'?'ui-icon-mail-closed':'ui-icon-mail-open'}" />
         <p:column headerText="" style="width: 20px">
               <h:outputText styleClass="ui-icon #{type}" /> 
         </p:column>
         <p:column headerText="Created Date" style="width: 80px"><h:outputText value="#{mail.createdDateFormatted}" /></p:column>
         <p:column headerText="Subject"  style="width: 220px"><h:outputText value="#{mail.subject}" /></p:column>
    </p:dataTable>
</h:form>
</ui:composition>