<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:form id="spaceform">
        <div class="Container100">
            <div class="ContainerIndent">
                <!--div class="EmptyBox20"></div-->

                <div class="Container25 Responsive">
                    <div class="ContainerIndent">
                        <p:panel style="min-height: 260px;">
                            <i class="icon-user-2 Fs50 Fleft Wid25 hardblue TexAlCenter"></i>
                            <div class="Fs24 Fright MarTop10 leaden Wid70"><span class="hardblue">${userBean.loggedInUser.firstName} ${userBean.loggedInUser.lastName}</span>, Welcome</div>
                            <div class="Fs12 Fright leaden Wid70">You have <span class="red">${fn:length(userBean.inMails)} unread messages</span> and <span class="red"> ${fn:length(userBean.approvalTasks)} tasks</span> !</div>
                            <div class="EmptyBox10"></div>
                            <p:separator styleClass="Wid100"></p:separator>
                            <div class="EmptyBox10"></div>
                            <div class="Fs16 Fright">
                                <a href="${request.contextPath}/tasks" class="DispInlBlock Fleft Fs16 MarRight20"><i class="icon-bell-alt hardblue"> Tasks (${fn:length(userBean.approvalTasks)})</i></a>
                                <a href="${request.contextPath}/mails" class="DispInlBlock Fleft Fs16 MarRight20"><i class="icon-briefcase hardblue"> Messages (${fn:length(userBean.inMails)})</i></a>
                            </div>
                            <div class="EmptyBox10"></div>
                            <p:separator styleClass="Wid100"></p:separator>
                            <div class="EmptyBox10"></div>
                            <i class="icon-key softgray MarRight10 Fs14 Fright hardblue"> Your Last Login - ${userBean.loggedInUser.lastAccessTimeStr}</i>
                            <div class="EmptyBox10"></div>
                            <p:separator styleClass="Wid100"></p:separator>

                        </p:panel>
                    </div>
                </div>

                <div class="Container75 Responsive">
                    <div class="ContainerIndent">
                        <p:panel  style="min-height: 520px;">
                            <div class="EmptyBox10"></div>
                            <i class=" icon-chart-bar Fs25 Fleft Wid35 hardblue TexAlCenter">Transaction Volume</i>
                            <div class="Fleft Container100">
                                <p:panel  id="filter" header="Filter Transactions" toggleable="true" collapsed="false" widgetVar="filter">
                                    <h:panelGrid id="paymentfilter" class="Container100" columns="4" cellpadding="1" cellspacing="10">    
                                        <p:outputLabel for="fromDate"  value="From Date:" />
                                        <p:calendar id="fromDate" style="width:40px" value="#{reportBean.fromDateFilter}" requiredMessage="provide a from-date filter" required="true"/>
                                        <p:outputLabel for="toDate"  value="To Date:" />
                                        <p:calendar id="toDate" value="#{reportBean.toDateFilter}" requiredMessage="provide a to-date filter" required="true"/>	
                                        <p:outputLabel for="statusfilter"   value="Status:" />
                                        <p:selectOneMenu id="statusfilter" style="width:150px"  value="#{reportBean.statusFilter}" requiredMessage="provide a status filter" required="true">
                                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                                            <f:selectItems value="#{transactionTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                                        </p:selectOneMenu> 
                                        <p:outputLabel/>
                                        <p:outputLabel/>
                                        <p:commandButton value="Get Chart" onstart="showProgress()" oncomplete="hideProgress()" update=":spaceform:transChart" action="#{reportBean.doCorporateTransChart}" styleClass="GreenButton Fleft" />
                                    </h:panelGrid>
                                </p:panel>
                                <p:chart id="transChart" type="line" model="#{reportBean.transactionVolumeChart}" style="height:600px;margin-top:10px"/>
                                <p:separator styleClass="Wid100"></p:separator>
                                 <p:commandLink action="#{reportBean.generateTransReport('')}" rendered="false"  ajax="false" class="DispInlBlock Fs14 Fright MarRight10"><i class="icon-doc-1 orange"> Get Full Report</i></p:commandLink>
                            </div>
                        </p:panel>
                    </div>
                </div>

            </div>
        </div>
        <!-- SECTION 1 -->




    </h:form>
</ui:composition>
