<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 

            <h:form id="paymentTableRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="false" widgetVar="filter">
                    <h:panelGrid id="paymentfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="paymentRef" value="Payment Reference:" />
                        <p:inputText id="paymentRef" title="Payment Reference" value="${transactionTableBean.paymentRefFilter}" placeholder="Payment Reference"/>
                        <p:outputLabel for="transRef" value="Transaction Reference:" />
                        <p:inputText id="transRef" title="Transaction Reference" value="${transactionTableBean.transactionRefFilter}" placeholder="Transaction Reference"/>
                        <p:outputLabel for="narration" value="Narration:" />
                        <p:inputText id="narration" title="Narration" value="${transactionTableBean.narration}" placeholder="Narration"/>
                        <p:outputLabel for="accountNo" value="Account Number" />
                        <p:inputText id="accountNo" title="account Number" value="${transactionTableBean.accountNumber}" placeholder="Amount Number"/>
                        <p:outputLabel for="accountName" value="Account Number:" />
                        <p:inputText id="accountName" title="Account Name" value="${transactionTableBean.accountName}" placeholder="Amount Name"/>
                        <p:outputLabel for="amount" value="Amount:" />
                        <p:inputText id="amount" title="Amount" value="${transactionTableBean.amount}" placeholder="Amount"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{transactionTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{transactionTableBean.toDateFilter}" />	
	  <p:outputLabel for="statusfilter"   value="Filter Transactions:" />
                       <p:selectOneMenu id="statusfilter" style="width:200px"  value="#{transactionTableBean.statusFilter}" >
                    <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                    <f:selectItems value="#{transactionTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                </p:selectOneMenu> 
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":paymentTableRef" action="#{transactionTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="transactionTable" lazy="true" var="transaction" 
                             value="${transactionTableBean.lazyDataModel}" paginator="true" sortField="transactionId" sortOrder="descending" 
                             rows="${transactionTableBean.rowcount}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Transactions </f:facet>
                    <!--p:ajax event="rowSelect" listener="#{transactionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" /-->
                    <!--p:column headerText="" style="width: 35px">
                        <p:commandLink styleClass="ui-icon ui-icon-zoomin" ajax="true" onstart="showProgress()" oncomplete="hideProgress()" title="view details"/>
                    </p:column-->
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="false" rendered="#{transaction.trsnsactionStatus eq '5' and transaction.payment.flagStatus eq 'PH' and false}" action="#{transactionBean.retryTransaction(transaction)}" title="Retry Transaction">
                            <h:graphicImage name="images/refresh.jpg" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                       <p:column headerText="" style="width: 35px">
                           <p:commandLink  ajax="false" rendered="#{transaction.trsnsactionStatus eq '4'}" action="#{reportBean.generateTransReceipt(transaction)}" title="Transaction Receipt">
                            <h:graphicImage name="images/pdf.png" width="24px" height="24px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Creation Date" style="width: 125px"><h:outputText value="#{transaction.dateCreatedStr}" /></p:column>
                    <p:column headerText="Payment Reference" ><h:outputText value="#{transaction.payment.paymentReference}" /></p:column>
                    <p:column headerText="Transaction Reference" rendered="false" style="width: 140px"><h:outputText value="#{transaction.transactionReference}" /></p:column>
                    <p:column headerText="Narration" ><h:outputText value="#{transaction.narration}" /></p:column>
                    <p:column headerText="Beneficiary" style="width: 250px"><h:outputText value="#{transaction.beneficiary.account.accountIdentity}" /></p:column>
                    <p:column headerText="Amount(NGN)" style="width: 85px"><h:outputText value="#{transaction.amountf}" /></p:column>
                    <p:column headerText="Failed Response" rendered="#{transactionBean.etzUser}" style="width: 85px"><h:outputText value="#{not empty transaction.responseCode and transaction.responseCode ne '0' and transaction.responseCode ne '00' and transaction.responseCode ne '000'?transaction.responseCode:''}" /></p:column>
                    <p:column headerText="Commission" rendered="#{transactionBean.etzUser}" style="width: 85px"><h:outputText value="#{transaction.etzFeeAmount}" /></p:column>
                    
                    <p:column headerText="Status" style="width: 140px"><h:outputText value="#{transaction.status}" /></p:column>
                </p:dataTable>

            </h:form>
        </div></div>
</ui:composition>