<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="statutoryDeductionFormRef">
                <p:dataTable id="statutoryDeductionFormTable" lazy="true" var="statdeduction" 
                             value="${statutoryDeductionTableBean.lazyDataModel}" paginator="true" sortField="dateCreated" sortOrder="descending" 
                             rows="${statutoryDeductionTableBean.rowcount}"  selectionMode="single" selection="#{statutoryDeductionBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        <div align="left">
                            Statutory Deductions 
                        </div>
                    </f:facet>
                    <p:ajax event="rowSelect" listener="#{statutoryDeductionBean.onRowSelect}" update=":statutoryDeductionForm" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="Deduction Alias" ><h:outputText value="#{statdeduction.deductionName}" /></p:column>
                    <p:column headerText="Deduction Type" ><h:outputText value="#{statdeduction.statDeductionType}" /></p:column>
                    <p:column headerText="Amount Type" ><h:outputText value="#{statdeduction.amountType eq 'PC'?'Percent':statdeduction.amountType eq 'FX'?'Fixed':''}" /></p:column>
                    <p:column headerText="Value" ><h:outputText value="#{statdeduction.amount}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{statdeduction.status}" /></p:column>
                </p:dataTable>

            </h:form>

           
        </div></div>
</ui:composition>