<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="statutoryDeductionForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Statutory Deduction" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="statdedctn" value="Statutory Deduction Alias" />
                        <p:inputText id="statdedctn" title="Name of the compulsory deduction"  styleClass="controls-length4"  value="${statutoryDeductionBean.selectedItem.deductionName}" required="true" placeholder="Statutory Deduction Alias"/>
                        <p:tooltip for="statdedctn" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="statdeudctntypelabel" for="statdeudctntype" title="specify if tax,pfa,nhf" value="Statutory Deduction Name:"  />
                        <p:selectOneMenu id="statdeudctntype" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{statutoryDeductionBean.selectedItem.statDeductionType}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Tax" itemValue="TAX" />  
                            <f:selectItem itemLabel="PFA" itemValue="PFA" /> 
                            <f:selectItem itemLabel="NHF" itemValue="NHF" /> 
                        </p:selectOneMenu>  
                        <p:tooltip for="statdeudctntypelabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the deduction amount" value="Amount Type:"  />
                        <p:selectOneMenu id="amounttype" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{statutoryDeductionBean.selectedItem.amountType}" >
                            <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                            <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                            <f:selectItem itemLabel="Percent" itemValue="PC" />  
                        </p:selectOneMenu>  
                        <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" />

                        <p:outputLabel for="amount"  value="Value:"  />
                        <p:inputText id="amount"  title="deduction amount or percentage value" styleClass="controls-length4"  value="${statutoryDeductionBean.selectedItem.amount}" required="true" placeholder="amount"/>  										 
                        <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />	

                        <p:outputLabel id="payItemslabel" rendered="#{statutoryDeductionBean.completePayroll}" title="check all the payitems to apply this value" for="payItems"  value="Dependent PayItems:"  />
                        <p:selectManyCheckbox id="payItems" rendered="#{statutoryDeductionBean.completePayroll}" value="#{statutoryDeductionBean.selectedItem.refStatutoryPayItems}" converter="payitemConverter" layout="grid" columns="3" >
                            <f:attribute name="collectionType" value="java.util.ArrayList" />
                            <f:selectItems value="#{statutoryDeductionBean.payItems}" var="payItem" itemLabel="#{payItem.payItemname}" itemValue="#{payItem}" />
                        </p:selectManyCheckbox>
                        <p:tooltip for="payItemslabel" rendered="#{statutoryDeductionBean.completePayroll}" showEvent="mouseover" hideEvent="mouseout" />

                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container25">
                        <p:commandButton value="Save Deduction" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:statutoryDeductionForm,:statutoryDeductionFormRef:statutoryDeductionFormTable" action="#{statutoryDeductionBean.save}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":statutoryDeductionForm,:statutoryDeductionFormRef:statutoryDeductionFormTable" action="#{statutoryDeductionBean.reset}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid >
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>