<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
    <p:dialog widgetVar="onetime-addition" dynamic="true" width="80%" height="80%" draggable="true"   header="One Time Additions for #{workersBean.selectedItem.firstName} #{workersBean.selectedItem.lastName} (#{workersBean.selectedItem.staffId})" modal="true" resizable="false" closable="true"  >
        <p:ajax event="close"   listener="#{workersSalaryAdditionBean.onDialogClose}" />
        <h:form id="onetimeworkeradditionTableRef" >
            <p:dataTable id="onetimeworkeradditionTable"  var="addition" sortField="id" sortOrder="descending"
                         value="${workersSalaryAdditionBean.workersSalaryAdditions}" rowKey="#{addition.id}" paginator="true" 
                         rows="3" selectionMode="single" selection="#{workersSalaryAdditionBean.selectedItem}" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" rendered="${not empty workersSalaryAdditionBean.workersSalaryAdditions}" >
                <f:facet name="header">One Time Additions</f:facet>
                <p:ajax event="rowSelect" listener="#{workersSalaryAdditionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":onetimeworkeradditionform" />
                <p:column headerText="" style="width: 35px">
                    <p:commandLink ajax="true" action="#{workersSalaryAdditionBean.setSelectedItem(addition)}" rendered="#{not addition.active and addition.flagStatus eq 'AP'}" oncomplete="PF('activateAddition').show();" title="Activate Addition">
                        <h:graphicImage name="images/activate.png" width="16px" height="16px"  styleClass="Fleft" library="primefaces-sentinel"/>
                    </p:commandLink>
                </p:column>
                <p:column headerText="" style="width: 35px">
                    <p:commandLink ajax="true" action="#{workersSalaryAdditionBean.setSelectedItem(addition)}" rendered="#{addition.active and addition.flagStatus eq 'AP'}" oncomplete="PF('deactivateAddition').show();" title="De-Activate Addition">
                        <h:graphicImage name="images/cancel.png" width="16px" height="16px"  styleClass="Fleft" library="primefaces-sentinel"/>
                    </p:commandLink>
                </p:column>
                <p:column headerText="Addition Name" ><h:outputText value="#{addition.otherAddition.additionName}" /></p:column> 
                <p:column headerText="Amount Type" ><h:outputText value="#{addition.amountTypeLabel}" /></p:column> 
                <p:column headerText="Value" ><h:outputText value="#{addition.amount}" /></p:column>
                <p:column headerText="Status" ><h:outputText value="#{addition.status}" /></p:column>
                <p:column headerText="Active" ><h:outputText value="#{addition.active?'Active':'Inactive'}" /></p:column>
            </p:dataTable>
            <div class="EmptyBox10"></div> 
        </h:form>
        <h:form id="onetimeworkeradditionform" >
            <p:fieldset legend="One Time Addition">
                <h:panelGrid columns="6" width="100%" columnClasses="name2, value" >
                    <p:outputLabel id="additionTypeL" for="additionType" title="one time addition" value="Addition Type:"  />
                    <p:selectOneMenu id="additionType"  style="width:150px" filter="true" filterMatchMode="startsWith" converter="additionConverter"  required="true" value="#{workersSalaryAdditionBean.selectedItem.otherAddition}" >
                        <p:ajax event="change"  update=":onetimeworkeradditionform" listener="#{workersSalaryAdditionBean.additionTypeChange}" />
                        <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                        <f:selectItems value="#{workersSalaryAdditionBean.otherAdditions}" var="add" itemLabel="#{add.additionName}" itemValue="#{add}" />  
                    </p:selectOneMenu>  
                    <p:tooltip for="additionTypeL" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the addition amount" value="Amount Type:"  />
                    <p:selectOneMenu id="amounttype"  disabled="#{not empty workersSalaryAdditionBean.selectedItem.amountType}" style="width:150px" filter="true" filterMatchMode="startsWith"  required="true" value="#{workersSalaryAdditionBean.selectedItem.amountType}" >
                        <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                        <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                        <f:selectItem itemLabel="Percent" itemValue="PC" />  
                    </p:selectOneMenu>  
                    <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" />					
                    <p:outputLabel for="amount"  value="Value:"  />
                    <p:inputText id="amount" title="addition amount or percentage value" value="#{workersSalaryAdditionBean.selectedItem.amount}" required="true" placeholder="addition amount"/>  										 
                    <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:outputLabel/>
                    <p:commandButton value="Save Addition" action="${workersSalaryAdditionBean.save()}" onstart="showProgress()" oncomplete="hideProgress();"  update=":growl,:onetimeworkeradditionTableRef,:onetimeworkeradditionform" 
                                     styleClass="GreenButton Fleft"/>  
                </h:panelGrid>

            </p:fieldset>
        </h:form>
    </p:dialog>
    <h:form>

        <p:confirmDialog widgetVar="activateAddition"  message="Are you sure you want to activate addition?" width="40%" closable="true">   
            <p:commandButton value="Cancel"   onclick="PF('activateAddition').hide();" update=":onetimeworkeradditionTableRef" 
                             action="#{workersSalaryAdditionBean.nullifySelection}"/>
            <p:commandButton value="Activate Addition" action="#{workersSalaryAdditionBean.doAdditionStatusChange}" update=":growl,:onetimeworkeradditionTableRef"  oncomplete="PF('activateAddition').hide();" />
        </p:confirmDialog>

        <p:confirmDialog widgetVar="deactivateAddition"  message="Are you sure you want to de-activate addition?" width="40%" closable="true">   
            <p:commandButton value="Cancel"   onclick="PF('deactivateAddition').hide();" update=":onetimeworkeradditionTableRef" 
                             action="#{workersSalaryAdditionBean.nullifySelection}"/>
            <p:commandButton value="De-Activate Addition" action="#{workersSalaryAdditionBean.doAdditionStatusChange}" update=":growl,:onetimeworkeradditionTableRef"  oncomplete="PF('deactivateAddition').hide();" />
        </p:confirmDialog>
    </h:form>
</ui:composition>