<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
               >
    <p:dialog widgetVar="onetime-deduction" dynamic="true" width="80%" height="80%" draggable="true"   header="One Time Deductions for #{workersBean.selectedItem.firstName} #{workersBean.selectedItem.lastName} (#{workersBean.selectedItem.staffId})" modal="true" resizable="false" closable="true"  >
        <p:ajax event="close"   listener="#{workersSalaryDeductionBean.onDialogClose}" />
        <h:form id="onetimeworkerdeductTableRef" >
            <p:dataTable id="onetimeworkerdeductTable"  var="deduction" sortField="id" sortOrder="descending"
                         value="${workersSalaryDeductionBean.workersSalaryDeductions}" rowKey="#{deduction.id}" paginator="true" 
                             rows="3" selectionMode="single" selection="#{workersSalaryDeductionBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${not empty workersSalaryDeductionBean.workersSalaryDeductions}" >
                    <f:facet name="header">One Time Deductions</f:facet>
                    <p:ajax event="rowSelect" listener="#{workersSalaryDeductionBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":onetimeworkerdeductform" />
                          <p:column headerText="" style="width: 35px">
                         <p:commandLink ajax="true" action="#{workersSalaryDeductionBean.setSelectedItem(deduction)}" rendered="#{not deduction.active and deduction.flagStatus eq 'AP'}" oncomplete="PF('activateDeduction').show();" title="Activate Deduction">
                            <h:graphicImage name="images/activate.png" width="16px" height="16px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        </p:commandLink>
                    </p:column>
                            <p:column headerText="" style="width: 35px">
                         <p:commandLink ajax="true" action="#{workersSalaryDeductionBean.setSelectedItem(deduction)}" rendered="#{deduction.active and deduction.flagStatus eq 'AP'}" oncomplete="PF('deactivateDeduction').show();" title="De-Activate Deduction">
                            <h:graphicImage name="images/cancel.png" width="16px" height="16px"  styleClass="Fleft" library="primefaces-sentinel"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Deduction Name" ><h:outputText value="#{deduction.otherDeduction.deductionName}" /></p:column> 
                    <p:column headerText="Amount Type" ><h:outputText value="#{deduction.amountTypeLabel}" /></p:column> 
                    <p:column headerText="Value" ><h:outputText value="#{deduction.amount}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{deduction.status}" /></p:column>
                    <p:column headerText="Active" ><h:outputText value="#{deduction.active?'Active':'Inactive'}" /></p:column>
                </p:dataTable>
              <div class="EmptyBox10"></div> 
        </h:form>
        <h:form id="onetimeworkerdeductform" >
            <p:fieldset legend="One Time Deduction">
                <h:panelGrid columns="6" width="100%" columnClasses="name2, value" >
                     <p:outputLabel id="deducTypeL" for="deducType" title="one time deduction" value="Deduction Type:"  />
                     <p:selectOneMenu id="deducType" style="width:150px" filter="true" filterMatchMode="startsWith" converter="deductionConverter"  required="true" value="#{workersSalaryDeductionBean.selectedItem.otherDeduction}" >
                       <p:ajax event="change"  update=":onetimeworkerdeductform" listener="#{workersSalaryDeductionBean.deductionTypeChange}" />
                         <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                        <f:selectItems value="#{workersSalaryDeductionBean.otherDeductions}" var="deduc" itemLabel="#{deduc.deductionName}" itemValue="#{deduc}" />  
                    </p:selectOneMenu>  
                    <p:tooltip for="deducTypeL" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="amounttypelabel" for="amounttype" title="fixed implies value supplied while percent implies percentage value supplied of the deduction amount" value="Amount Type:"  />
                    <p:selectOneMenu id="amounttype" disabled="#{not empty workersSalaryDeductionBean.selectedItem.amountType}" style="width:150px" filter="true" filterMatchMode="startsWith"  required="true" value="#{workersSalaryDeductionBean.selectedItem.amountType}" >
                        <f:selectItem itemLabel="--Select Type--" itemValue="" />  
                        <f:selectItem itemLabel="Fixed" itemValue="FX" />  
                        <f:selectItem itemLabel="Percent" itemValue="PC" />  
                    </p:selectOneMenu>  
                    <p:tooltip for="amounttypelabel" showEvent="mouseover" hideEvent="mouseout" />					
                    <p:outputLabel for="amount"  value="Value:"  />
                    <p:inputText id="amount" title="deduction amount or percentage value" value="#{workersSalaryDeductionBean.selectedItem.amount}" required="true" placeholder="deduction amount"/>  										 
                    <p:tooltip for="amount" showEvent="mouseover" hideEvent="mouseout" />
					  <p:outputLabel/>
					 <p:outputLabel/>
					  <p:outputLabel/>
                    <p:commandButton value="Save Deduction" action="${workersSalaryDeductionBean.save()}" onstart="showProgress()" oncomplete="hideProgress();"  update=":growl,:onetimeworkerdeductTableRef,:onetimeworkerdeductform" 
                                     styleClass="GreenButton Fleft"/>  
                </h:panelGrid>

            </p:fieldset>
        </h:form>
    </p:dialog>
         <h:form>

                <p:confirmDialog widgetVar="activateDeduction"  message="Are you sure you want to activate deduction?" width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('activateDeduction').hide();" update=":onetimeworkerdeductTableRef" 
                                     action="#{workersSalaryDeductionBean.nullifySelection}"/>
                    <p:commandButton value="Activate Deduction" action="#{workersSalaryDeductionBean.doDeductionStatusChange}" update=":growl,:onetimeworkerdeductTableRef"  oncomplete="PF('activateDeduction').hide();" />
                </p:confirmDialog>
                
                 <p:confirmDialog widgetVar="deactivateDeduction"  message="Are you sure you want to de-activate deduction?" width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('deactivateDeduction').hide();" update=":onetimeworkerdeductTableRef" 
                                     action="#{workersSalaryDeductionBean.nullifySelection}"/>
                    <p:commandButton value="De-Activate Deduction" action="#{workersSalaryDeductionBean.doDeductionStatusChange}" update=":growl,:onetimeworkerdeductTableRef"  oncomplete="PF('deactivateDeduction').hide();" />
                </p:confirmDialog>
            </h:form>
</ui:composition>