<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
				   <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
    <h:form id="accountFormRef">
    <p:dataTable id="accountTable" var="account" 
                 value="${taxSetupBean.selectedItem.accounts}" paginator="true" sortField="bank.bankName" sortOrder="ascending" 
                 selectionMode="single" selection="#{taxSetupBean.bankAccount}" rowKey="#{account.id}"
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15">
         <f:facet name="header">Tax Office Accounts</f:facet>
         <p:ajax event="rowSelect" listener="#{taxSetupBean.onRowSelect}" update=":accountForm" onstart="showProgress()" oncomplete="hideProgress()"/>
                 <p:column headerText="" style="width: 20px">
               <p:commandLink styleClass="ui-icon ui-icon-check"  ajax="true" rendered="#{not account.defaultBank}" action="#{taxSetupBean.defaultBank(account)}" update=":accountFormRef:accountTable,:growl" onstart="showProgress()" oncomplete="hideProgress()" title="set this account as default account"/>
         </p:column>
         <p:column headerText="Bank Name" ><h:outputText value="#{account.bank.bankName}" /></p:column>
          <p:column headerText="Account Name" ><h:outputText value="#{account.accountName}" /></p:column>
          <p:column headerText="Account Number" ><h:outputText value="#{account.accountNumber}" /></p:column>
    </p:dataTable>
	        <div class="EmptyBox10"/>
                <p:commandButton value="Save All Changes" onstart="showProgress()" oncomplete="hideProgress()" update=":growl" action="#{taxSetupBean.save(false)}" styleClass="GreenButton Fleft" />
</h:form>
</div></div>
</ui:composition>