<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="accountForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Bank Account" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                      <p:outputLabel id="banklabel" for="bank" title="select the bank for which the account belong"  value="Bank:" />
                        <p:selectOneMenu id="bank" style="width:450px" filter="true" filterMatchMode="startsWith" required="true" value="#{taxSetupBean.bankAccount.bank}"  converter="bankConverter" >
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{taxSetupBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="banklabel" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="accountName" value="Account Name" />
                        <p:inputText id="accountName" title="account Name for this account" styleClass="controls-length4" value="${taxSetupBean.bankAccount.accountName}" required="true" placeholder="Account Name"/>
                        <p:tooltip for="accountName" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="accountNumber"  value="Account Number:" />
                        <p:inputText id="accountNumber" title="account number for this account" styleClass="controls-length4" value="${taxSetupBean.bankAccount.accountNumber}" required="true" placeholder="Account Number"/>
                        <p:tooltip for="accountNumber" showEvent="mouseover" hideEvent="mouseout" />
                          <h:outputLabel id="accountDefaultlabel" title="check if account will be the default" value="Default Account? " />
                        <p:selectBooleanCheckbox id="accountDefault" value="#{taxSetupBean.defaultAccount}" />
						<p:tooltip for="accountDefaultlabel" showEvent="mouseover" hideEvent="mouseout" />
						<p:commandButton value="Add Account" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:accountForm,:accountFormRef:accountTable" action="#{taxSetupBean.addAccount}" styleClass="GreenButton Fleft" />
                      
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>