<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../../../WEB-INF/template.xhtml">
  
    <ui:define name="content">
        <!-- SECTION 1 -->
 
        <div class="Container100">
            <div class="ContainerIndent">
                <div class="Container100 Responsive">
                    <div class="ContainerIndent">
                        <div class="hardblue Fs16 fontBold"><h:form><p:commandLink value="#{taxSetupBean.selectedItem.authName}" action="#{taxSetupBean.backTaxSetup}"/> >> Accounts</h:form> </div>
                        <div class="EmptyBox10"></div>
                           <ui:include src="accounttable.xhtml" />
                          <div class="EmptyBox20"></div>
                           <ui:include src="accountform.xhtml" />
                    </div>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>