<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="taxForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Tax Office" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="taxCode" value="Tax Office Code" />
                        <p:inputText id="taxCode" title="unique tax office code" styleClass="controls-length4" value="${taxSetupBean.selectedItem.authCode}" required="true" placeholder="Unique Tax Office Code"/>
                        <p:tooltip for="taxCode" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="taxName"  value="Tax Office Name:" />
                        <p:inputText id="taxName" title="name of the pension fund administrator"  styleClass="controls-length4" value="${taxSetupBean.selectedItem.authName}" required="true" placeholder="Tax Office Name"/>
                        <p:tooltip for="taxName" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="taxEmail"  value="Tax Office Contact Email" />
                        <p:inputText id="taxEmail" title="contact email address of the tax"  styleClass="controls-length4" value="${taxSetupBean.selectedItem.contactEmail}" required="true" placeholder="Contact Email"/>
                        <p:tooltip for="taxEmail" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="taxuserc" title="User that would handle correspondence for TAX" for="taxusers"  value="CorporatePay Contact User" />
                        <p:selectOneMenu id="taxusers" style="width:450px" filter="true" filterMatchMode="startsWith" value="#{taxSetupBean.selectedItem.user}" required="true" converter="userConverter" >
                            <f:selectItem itemLabel="--Select User--" itemValue="" />  
                            <f:selectItems value="#{taxSetupBean.users}" var="user" itemLabel="#{user.firstName} #{user.lastName} (#{user.username})" itemValue="#{user}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="taxuserc" showEvent="mouseover" hideEvent="mouseout" />

                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container20">
                        <p:commandButton value="Save Tax Office" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:taxForm,:taxFormRef:taxTable" action="#{taxSetupBean.save(true)}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":taxForm,:taxFormRef:taxTable" action="#{taxSetupBean.reset}" styleClass="OrangeButton Fleft" />	
                    </h:panelGrid>
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>