<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
				   <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
    <h:form id="taxFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
            <h:panelGrid id="taxfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                 <p:outputLabel for="taxnamefilter"   value="Tax Office Name Filter:" />
                 <p:inputText id="taxnamefilter" styleClass="Wid90" value="${taxSetupTableBean.taxNameFilter}" placeholder="Tax Office Name Filter"/> 
			  <p:outputLabel for="statusfilter"   value="Status:" />
                       <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{taxSetupTableBean.statusFilter}" >
                    <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                    <f:selectItems value="#{taxSetupTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                </p:selectOneMenu> 
				 <p:outputLabel/>
				  <p:outputLabel/>
                <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":taxFormRef" action="#{taxSetupTableBean.refresh}" styleClass="GreenButton Fleft" />
            </h:panelGrid>
      
      </p:panel>
    <p:dataTable id="taxTable" lazy="true" var="datatax" 
                 value="${taxSetupTableBean.lazyDataModel}" paginator="true" sortField="authName" sortOrder="ascending" 
                 rows="${taxSetupTableBean.rowcount}"  selectionMode="single" selection="#{taxSetupBean.selectedItem}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15">
         <f:facet name="header">Tax Office</f:facet>
         <p:ajax event="rowSelect" listener="#{taxSetupBean.onRowSelect}" update=":taxForm,:taxFormRef:taxTable" onstart="showProgress()" oncomplete="hideProgress()"/>
          <p:column headerText="" style="width: 20px">
              <p:commandLink styleClass="ui-icon ui-icon-plusthick" ajax="true" action="#{taxSetupBean.doAccount(datatax)}" onstart="showProgress()" oncomplete="hideProgress()" title="Manage tax office's account"/>
         </p:column>
          <p:column headerText="Tax Office's Code" ><h:outputText value="#{datatax.authCode}" /></p:column>
          <p:column headerText="Name" ><h:outputText value="#{datatax.authName}" /></p:column>
          <p:column headerText="Contact Tax Office Email" ><h:outputText value="#{datatax.contactEmail}" /></p:column>
            <p:column headerText="Contact Corporate Pay User" ><h:outputText value="#{datatax.user.firstName} #{datatax.user.lastName} (#{datatax.user.username})" /></p:column>
           <p:column headerText="Status" ><h:outputText value="#{datatax.status}" /></p:column>
    </p:dataTable>
</h:form>
</div></div>
</ui:composition>