<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:selectOneMenu id="helpitem">
        <p:ajax event="change"  update=":helpform:helpmsg" listener="#{userBean.handleHelpChange}" />
        <f:selectItem itemLabel="--Help Options--" itemValue="" />  
        <f:selectItem itemLabel="How to setup and manage user" itemValue="001" />  
        <f:selectItem itemLabel="How to setup and manage banks" itemValue="002" />
        <f:selectItem itemLabel="How to setup and manage etranzact commissions" itemValue="003" />
        <f:selectItem itemLabel="What are Approval Groups and how do to set them up" itemValue="004" />
        <f:selectItem itemLabel="What are Approval Routes and how do to set them up" itemValue="005" />
    </p:selectOneMenu>  
</ui:composition>
