<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:selectOneMenu id="helpitem">
        <p:ajax event="change"  update=":helpform:helpmsg" listener="#{userBean.handleHelpChange}" />
        <f:selectItem itemLabel="--Help Options--" itemValue="" />  
        <f:selectItem itemLabel="How to do initiate payment to Single/Multiple Beneficiary"  itemValue="010" />  
        <f:selectItem itemLabel="How to do upload payment"  itemValue="011" /> 
        <f:selectItem itemLabel="What is meant by Payment Schedule and how to do create a payment schedule"  itemValue="012" /> 
        <f:selectItem itemLabel="How to view and monitor transactions"  itemValue="013" /> 
    </p:selectOneMenu>  
</ui:composition>
