<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="payrollperiodForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
                <p:fieldset legend="Payroll Period" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel for="periodId" value="Period Tag" />
                        <p:inputText id="periodId" title="period tag(March 2015, Salary)"  styleClass="controls-length4"  value="${payrollPeriodBean.selectedItem.tag}" required="true" placeholder="Period Tag (e.g March 2015, Salary)"/>
                        <p:tooltip for="periodId" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="periodDesc"  value="Description:" />
                        <p:inputText id="periodDesc" title="further description of the payroll"   styleClass="controls-length4" value="${payrollPeriodBean.selectedItem.payrollPeriodDesc}" required="false" placeholder="Period description"/>
                        <p:tooltip for="periodDesc" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="effectivefroml" title="all input from this date are effective" for="effectivefrom"   value="Effective Date:" />
                        <p:calendar id="effectivefrom" required="true" value="#{payrollPeriodBean.selectedItem.effectiveDate}" />
                        <p:tooltip for="effectivefroml" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="endfroml" title="all input before this date are effective" for="effectivefrom"   value="End Date:" />
                        <p:calendar id="endfrom" required="true" value="#{payrollPeriodBean.selectedItem.endDate}" />
                        <p:tooltip for="endfroml" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="groupslabel" title="check all the worker's category that will be part of this payroll period" for="groups"  value="Workers Categories:"  />
                        <p:selectManyCheckbox id="groups" value="#{payrollPeriodBean.selectedItem.workersCategories}" converter="workersCategoryConverter" layout="grid" columns="3" >
                            <f:attribute name="collectionType" value="java.util.ArrayList" />
                            <f:selectItems value="#{payrollPeriodBean.workersCategories}" var="category" itemLabel="#{category.id}" itemValue="#{category}" />
                        </p:selectManyCheckbox>
                        <p:tooltip for="groupslabel" rendered="#{statutoryDeductionBean.completePayroll}" showEvent="mouseover" hideEvent="mouseout" />

                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container25">
                        <p:commandButton value="Save Period" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:payrollperiodForm,:payrollperiodFormRef:payrollperiodFormTable" action="#{payrollPeriodBean.save}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:payrollperiodForm,:payrollperiodFormRef:payrollperiodFormTable" action="#{payrollPeriodBean.reset}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid>   
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>