<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="payrollperiodFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="periodfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="payrollPeriodFilter"   value="Period Tag Filter:" />
                        <p:inputText id="payrollPeriodFilter" styleClass="Wid90" value="${payrollPeriodTableBean.payrollPeriodId}" placeholder="Payroll Tag Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{payrollPeriodTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{payrollPeriodTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel/>
                        <p:outputLabel/>
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":payrollperiodFormRef" action="#{payrollPeriodTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="payrollperiodFormTable" lazy="true" var="period" 
                             value="${payrollPeriodTableBean.lazyDataModel}" paginator="true" sortField="dateCreated" sortOrder="descending" 
                             rows="${payrollPeriodTableBean.rowcount}"  selectionMode="single" selection="#{payrollPeriodBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">Periods </f:facet>
                    <p:ajax event="rowSelect" listener="#{payrollPeriodBean.onRowSelect}" update=":payrollperiodForm" onstart="showProgress()" oncomplete="hideProgress()" />
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink ajax="true" update=":compPayroll"  action="#{payrollPeriodBean.setSelectedItem(period)}" rendered="#{period.flagStatus eq 'PIP'}" oncomplete="PF('computepayroll').show();" title="Compute Payroll">
                            <h:graphicImage name="images/compute.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="true" update=":rollbackPayroll" action="#{payrollPeriodBean.setSelectedItem(period)}" rendered="#{period.flagStatus eq 'PG'}" oncomplete="PF('rollbackpayroll').show();" title="rollback payroll">
                            <h:graphicImage name="images/rollback.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                      <p:column headerText="" style="width: 35px">
                        <p:commandLink  ajax="true" update=":requestPayrollApproval" action="#{payrollPeriodBean.setSelectedItem(period)}"  rendered="#{period.flagStatus eq 'PG'}"  oncomplete="PF('requestpayrollApproval').show();" title="request payroll approval">
                            <h:graphicImage name="images/request.png" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Payroll Tag" ><h:outputText value="#{period.tag}" /></p:column>
                    <p:column headerText="Effective Date" ><h:outputText value="#{period.effectiveDate}" /></p:column>
                    <p:column headerText="End Date" ><h:outputText value="#{period.endDate}" /></p:column>
                    <p:column headerText="Date Created" ><h:outputText value="#{period.dateCreatedStr}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{period.status}" /></p:column>
                </p:dataTable>
            </h:form>
            
             <h:form id="compPayroll">
                 <p:confirmDialog widgetVar="computepayroll" header="Compute Salary for #{payrollPeriodBean.selectedItem.tag}"  message="You are about to Compute #{payrollPeriodBean.selectedItem.tag} Salaries of workers. You would still be able to rollback this Computation incase you find data input commission or ommission error.
                                  In Case the System finds irregularities in the Salary of worker(s), 
                                  The same with exception decription and resolution advices would be sent to you by mail. 
                                  Also, When this Computation is complete, you can generate Payslips and other reports to confirm the Computations" width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('computepayroll').hide();" update=":payrollperiodFormRef" 
                                     action="#{payrollPeriodBean.reset}"/>
                    <p:commandButton value="Compute Salaries" action="#{payrollPeriodBean.computeSalaries}" update=":growl,:payrollperiodFormRef" onstart="showProgress();PF('computepayroll').hide();" oncomplete="hideProgress();"/>
                </p:confirmDialog>
            </h:form>
            
              <h:form id="rollbackPayroll">
                <p:confirmDialog widgetVar="rollbackpayroll" header="Roll back Salary for #{payrollPeriodBean.selectedItem.tag}"  message="You are about to Rollback Computations done for #{payrollPeriodBean.selectedItem.tag}. This will discard all computation currently done." width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('rollbackpayroll').hide();" update=":payrollperiodFormRef" 
                                     action="#{payrollPeriodBean.reset}"/>
                    <p:commandButton value="Compute Salaries" action="#{payrollPeriodBean.rollbackSalaries}" update=":growl,:payrollperiodFormRef" onstart="showProgress(); PF('rollbackpayroll').hide();" oncomplete="hideProgress()" />
                </p:confirmDialog>
            </h:form>
            
               <h:form id="requestPayrollApproval">
                <p:confirmDialog widgetVar="requestpayrollApproval" header="Request Approval for #{payrollPeriodBean.selectedItem.tag}"  message="You are about to send Approval Request for this Payroll. Note that you would not be able to Roll Back this payroll again. 
                                 Also, the System would automatically request for Payment Approval as soon as Payroll is approved " width="40%" closable="true">   
                    <p:commandButton value="Cancel"   onclick="PF('requestpayrollApproval').hide();" update=":payrollperiodFormRef" 
                                     action="#{payrollPeriodBean.reset}"/>
                    <p:commandButton value="Request Approval" action="#{payrollPeriodBean.requestSalariesApproval}" onstart="showProgress()" oncomplete="hideProgress();PF('requestpayrollApproval').hide();"  update=":growl,:payrollperiodFormRef"  />
                </p:confirmDialog>
            </h:form>
        </div></div>
</ui:composition>