<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="cardForm">

        <div class="Container100 Responsive">
            <div class="ContainerIndent">
                <p:fieldset legend="Account Details" rendered="#{not userBean.loggedInUser.role.finalAuthorizerRole}" toggleable="true">	
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">
                        <p:outputLabel id="banklabel" for="bank" title="select the bank for which the card belong"  rendered="#{accountDetailsBean.corporateUser}"  value="Bank:" />
                        <p:selectOneMenu id="bank" rendered="#{accountDetailsBean.corporateUser}" style="width:450px" required="true" value="#{accountDetailsBean.bank}"  converter="bankConverter" >
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{accountDetailsBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="banklabel" rendered="#{accountDetailsBean.corporateUser}" showEvent="mouseover" hideEvent="mouseout" />

                        <p:outputLabel id="corporatelabel" for="corporate" title="select the corporate that owns the card"  rendered="#{accountDetailsBean.bankUser}"  value="Corporate:" />
                        <p:selectOneMenu id="corporate" rendered="#{accountDetailsBean.bankUser}" style="width:450px" value="#{accountDetailsBean.corporate}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{accountDetailsBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu> 
                        <p:tooltip for="corporatelabel" rendered="#{accountDetailsBean.bankUser}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="cardNumber" value="Card Number" />
                        <p:inputText id="cardNumber" title="valid card number for the bank"   styleClass="controls-length4" value="${accountDetailsBean.selectedItem.cardNumber}" required="true" placeholder="Valid Card Number"/>
                        <p:tooltip for="cardNumber" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel for="cardAlias"  value="Card Alias:" />
                        <p:inputText id="cardAlias" title="alias to represent the card"    styleClass="controls-length4" value="${accountDetailsBean.selectedItem.description}" required="true" placeholder="Alias Name of the Card"/>
                        <p:tooltip for="cardAlias" showEvent="mouseover" hideEvent="mouseout" />
                        
                    </h:panelGrid> 
                    <h:panelGrid columns="2" class="Container25">
                        <p:commandButton value="Save Card Details" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:cardForm,:cardFormRef:cardTable" action="#{accountDetailsBean.save}" styleClass="GreenButton Fleft" />
                        <p:commandButton value="Reset" onstart="showProgress()" oncomplete="hideProgress()" update=":cardForm,:cardFormRef:cardTable" action="#{accountDetailsBean.reset}" styleClass="OrangeButton Fleft" />
                    </h:panelGrid> 
                </p:fieldset>
            </div>

        </div>

    </h:form>

</ui:composition>