<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="cardFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="cardfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
                        <p:outputLabel for="corporatefilter" rendered="#{accountDetailsTableBean.bankUser}"  value="Corporate:" />
                        <p:selectOneMenu id="corporatefilter" rendered="#{accountDetailsTableBean.bankUser}" value="#{accountDetailsTableBean.corporateFilter}"  style="width:230px" converter="corporateConverter"   >
                            <f:selectItem itemLabel="--Select Corporate--" itemValue="" />  
                            <f:selectItems value="#{accountDetailsTableBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel for="cardaliasfilter"   value="Card Alias Filter:" />
                        <p:inputText id="cardaliasfilter" styleClass="Wid90" value="${accountDetailsTableBean.cardAliasFilter}" placeholder="Card Alias Filter"/> 
                        <p:outputLabel for="statusfilter"   value="Status:" />
                        <p:selectOneMenu id="statusfilter" style="width:230px"  value="#{accountDetailsTableBean.statusFilter}" >
                            <f:selectItem itemLabel="--Select Status--" itemValue="" />  
                            <f:selectItems value="#{accountDetailsTableBean.statusOptions}" var="statusvar" itemLabel="#{statusvar}" itemValue="#{statusvar}"  />  
                        </p:selectOneMenu> 
                        <p:outputLabel  rendered="#{accountDetailsTableBean.corporateUser}"/>
                        <p:outputLabel  rendered="#{accountDetailsTableBean.corporateUser}"/>
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":cardFormRef" action="#{accountDetailsTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </p:panel>
                <p:dataTable id="cardTable" lazy="true" var="datacard" 
                             value="${accountDetailsTableBean.lazyDataModel}" paginator="true" sortField="corporate" sortOrder="ascending" 
                             rows="${accountDetailsTableBean.rowcount}"  selectionMode="single" selection="#{accountDetailsBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        <div align="center">
                            Account Details
                        </div>
                        <div align="left">
                            <p:commandButton value="Current Balance" onclick="PF('processBalance').show();" rendered="${not empty accountDetailsBean.selectedItem.id and userBean.loggedInUser.role.finalAuthorizerRole}" 
                                             styleClass="GreenButton Fleft"/> 
                        </div>
                    </f:facet>

                    <p:ajax event="rowSelect" listener="#{accountDetailsBean.onRowSelect}" onstart="showProgress()" oncomplete="hideProgress()" update=":cardFormRef" />
                    <p:column headerText="Corporate" rendered="#{accountDetailsBean.bankUser}" ><h:outputText value="#{datacard.corporate.corporateName}" /></p:column>
                    <p:column headerText="Card Number" ><h:outputText value="#{datacard.cardNumber}" /></p:column>
                    <p:column headerText="Card Alias" ><h:outputText value="#{datacard.description}" /></p:column>
                    <p:column headerText="Status" ><h:outputText value="#{datacard.status}" /></p:column>
                    <p:column headerText="Current Balance" rendered="#{userBean.loggedInUser.role.finalAuthorizerRole}" style="width: 180px"><h:outputText  value="#{empty accountDetailsBean.selectedItem.accountBalance?'':accountDetailsBean.selectedItem.accountBalance}" /></p:column>
                </p:dataTable>
            </h:form>

            <h:form id="secform">
                <p:dialog widgetVar="processBalance"  width="40%" closable="true"> 
                    <p:ajax event="close" update=":cardFormRef:cardTable"  listener="#{accountDetailsBean.onDialogClose}" />
                    <h:panelGrid columns="3" width="100%" columnClasses="name3, value">	
                        <p:outputLabel for="cardpin"  value="Card PIN:"/>
                        <p:password id="cardpin" style="width:350px" title="provide the pin for this card" value="#{accountDetailsBean.pin}" maxlength="4" required="true"/>
                        <p:tooltip for="cardpin" showEvent="mouseover" hideEvent="mouseout"/>
                        <p:outputLabel id="expMontht" title="expiration month of the card" for="expMonth" value="Expiration Month:" />
                        <p:selectOneMenu id="expMonth" filter="true" required="true" filterMatchMode="startsWith" style="width:350px" value="#{accountDetailsBean.expMonth}" >
                            <f:selectItem itemLabel="--Select Month--" itemValue="" />  
                            <f:selectItem itemLabel="January" itemValue="01" /> 
                            <f:selectItem itemLabel="February" itemValue="02" /> 
                            <f:selectItem itemLabel="March" itemValue="03" /> 
                            <f:selectItem itemLabel="April" itemValue="04" /> 
                            <f:selectItem itemLabel="May" itemValue="05" /> 
                            <f:selectItem itemLabel="June" itemValue="06" /> 
                            <f:selectItem itemLabel="July" itemValue="07" /> 
                            <f:selectItem itemLabel="August" itemValue="08" /> 
                            <f:selectItem itemLabel="September" itemValue="09" /> 
                            <f:selectItem itemLabel="October" itemValue="10" /> 
                            <f:selectItem itemLabel="November" itemValue="11" /> 
                            <f:selectItem itemLabel="December" itemValue="01" /> 
                        </p:selectOneMenu> 
                        <p:tooltip for="expMontht" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="expYeart" title="expiration year of the card" for="expYear" value="Expiration Year:" />
                        <p:selectOneMenu id="expYear" required="true" filter="true" filterMatchMode="startsWith" style="width:350px" value="#{accountDetailsBean.expYear}" >
                            <f:selectItem itemLabel="--Select Year--" itemValue="" />  
                            <f:selectItems itemLabel="#{year}" itemValue="#{year}" var="year" value="#{accountDetailsBean.years}"/> 
                        </p:selectOneMenu> 
                        <p:tooltip for="expYeart" showEvent="mouseover" hideEvent="mouseout" />
                    </h:panelGrid>
                    <h:panelGrid columns="2"  class="Container70">

                        <p:commandButton value="Cancel" action="${accountDetailsBean.reset}"  onclick="PF('processBalance').hide();" update=":cardFormRef:cardTable" />
                        <p:commandButton value="Get Current Balance" onstart="showProgress()" oncomplete="hideProgress();PF('processBalance').hide();" update=":cardFormRef:cardTable,:growl,:secform" action="${accountDetailsBean.doAccountBalance}" />
                    </h:panelGrid>
                </p:dialog>
            </h:form>
        </div></div>
</ui:composition>