<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
					   <div class="Container100 Responsive">
            <div class="ContainerIndent"> 
    <h:form id="userFormRef">
        <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
             <h:panelGrid id="auditfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="paymentRef" value="Logged User:" />
                        <p:inputText id="paymentRef" title="User Filter" value="${auditTableBean.userFilter}" placeholder="User who performed the operation"/>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{auditTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{auditTableBean.toDateFilter}" />					
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":userFormRef" action="#{auditTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
      </p:panel>
    <p:dataTable id="auditTable" lazy="true" var="dataaudit" 
                 value="${auditTableBean.lazyDataModel}" paginator="true" sortField="id" sortOrder="descending" 
                 rows="${auditTableBean.rowcount}"  selectionMode="single" selection="#{auditBean.selectedItem}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                 rowsPerPageTemplate="5,10,15" first="#{auditTableBean.first}" >
         <f:facet name="header">Audit Table </f:facet>
         <p:ajax event="rowSelect" listener="#{auditBean.onRowSelect}"  onstart="showProgress()" oncomplete="hideProgress()"/>
         <p:column headerText="Revision Date"><h:outputText value="#{dataaudit.timeStampStr}" /></p:column>
         <p:column headerText="Aspect"><h:outputText value="#{dataaudit.entityName}" /></p:column>
         <p:column headerText="Logged User" ><h:outputText value="#{dataaudit.user.firstName} #{dataaudit.user.lastName} (#{dataaudit.user.username})" /></p:column>
                 <p:column headerText="Action Type"><h:outputText value="#{dataaudit.revisionType}" /></p:column>
                          <p:column headerText="Action on"><h:outputText value="#{dataaudit.entityFocus}" /></p:column>
         <p:column headerText="Bank/Corporate/Etranzact"><h:outputText value="#{dataaudit.userType}" /></p:column>
         <p:column headerText="Organization"><h:outputText value="#{dataaudit.userOrg}" /></p:column>
         
             
    </p:dataTable>
</h:form>
</div></div>
</ui:composition>