<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="Container100 Responsive">
        <div class="ContainerIndent"> 
            <h:form id="userFormRef">
                <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
                    <h:panelGrid id="auditfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">    
                        <p:outputLabel for="bankfilter" rendered="#{userBean.etzUser}" value="Bank" />
                        <p:selectOneMenu id="bankfilter" filter="true" filterMatchMode="startsWith" rendered="#{userBean.etzUser}" style="width:200px" value="#{auditTableBean.bankFilter}"  converter="bankConverter" >
                            <p:ajax event="change" update="corporatefilter"/> 
                            <f:selectItem itemLabel="--Select Bank--" itemValue="" />  
                            <f:selectItems value="#{auditTableBean.banks}" var="bank" itemLabel="#{bank.bankName}" itemValue="#{bank}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="corporatefilter" rendered="#{userBean.etzUser or userBean.bankUser}" value="Corporate:" />
                        <p:selectOneMenu id="corporatefilter" filter="true" filterMatchMode="startsWith" rendered="#{userBean.etzUser or userBean.bankUser}"  style="width:200px" value="#{auditTableBean.corporateFilter}"  converter="corporateConverter" >
                            <f:selectItem itemLabel="--Select Corporates--" itemValue="" />   
                            <f:selectItems value="#{auditTableBean.corporates}" var="corporate" itemLabel="#{corporate.corporateName}" itemValue="#{corporate}"  />  
                        </p:selectOneMenu>
                        <p:outputLabel for="loggedUser" value="Logged User:" />
                        <p:inputText id="loggedUser" title="User Filter" value="${auditTableBean.loggedInUserFilter}" placeholder="User who performed the operation"/>
                        <p:outputLabel for="targetOperation" value="Operation Done On?" />
                        <p:inputText id="targetOperation" title="Operation done on?" value="${auditTableBean.targetObjectFilter}" placeholder="Identifier of what the operation was done on"/>
                        <p:outputLabel for="operationType" value="Operation Type:" />
                        <p:selectOneMenu id="operationType" style="width:200px" value="#{auditTableBean.operationTypeFilter}" >
                            <f:selectItem itemLabel="--Select Operation Type--" itemValue="" />   
                            <f:selectItem itemLabel="Login" itemValue="Login" />   
                            <f:selectItem itemLabel="Login Attempt" itemValue="Login Attempt" />  
                            <f:selectItem itemLabel="Logout" itemValue="Logout" />   
                            <f:selectItem itemLabel="Modification" itemValue="Modification" />   
                            <f:selectItem itemLabel="Creation" itemValue="Creation" />   
                            <f:selectItem itemLabel="Payment Initiation" itemValue="Payment Initiation" />
                            <f:selectItem itemLabel="Payment Authorization" itemValue="Payment Authorization" /> 
                        </p:selectOneMenu>
                        <p:outputLabel for="fromDate"  value="From Date:" />
                        <p:calendar id="fromDate" value="#{auditTableBean.fromDateFilter}" />
                        <p:outputLabel for="toDate"  value="To Date:" />
                        <p:calendar id="toDate" value="#{auditTableBean.toDateFilter}" />					
                        <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":userFormRef" action="#{auditTableBean.refresh}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="auditTable" lazy="true" var="dataaudit" 
                             value="${auditTableBean.lazyDataModel}" paginator="true" sortField="id" sortOrder="descending" 
                             rows="${auditTableBean.rowcount}"  selectionMode="single" selection="#{auditBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" first="#{auditTableBean.first}" >
                    <f:facet name="header">Audit Table </f:facet>
                    <p:ajax event="rowSelect" listener="#{auditBean.onRowSelect}"  onstart="showProgress()" oncomplete="hideProgress()"/>
                    <p:column style="width: 40px">  
                        <p:commandLink  ajax="true" action="#{auditBean.setSelectedItem(dataaudit)}" update=":revisionForm" rendered="#{not empty dataaudit.nameValuePairs}" title="view details">
                            <h:graphicImage name="images/view.jpg" width="32px" height="32px"  styleClass="Fleft" library="sentinel-layout"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Revision Date"><h:outputText value="#{dataaudit.dateCreatedStr}" /></p:column>
                    <p:column headerText="Aspect" style="width: 100px"><h:outputText value="#{dataaudit.subject}" /></p:column>
                    <p:column headerText="Logged User" ><h:outputText value="#{dataaudit.username})" /></p:column>
                    <p:column headerText="Action Type"><h:outputText value="#{dataaudit.auditType}" /></p:column>
                    <p:column headerText="Action on"><h:outputText value="#{dataaudit.target}" /></p:column>
                    <p:column headerText="Organization"><h:outputText value="#{dataaudit.organization}" /></p:column>
                </p:dataTable>
            </h:form>

            <h:form id="revisionForm">
                <p:dialog widgetVar="revisionDatails" modal="true" resizable="false" closable="true"  >
                    <p:ajax event="close" update=":userFormRef:auditTable"  listener="#{auditBean.onDialogClose}" />
                    <c:choose>
                        <c:when test="#{auditBean.selectedItem.auditType eq 'Modification'}">
                            <p:fieldset legend="#{auditBean.selectedItem.target} (Modified)">
                                <h:panelGrid  columns="3" width="100%" columnClasses="name3 value">
                                    <p:outputLabel class="Underline"  value="Label" />
                                    <p:outputLabel class="Underline" value="Value" />
                                    <p:outputLabel class="Underline"  value="New Value" /> 
                                    <c:forEach items="#{auditBean.selectedItem.nameValuePairs}"  var="tobj">
                                        <p:outputLabel  class="fontBold" value="#{tobj.name}" />
                                        <p:outputLabel class="fontBold" style="color:red" value="#{tobj.targetValue}" />
                                        <p:outputLabel class="fontBold" style="color:red" value="#{tobj.targetTmpValue}" />
                                    </c:forEach>
                                </h:panelGrid>
                            </p:fieldset>
                        </c:when>
                        <c:otherwise>
                            <p:fieldset legend="#{auditBean.selectedItem.target} (Created)">
                                <h:panelGrid  columns="2" width="100%" columnClasses="name3 value">
                                    <p:outputLabel class="Underline"  value="Label" />
                                    <p:outputLabel class="Underline" value="Value" /> 
                                    <c:forEach items="#{auditBean.selectedItem.nameValuePairs}"  var="tobj">
                                        <p:outputLabel  class="fontBold" value="#{tobj.name}" />
                                        <p:outputLabel class="fontBold" style="color:red" value="#{tobj.targetValue}" />
                                    </c:forEach>
                                </h:panelGrid>
                            </p:fieldset>
                        </c:otherwise>
                    </c:choose>


                </p:dialog>
            </h:form>
        </div></div>
</ui:composition>