<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="taskForm" >
        <div class="Container100 Responsive">
            <p:fieldset rendered="#{not empty taskBean.selectedItem.id and not taskBean.alreadyActedOn}" legend="#{empty taskBean.selectedItem.requestApprovalType?'':taskBean.selectedItem.requestApprovalType eq 'RMA'?'Modification':'Creation'} Approval Request for #{taskBean.selectedItem.targetObjFormatted}" toggleable="true">	
                <c:choose>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'User'}">
                        <ui:include src="details/taskformUser.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'ApprovalGroup'}">
                        <ui:include src="details/taskformAppGroup.xhtml" /> 
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Commission'}">
                        <ui:include src="details/taskformCommission.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'BankCommission'}">
                        <ui:include src="details/taskformBCommission.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Card'}">
                        <ui:include src="details/taskformCard.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Corporate'}">
                        <ui:include src="details/taskformCorporate.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'HoldingAccount'}">
                        <ui:include src="details/taskformHoldingAccount.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Bank'}">
                        <ui:include src="details/taskformBank.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Payment'}">
                        <ui:include src="details/taskformPayment.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'PayrollPeriod'}">
                        <ui:include src="details/taskformPayrollPeriod.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'PFA'}">
                        <ui:include src="details/taskformPFA.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Tax'}">
                        <ui:include src="details/taskformTax.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Worker'}">
                        <ui:include src="details/taskformWorker.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'WorkersSalaryDeduction'}">
                        <ui:include src="details/taskformWorkersSalaryDeduction.xhtml" />
                    </c:when>
                      <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'WorkersSalaryAddition'}">
                        <ui:include src="details/taskformWorkersSalaryAddition.xhtml" />
                    </c:when>
                    <c:when test="#{taskBean.selectedItem.approvalRoute.approvalType.description eq 'Workflow'}">
                        <ui:include src="details/taskformAppRoute.xhtml" />
                    </c:when>
                    <c:otherwise>

                    </c:otherwise>
                </c:choose>

                <h:panelGrid id="bankcorp" columns="3"  width="100%" columnClasses="name3, value">
                    <p:outputLabel id="actiontypelabel" title="select an action, you can as well keep in view, to attend to later " for="actionType"  value="Action:" />
                    <p:selectOneMenu id="actionType"  style="width:350px" filter="true" filterMatchMode="startsWith" value="#{taskBean.selectedItem.approvalAction}" required="true">
                        <p:ajax event="change" update="comment"  listener="#{taskBean.handleActionChange}" />
                        <f:selectItem itemLabel="--Select Action--" itemValue="" />  
                        <f:selectItem itemLabel="Approve" itemValue="AP" /> 
                        <f:selectItem itemLabel="Reject" itemValue="RJ" />  
                        <f:selectItem itemLabel="Keep In View" itemValue="KIV" />  
                    </p:selectOneMenu> 

                    <p:tooltip for="actiontypelabel" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel id="cardl" for="card" title="select the card to pay from"  value="Card:" rendered="#{taskBean.selectedItem.cardRequired}"/>
                    <p:selectOneMenu id="card" style="width:350px" required="true" filter="true" rendered="#{taskBean.selectedItem.cardRequired}" filterMatchMode="startsWith" value="#{taskBean.selectedItem.corporateCard}"  converter="cardConverter" >
                        <f:selectItem itemLabel="--Select Card--" itemValue="" />  
                        <f:selectItems value="#{taskBean.corporateCards}" var="card" itemLabel="#{card.description} (#{card.cardNumber})" itemValue="#{card}"  />  
                    </p:selectOneMenu> 
                    <p:tooltip for="cardl" showEvent="mouseover" hideEvent="mouseout" rendered="#{taskBean.selectedItem.cardRequired}"/>
                    <p:outputLabel for="token"  value="Token:" rendered="false"/>
                    <p:inputText id="token" style="width:350px" title="provide the token generated from your token device" value="#{taskBean.token}" required="true" rendered="false"/>
                    <p:tooltip for="token" showEvent="mouseover" hideEvent="mouseout" rendered="false"/>

                    <p:outputLabel for="cardpin"  value="Card PIN:" rendered="#{taskBean.selectedItem.cardRequired}"/>
                    <p:password id="cardpin" style="width:350px" title="provide the pin for this card" value="#{taskBean.pin}" maxlength="4" required="true" rendered="#{taskBean.selectedItem.cardRequired}"/>
                    <p:tooltip for="cardpin" showEvent="mouseover" hideEvent="mouseout" rendered="#{taskBean.selectedItem.cardRequired}"/>
                    <p:outputLabel id="expMontht" title="expiration month of the card" for="expMonth" rendered="#{taskBean.selectedItem.cardRequired}"  value="Expiration Month:" />
                    <p:selectOneMenu id="expMonth" filter="true" required="true" rendered="#{taskBean.selectedItem.cardRequired}" filterMatchMode="startsWith" style="width:350px" value="#{taskBean.expMonth}" >
                            <f:selectItem itemLabel="--Select Month--" itemValue="" />  
                            <f:selectItem itemLabel="January" itemValue="01" /> 
                            <f:selectItem itemLabel="February" itemValue="02" /> 
                            <f:selectItem itemLabel="March" itemValue="03" /> 
                            <f:selectItem itemLabel="April" itemValue="04" /> 
                            <f:selectItem itemLabel="May" itemValue="05" /> 
                            <f:selectItem itemLabel="June" itemValue="06" /> 
                            <f:selectItem itemLabel="July" itemValue="07" /> 
                            <f:selectItem itemLabel="August" itemValue="08" /> 
                            <f:selectItem itemLabel="September" itemValue="09" /> 
                            <f:selectItem itemLabel="October" itemValue="10" /> 
                            <f:selectItem itemLabel="November" itemValue="11" /> 
                            <f:selectItem itemLabel="December" itemValue="12" /> 
                        </p:selectOneMenu> 
                        <p:tooltip for="expMontht" rendered="#{taskBean.selectedItem.cardRequired}" showEvent="mouseover" hideEvent="mouseout" />
                        <p:outputLabel id="expYeart" title="expiration year of the card" for="expYear" rendered="#{taskBean.selectedItem.cardRequired}"  value="Expiration Year:" />
                        <p:selectOneMenu id="expYear" required="true" rendered="#{taskBean.selectedItem.cardRequired}" filter="true" filterMatchMode="startsWith" style="width:350px" value="#{taskBean.expYear}" >
                            <f:selectItem itemLabel="--Select Year--" itemValue="" />  
                            <f:selectItems itemLabel="#{year}" itemValue="#{year}" var="year" value="#{taskBean.years}"/>  
                        </p:selectOneMenu> 
                        <p:tooltip for="expYeart" rendered="#{taskBean.selectedItem.cardRequired}" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel for="comment"  value="Comment:" />
                    <p:inputTextarea id="comment"  maxlength="255" style="width:350px" title="reason for the action selected. mandatory if rejected" value="#{taskBean.selectedItem.comment}" required="#{taskBean.commentRequired}" />
                    <p:tooltip for="comment" showEvent="mouseover" hideEvent="mouseout" />
                    <p:outputLabel class="Underline fontBold" value="#{not empty taskBean.previousApprovalTasks?'Previously approved by':''}"/>
                    <p:outputLabel class="Underline fontBold" value="#{not empty taskBean.previousApprovalTasks?'Comment':''}"/>
                    <p:outputLabel/> 
                    <c:forEach items="#{taskBean.previousApprovalTasks}" var="prevTask">
                        <p:outputLabel  value="#{prevTask.actor.identity} on #{prevTask.actionDateFormatted}"/> 
                        <p:outputLabel  value="#{not empty prevTask.comment?'Comment:':''} #{not empty prevTask.comment?prevTask.comment:'No Comment'}"/> 
                        <p:outputLabel/> 
                    </c:forEach>
                   
                    <h:panelGrid columns="3"  class="Container80">
                        <p:outputLabel/>                    
                        <p:commandButton value="Check Balance" rendered="${taskBean.selectedItem.approvalRoute.approvalType.description eq 'Payment' and userBean.loggedInUser.role.finalAuthorizerRole}" ajax="true" onstart="showProgress()" oncomplete="hideProgress()" update=":growl" action="#{taskBean.checkBalance}" styleClass="GreenButton Fleft" />
                    <p:commandButton value="Action" ajax="false" onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:taskForm,:taskFormRef:taskTable" action="#{taskBean.action}" styleClass="GreenButton Fleft" />
                    </h:panelGrid>

                </h:panelGrid>
            </p:fieldset>  
        </div>   

        <p:confirmDialog widgetVar="alreadyActedMessage" message="Task Already Acted On" width="40%">  
            <h:panelGrid columns="2"  width="100%" cellspacing="20px">
                <p:outputLabel  value="Action:"/> 
                <p:outputLabel  value="#{taskBean.selectedItem.approvalAction eq 'AP'?'Approved':taskBean.selectedItem.approvalAction eq 'RJ'?'Rejected':''}"/> 
                <p:outputLabel  value="Date:"/> 
                <p:outputLabel  value="#{taskBean.selectedItem.actionDateFormatted}"/> 
                <p:outputLabel  value="Comment:"/> 
                <p:outputLabel  value="#{taskBean.selectedItem.comment}"/> 
				<p:outputLabel/> 
				<p:commandButton value="Close" oncomplete="PF('alreadyActedMessage').hide();" />
            </h:panelGrid>
            
        </p:confirmDialog>

    </h:form>

</ui:composition>