<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="taskFormRef">
          <p:panel  id="filter" header="Filter" toggleable="true" collapsed="true" widgetVar="filter">
            <h:panelGrid id="taskfilter" class="Container100" columns="6" cellpadding="1" cellspacing="10">
			 <p:outputLabel for="taskStatefilter" value="Task State:" />
                 <p:selectOneMenu id="taskStatefilter"  style="width:240px" value="#{taskTableBean.taskStatefilter}" > 
                    <f:selectItems value="#{taskTableBean.stateOptions}" var="statevar" itemLabel="#{statevar}" itemValue="#{statevar}"  />  
                </p:selectOneMenu> 
                      <p:outputLabel for="fromDate"  value="From Date:" />
                <p:calendar id="fromDate" value="#{taskTableBean.fromDate}" />
                  <p:outputLabel for="toDate"  value="To Date:" />
                <p:calendar id="toDate" value="#{taskTableBean.toDate}" />
                	
                <p:commandButton value="Refresh" onstart="showProgress()" oncomplete="hideProgress()" update=":taskFormRef" action="#{taskTableBean.init}" styleClass="GreenButton Fleft" />
            </h:panelGrid>
      
      </p:panel>
    <p:dataTable id="taskTable" lazy="true" var="task" 
                 value="${taskTableBean.lazyDataModel}" paginator="true" sortField="approvalAction" sortOrder="descending" 
                 rows="${taskTableBean.rowcount}"  selectionMode="single" selection="#{taskBean.selectedItem}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15">
         <f:facet name="header">Tasks </f:facet>
         <p:ajax event="rowSelect" listener="#{taskBean.onRowSelect}" update=":taskForm" onstart="showProgress()" oncomplete="hideProgress()"/>
		 <c:set var="type" value="#{task.approvalAction eq 'OP'?'ui-icon-mail-closed':'ui-icon-mail-open'}" />
         <p:column headerText="" style="width: 20px">
               <h:outputText styleClass="ui-icon #{type}" /> 
         </p:column>
         <p:column headerText="Task Created Date" style="width: 220px"><h:outputText value="#{task.createdDateFormatted}" /></p:column>
                    <p:column headerText="Group/User"  style="width: 80px"><h:outputText value="#{task.taskType}" /></p:column>
          <p:column headerText="Approval Type"  style="width: 120px"><h:outputText value="#{task.approvalRoute.approvalType.description}" /></p:column>
          <p:column headerText="Request Type" style="width: 120px"><h:outputText value="#{task.requestApprovalType eq 'RCA'?'CREATED':task.requestApprovalType eq 'RMA'?'MODIFIED':'OTHERS'}" /></p:column>
          <p:column headerText="Focus On" ><h:outputText value="#{task.targetObjFormatted}" /></p:column>
    </p:dataTable>
</h:form>
</ui:composition>