/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 4:37:01 PM
    Author     : Oluwasegun.Idowu
*/

.ui-datatable table tbody tr td {
    border: 1px solid #e5ebf0;
    color: #595959 !important;
    transition: all 0.5s ease 0s;
}

.ui-datatable .ui-datatable-tablewrapper table thead tr th, .ui-datatable .ui-datatable-tablewrapper table tfoot tr td, .ui-datatable table thead tr th {
    background-color: #c3c3c3;
    border: 1px solid #c1d5df;
    color: #595959 !important;
    outline: medium none;
    padding: 5px;
}
.ui-fieldset-content {
    color: #595959 !important;
    font-size: 14px;
}

.ui-outputlabel, table tbody tr td {
   color: #595959 !important;
}

.ui-inputfield {
    background-color: #fff;
    border: 1px solid #d1d3d4;
    color: #595959 !important;
    font-family: "titillium_webregular" !important;
    font-size: 14px;
    padding: 6px !important;
    transition: all 0.5s ease 0s;
}

.ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td {
    background-color: #c0c0c0 !important; 
    color: #fff !important;
}

.processmodalhidden {
    display: none
}

.processmodal {
    display: block;
    font-size: 16pt;
    font-weight: bold;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 105%;
    height: 205%;
    background-color: #ccc;
    text-align: center;
    padding-top: 20%;
    filter: alpha(opacity=75);
    opacity: 0.75;
    
}

.actions a{display:inline-block
}

.actions span{display:inline-block
}

.edit {
     background: url(../images/favourite.png) no-repeat !important;
}

.ui-icon-pencil {
       background-image: url("/CorporatePay/javax.faces.resource/images/add1.png.cp?ln=primefaces-sentinel") !important;
}

.ui-datatable .ui-icon-pencil {
    background-image: url("/CorporatePay/javax.faces.resource/images/add.png.cp?ln=primefaces-sentinel");
}


.ui-datatable .ui-icon-clock {
    background-image: url("/CorporatePay/javax.faces.resource/images/add.png.cp?ln=primefaces-sentinel");
}

.ui-datatable .ui-icon-refresh {
    background-image: url("/CorporatePay/javax.faces.resource/images/1433263156_approve.png.cp?ln=primefaces-sentinel");
}

.ui-commandlink {
    color: #ffffff !important;
    margin-right: 5px;
    text-decoration: underline;
}

/*.ui-widget {
    font-size: x-small
}*/

.name {
    vertical-align: top;
    font-weight: bold;
    width: 115px;
    float: left;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

.name2 {
    vertical-align: top;
    font-weight: bold;
    width: 200px;
    float: left;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

.name3 {
    vertical-align: top;
    font-weight: bold;
    width: 315px;
    float: left;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

.value {
    float: left;
    padding: 5px;
}

.valueRight {
    float: right;
}


.controls-length{
    width: 180px;
}
.controls-length2{
    width: 250px;
}

.controls-length3{
    width: 300px;
}

.controls-length4{
    width: 450px;
}

.ui-selectonemenu-filter-container {
    width: 100% !important;
}

.ui-selectonemenu-filter-container {
    width: 100% !important;
}


.ui-autocomplete .ui-inputfield {
clear: left;
cursor: text;
list-style-type: none;
margin: 0;
min-height: 1px;
overflow: hidden;
width: 450px;
}

#chatt {
     background-color: #E0E0E0;
    padding: 1px;
    float:left;
    text-align: left;
    margin: 0px 0px 0px 0px;
    position:fixed;
    bottom:0;
    right:0;
    z-index: 1001;
}

.Container100_{ width:150%; overflow:scroll; float:left; position:absolute}
